ALLRIS_Satire_Agent.json
{
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalisiere Eingabe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalisiere Eingabe": {
      "main": [
        [
          {
            "node": "Kernbotschaft-Kandidaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kernbotschaft-Kandidaten": {
      "main": [
        [
          {
            "node": "Waehle Kernbotschaft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Waehle Kernbotschaft": {
      "main": [
        [
          {
            "node": "Varianten generieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Varianten generieren": {
      "main": [
        [
          {
            "node": "Parse Satire JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "ALLRIS_Satire_Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "a39f977d-e246-48a3-8c30-efd312fdb78e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1008,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction asArr(v) { return Array.isArray(v) ? v.filter(Boolean).map(safeStr) : []; }\n\nconst row = $json;\n\nreturn {\n  json: {\n    vorgangKey: safeStr(row.vorgangKey),\n    vorgangsnummer: safeStr(row.vorgangsnummer),\n    sourceTopic: safeStr(row.sourceTopic),\n    sourceConflict: safeStr(row.sourceConflict),\n    requiredTerms: asArr(row.requiredTerms),\n    requiredObjects: asArr(row.requiredObjects),\n    requiredAction: safeStr(row.requiredAction),\n    affectedGroups: asArr(row.affectedGroups),\n    concreteNumbers: asArr(row.concreteNumbers),\n    responsibilities: asArr(row.responsibilities),\n    documentType: safeStr(row.documentType),\n    quotesVerbatim: asArr(row.quotesVerbatim),\n    sprengstoff: safeStr(row.sprengstoff) || 'GERING'\n  }\n};"
      },
      "id": "68197602-ac9e-4293-bf43-51e5e4ecf735",
      "name": "Normalisiere Eingabe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        240
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction asArr(v) { return Array.isArray(v) ? v.filter(Boolean).map(safeStr) : []; }\n\nfunction getAiText(j) {\n  if (typeof j.content === 'string') return j.content;\n  if (typeof j.text === 'string') return j.text;\n  if (j.message && typeof j.message.content === 'string') return j.message.content;\n  if (Array.isArray(j.choices) && j.choices[0] && j.choices[0].message) return safeStr(j.choices[0].message.content);\n  if (Array.isArray(j.output)) {\n    const msg = j.output.find(function(o) { return o && o.type === 'message' && Array.isArray(o.content); });\n    const part = msg && msg.content.find(function(c) { return c && typeof c.text === 'string'; });\n    if (part) return part.text;\n  }\n  return safeStr(JSON.stringify(j));\n}\n\nfunction extractJson(text) {\n  const t = safeStr(text).replace(/```json/gi, '```').replace(/```/g, '');\n  const start = t.indexOf('{');\n  const end = t.lastIndexOf('}');\n  if (start === -1 || end === -1 || end < start) return null;\n  try { return JSON.parse(t.substring(start, end + 1)); } catch (e) { return null; }\n}\n\nfunction normalizeText(v) {\n  return safeStr(v).toLowerCase()\n    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue').replace(/ß/g, 'ss');\n}\nfunction stemLight(w) {\n  return w.replace(/(ungen|ierung|heit|keit|schaft|tion|ieren|iere|iert|ung|lich|isch|ische|ischen|ischer|isches)$/, '').replace(/(en|er|em|es|e|n|s|t)$/, '');\n}\nfunction tokenOverlap(a, b) {\n  const tokensA = normalizeText(a).split(/[\\W_]+/).filter(w => w.length >= 4).map(stemLight);\n  const tokensB = normalizeText(b).split(/[\\W_]+/).filter(w => w.length >= 4).map(stemLight);\n  if (tokensA.some(w => tokensB.includes(w))) return true;\n  const rawA = normalizeText(a).replace(/[\\W_]+/g, ''), rawB = normalizeText(b).replace(/[\\W_]+/g, '');\n  for (const tok of tokensA) { if (tok.length >= 5 && rawB.includes(tok)) return true; }\n  for (const tok of tokensB) { if (tok.length >= 5 && rawA.includes(tok)) return true; }\n  return false;\n}\n\nconst base = $('Normalisiere Eingabe').item.json;\nconst kbNode = $('Waehle Kernbotschaft').item.json;\nconst fixedKernbotschaft = safeStr(kbNode.kernbotschaft);\nconst aiText = getAiText($json);\nconst parsed = extractJson(aiText);\n\nconst ceilings = { KEINER: 2, GERING: 2, MITTEL: 4, HOCH: 5 };\nconst maxIntensity = ceilings[base.sprengstoff] || 2;\nconst requiredTerms = asArr(base.requiredTerms);\n\nfunction clampVariant(v, idx) {\n  v = (v && typeof v === 'object') ? v : {};\n  let intensity = Number(v.satireIntensity);\n  if (!Number.isFinite(intensity)) intensity = 1;\n  intensity = Math.max(1, Math.min(maxIntensity, Math.round(intensity)));\n  const imageHeadline = safeStr(v.imageHeadline);\n  const imageSubline = safeStr(v.imageSubline);\n  const headlineText = imageHeadline + ' ' + imageSubline;\n  const headlineGrounded = requiredTerms.length === 0 ? null : requiredTerms.some(function(t) { return tokenOverlap(t, headlineText); });\n  return {\n    code: safeStr(v.code) || ('S' + (idx + 1)),\n    satireIntensity: intensity,\n    satireTarget: safeStr(v.satireTarget),\n    satireBrief: safeStr(v.satireBrief),\n    satireAngle: safeStr(v.satireAngle),\n    satirePunchlines: asArr(v.satirePunchlines),\n    satireDoNotClaim: asArr(v.satireDoNotClaim),\n    satireSafetyNote: safeStr(v.satireSafetyNote),\n    imageHeadline: imageHeadline,\n    imageSubline: imageSubline,\n    headlineGrounded: headlineGrounded\n  };\n}\n\nif (!parsed || !Array.isArray(parsed.variants) || parsed.variants.length === 0) {\n  return {\n    json: {\n      vorgangKey: base.vorgangKey,\n      vorgangsnummer: base.vorgangsnummer,\n      variants: [],\n      kernbotschaft: fixedKernbotschaft,\n      parseError: true\n    }\n  };\n}\n\nreturn {\n  json: {\n    vorgangKey: base.vorgangKey,\n    vorgangsnummer: base.vorgangsnummer,\n    variants: parsed.variants.map(clampVariant),\n    kernbotschaft: fixedKernbotschaft,\n    parseError: false\n  }\n};"
      },
      "id": "67e517cb-96e8-448c-bc51-72b600e5ee18",
      "name": "Parse Satire JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        100
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=={{ (() => { return `Du entwickelst KANDIDATEN fuer eine zentrale politische Kernbotschaft (satirisch zugespitzte Hauptaussage) zu einem kommunalpolitischen Vorgang, ausschliesslich auf Basis der unten gelieferten Fakten. Du erfindest keine neuen Tatsachen.\n\nFAKTEN (bereits extrahiert, gelten als einzige Wahrheitsquelle):\nThema: ${$json.sourceTopic}\nKonflikt: ${$json.sourceConflict}\nPflichtbegriffe: ${JSON.stringify($json.requiredTerms)}\nKonkrete Objekte: ${JSON.stringify($json.requiredObjects)}\nHandlung/Konsequenz: ${$json.requiredAction}\nBetroffene Gruppen: ${JSON.stringify($json.affectedGroups)}\nKonkrete Zahlen/Daten: ${JSON.stringify($json.concreteNumbers)}\nZustaendigkeit: ${JSON.stringify($json.responsibilities)}\nDokumenttyp: ${$json.documentType}\nWoertliche Zitate: ${JSON.stringify($json.quotesVerbatim)}\nSprengstoff-Einstufung (bestimmt die maximal erlaubte Satire-Intensitaet): ${$json.sprengstoff}\n\n${!$json.sourceConflict ? 'HINWEIS: Konflikt ist leer - dieser Vorgang hat keinen dokumentierten Streitpunkt (z.B. eine reine Mitteilung/ein Statusbericht). Verfalle NICHT in generische Buerokratie-Metaphern (\\'Stau\\', \\'Warteschleife\\', \\'Rolle rueckwaerts\\', \\'bremst aus\\'). Suche stattdessen aktiv den schaerfsten verfuegbaren Aufhaenger in den Fakten oben: eine auffaellige Zeitspanne oder ein auffaelliges Datum aus Konkrete Zahlen/Daten, ein konkretes, plastisches Objekt aus Konkrete Objekte, oder eine woertliche Zuspitzung eines Zitats aus Woertliche Zitate. Mindestens einer der 3 Kandidaten MUSS sich auf ein solches konkretes Element stuetzen, nicht auf eine abstrakte Verzoegerungs-Metapher.' : ''}\n\nErzeuge GENAU 3 unterschiedliche Kernbotschaften-Kandidaten (maximal 240 Zeichen je Kandidat). Jeder Kandidat ist eine EIGENSTAENDIGE moegliche Hauptaussage, die sich jeweils auf ein ANDERES konkretes Element der Fakten stuetzt, soweit vorhanden - z.B. einer auf eine auffaellige Zahl/Zeitspanne, einer auf ein konkretes Objekt, einer auf ein woertliches Zitat oder die Handlung/Konsequenz. Ziel: drei wirklich unterschiedliche moegliche Aufhaenger anbieten, keine drei Umformulierungen derselben Aussage.\n\nJeder Kandidat muss das konkrete Thema/den Vorgang erkennbar nennen, darf satirisch zugespitzt sein, muss faktenbasiert bleiben und darf niemals eine schutzbeduerftige Gruppe oder eine reale Einzelperson als Zielscheibe haben.\n\nFuer jeden Kandidaten gib zusaetzlich an:\n- anchorType: \"zahl_zeitspanne\", \"konkretes_objekt\", \"zitat\", \"handlung_konsequenz\" oder \"sonstiges\" - je nachdem, worauf sich der Kandidat hauptsaechlich stuetzt.\n- konkretheit: Zahl von 1 (generische Floskel, koennte zu fast jedem Verwaltungsvorgang passen) bis 5 (sehr plastisch/konkret, eindeutig NUR zu diesem Vorgang passend).\n- begruendung: 1 Satz, warum dieser Kandidat funktioniert.\n\n==================================================\nKEIN ERZWUNGENER KONFLIKT\n==================================================\n\nEin fehlender Konflikt darf niemals durch eine unbelegte Vorgeschichte ersetzt werden. Insbesondere gilt:\n- neue Beteiligung ungleich frueherer Ausschluss\n- neue Rolle ungleich fruehere Inkompetenz\n- neue Regel ungleich vorheriges Chaos\n- neue Massnahme ungleich vorheriges Versagen\n- neue Pruefung ungleich bisherige Ignoranz\n- neue Planung ungleich bisherige Planlosigkeit\n- offene Frage ungleich fehlende Existenz\n- Forderung ungleich bisheriges Fehlen\n- erwartete Wirkung ungleich sicheres Ergebnis\n\nWenn eine Pointe nur funktioniert, weil sie eine dieser unbelegten Vorgeschichten unterstellt: verwerfen und neu formulieren.\n\n==================================================\nSENSIBLE BETROFFENE / SCHUTZBEDUERFTIGE GRUPPEN\n==================================================\n\nDiese Regeln sind verbindlich und ueberschreiben alle anderen Regeln.\n\nWenn affectedGroups oben Kinder, Schueler, Menschen mit Behinderung, blinde oder sehbehinderte Menschen, kranke Menschen, alte Menschen, Unfallopfer, arme Menschen, wohnungslose Menschen, Gefluechtete oder andere schutzbeduerftige Gruppen enthaelt, gilt zusaetzlich:\n\n1. Die Kernbotschaft darf niemals gegen die betroffene Person oder Gruppe gerichtet sein.\n2. Sie darf niemals deren Einschraenkung, Hilfsmittel, Schutzbedarf oder Lage laecherlich machen.\n3. Die Zielscheibe muss Verwaltung, Haushalt, Verfahren, Zustaendigkeit, verspaetete Umsetzung, Prioritaetensetzung oder Buerokratielogik sein.\n4. Wenn eine Formulierung doppeldeutig ist, waehle die sicherere Variante.\n\nWaehle danach SELBST den STAERKSTEN der 3 Kandidaten aus (in der Regel die hoechste Konkretheit, sofern weiterhin faktenbasiert und regelkonform) und markiere GENAU EINEN mit \"empfohlen\": true, die anderen beiden mit \"empfohlen\": false.\n\nAntworte AUSSCHLIESSLICH mit einem JSON-Objekt in genau diesem Schema, keine Markdown-Codebloecke, kein Text davor oder danach:\n\n{\n  \"kandidaten\": [\n    { \"kernbotschaft\": \"\", \"anchorType\": \"\", \"konkretheit\": 0, \"begruendung\": \"\", \"empfohlen\": false },\n    { \"kernbotschaft\": \"\", \"anchorType\": \"\", \"konkretheit\": 0, \"begruendung\": \"\", \"empfohlen\": false },\n    { \"kernbotschaft\": \"\", \"anchorType\": \"\", \"konkretheit\": 0, \"begruendung\": \"\", \"empfohlen\": false }\n  ]\n}`; })() }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1440,
        100
      ],
      "id": "a986f204-d7ef-41e6-8fdd-062d9cb39bea",
      "name": "Kernbotschaft-Kandidaten",
      "credentials": {
        "openAiApi": {
          "id": "RiT1gwJpQWzSo6NO",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction getAiText(j) {\n  if (typeof j.content === 'string') return j.content;\n  if (typeof j.text === 'string') return j.text;\n  if (j.message && typeof j.message.content === 'string') return j.message.content;\n  if (Array.isArray(j.choices) && j.choices[0] && j.choices[0].message) return safeStr(j.choices[0].message.content);\n  if (Array.isArray(j.output)) {\n    const msg = j.output.find(function(o) { return o && o.type === 'message' && Array.isArray(o.content); });\n    const part = msg && msg.content.find(function(c) { return c && typeof c.text === 'string'; });\n    if (part) return part.text;\n  }\n  return safeStr(JSON.stringify(j));\n}\nfunction extractJson(text) {\n  const t = safeStr(text).replace(/```json/gi, '```').replace(/```/g, '');\n  const start = t.indexOf('{');\n  const end = t.lastIndexOf('}');\n  if (start === -1 || end === -1 || end < start) return null;\n  try { return JSON.parse(t.substring(start, end + 1)); } catch (e) { return null; }\n}\n\nconst base = $('Normalisiere Eingabe').item.json;\nconst aiText = getAiText($json);\nconst parsed = extractJson(aiText);\nconst kandidaten = (parsed && Array.isArray(parsed.kandidaten)) ? parsed.kandidaten : [];\n\nlet chosen = kandidaten.find(function(k) { return k && k.empfohlen === true; });\nif (!chosen && kandidaten.length > 0) {\n  chosen = kandidaten.slice().sort(function(a, b) { return (Number(b && b.konkretheit) || 0) - (Number(a && a.konkretheit) || 0); })[0];\n}\n\nconst kernbotschaft = chosen ? safeStr(chosen.kernbotschaft) : '';\n\nreturn {\n  json: Object.assign({}, base, {\n    kernbotschaft: kernbotschaft,\n    kernbotschaftAnchorType: chosen ? safeStr(chosen.anchorType) : '',\n    kernbotschaftAlternativen: kandidaten.filter(function(k) { return k !== chosen; }).map(function(k) { return safeStr(k && k.kernbotschaft); }),\n    kernbotschaftParseError: !kernbotschaft\n  })\n};"
      },
      "id": "865b3e27-fa3c-46e3-8962-9f6b05bf19b1",
      "name": "Waehle Kernbotschaft",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        100
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=={{ (() => { return `Du erstellst SATIRISCHE ZUSPITZUNGEN samt Headline/Subline ausschliesslich auf Basis der unten gelieferten Fakten. Du erfindest keine neuen Tatsachen. Du bewertest die Fakten nicht neu, du ueberzeichnest nur die gegebenen.\n\nFAKTEN (bereits extrahiert, gelten als einzige Wahrheitsquelle):\nThema: ${$json.sourceTopic}\nKonflikt: ${$json.sourceConflict}\nPflichtbegriffe (muessen woertlich oder sinngemaess in mindestens einer Punchline UND in Headline oder Subline pro Variante vorkommen): ${JSON.stringify($json.requiredTerms)}\nKonkrete Objekte: ${JSON.stringify($json.requiredObjects)}\nHandlung/Konsequenz: ${$json.requiredAction}\nBetroffene Gruppen: ${JSON.stringify($json.affectedGroups)}\nKonkrete Zahlen/Daten: ${JSON.stringify($json.concreteNumbers)}\nZustaendigkeit: ${JSON.stringify($json.responsibilities)}\nDokumenttyp: ${$json.documentType}\nWoertliche Zitate: ${JSON.stringify($json.quotesVerbatim)}\nSprengstoff-Einstufung (bestimmt die maximal erlaubte Satire-Intensitaet): ${$json.sprengstoff}\n\nKernbotschaft (bereits final festgelegt): ${$json.kernbotschaft}\n\nDie zentrale kernbotschaft steht bereits final fest (siehe unten) - du DARFST sie NICHT mehr aendern oder neu formulieren, nur in 5 unterschiedlich intensiven Varianten umsetzen.\n\nErzeuge GENAU 5 satirische Varianten der oben fest vorgegebenen kernbotschaft, mit unterschiedlicher Intensitaet (innerhalb der erlaubten Spanne), jeweils im selben Schema. WICHTIG: alle 5 Varianten muessen DIESELBE kernbotschaft und denselben Angriffswinkel transportieren, nur unterschiedlich intensiv/zugespitzt formuliert. Keine Variante darf einen eigenen, unabhaengigen Angriffswinkel, eine eigene Pointe oder einen eigenen satirischen Mechanismus erfinden - sie sind unterschiedlich scharfe Formulierungen DERSELBEN Kernaussage, keine fuenf alternativen Konzepte. Der Grund: kernbotschaft wird spaeter fuer Website-Artikel, Facebook-Post, Instagram-Caption, DIE-PARTEI-Reaktion und Pressestatement wiederverwendet - diese muessen alle zur selben Pointe passen wie das spaeter aus einer der 5 Varianten gebaute Bild.\n\nsatireIntensity-Skala:\n1 = mild ironisch\n2 = deutlich spoettisch\n3 = bissig\n4 = boese satirisch\n5 = maximal grotesk, aber faktenbasiert und rechtlich sauber\n\nIntensitaets-Obergrenze nach Sprengstoff (NICHT ueberschreiten - wird zusaetzlich technisch erzwungen):\n- KEINER: maximal 2\n- GERING: maximal 2\n- MITTEL: 3 oder 4\n- HOCH: 4 oder 5\n\nWaehle fuer die 5 Varianten unterschiedliche Werte innerhalb der erlaubten Spanne (z.B. bei MITTEL: 2, 3, 3, 4, 4 - bei GERING notfalls mehrfach 1 und 2, da die Spanne dort schmal ist).\n\nFuer JEDE Variante gilt:\n\nsatireTarget:\nZielscheibe darf nur sein: konkrete Regelung, konkretes Verfahren, belegbarer Widerspruch, politische Prioritaet, Verwaltungspraxis, Haushaltslogik, Zustaendigkeit, verspaetete Umsetzung, fehlende Vorausplanung, reaktive Politik, Doppelstandard, ungleiche Wirkung.\nNiemals eine einzelne reale Person als Zielscheibe.\nNiemals eine schutzbeduerftige Gruppe als Zielscheibe.\n\nBETROFFENE SIND NIE DIE POINTE (gilt IMMER, unabhaengig davon ob affectedGroups auf der Liste schutzbeduerftiger Gruppen unten steht):\nDie in \"Betroffene Gruppen\" (affectedGroups) genannten Personen sind diejenigen, die vom Missstand betroffen sind oder sich beschweren - zum Beispiel Anwohner, die unter einem Missstand leiden. Sie sind NIEMALS die Pointe oder Zielscheibe der Satire.\nSie duerfen in Punchlines, satireBrief oder satireAngle NICHT als sorglos, dumm, gleichgueltig, ignorant, vergnuegt inmitten der Gefahr oder als Mitverursacher des Problems dargestellt werden - auch nicht ironisch oder beilaeufig.\nWenn sie erwaehnt werden, dann ausschliesslich als Leidtragende eines Verwaltungsversagens, nie als Witzfigur. Die Pointe muss bei der Verwaltung/dem Verfahren bleiben, nicht beim Verhalten oder der Reaktion der Betroffenen.\n\nsatireBrief:\n2 bis 3 Saetze. Enthaelt konkretes Thema, konkreten Konflikt und satirische Ueberzeichnung. Darf keine neuen Tatsachen erfinden, die nicht oben in den Fakten stehen.\n\nsatireAngle:\nBenennt den konkreten Angriffswinkel, der aus der kernbotschaft folgt. MUSS in allen 5 Varianten inhaltlich derselbe sein (dieselbe Absurditaet, derselbe Widerspruch) - nur Formulierung und Intensitaet duerfen sich zwischen den Varianten unterscheiden. Keine blossen Allgemeinbegriffe wie \"Buerokratie\", \"Chaos\", \"Verwaltungsabsurditaet\" oder \"Politikversagen\". Der Angriffswinkel muss den konkreten Vorgang wiedererkennbar machen.\n\nsatirePunchlines:\nArray mit 4 bis 6 Punchlines. Jede Punchline maximal 14 Woerter. Jede Punchline nennt einen konkreten Gegenstand, Vorgang, Ort, Betrag, Begriff oder Konflikt aus den Fakten oben. Jede Punchline muss ohne zusaetzliche Erklaerung ungefaehr verstaendlich sein. Keine allgemeine Pointe, die zu vielen anderen Vorgaengen passen wuerde.\n\nsatireDoNotClaim:\nListe von Aussagen, die NICHT sicher belegt sind und nicht behauptet werden duerfen - insbesondere, falls durch die Fakten oben nahegelegt aber nicht bewiesen: Absicht, Korruption, Betrug, persoenliche Bereicherung, Rechtswidrigkeit, konkrete Schuld einzelner Personen.\n\nsatireSafetyNote:\n1 bis 2 Saetze. Erklaert die belegbare Grundlage der Satire und welche Aussage nur satirische Ueberzeichnung ist. Falls betroffene Gruppen existieren, ausdruecklich benennen, dass sie NICHT das Ziel der Satire sind, sondern die Zustaendigen bzw. das Verfahren.\n\nimageHeadline:\nHARTES LIMIT: maximal 38 Zeichen (inklusive Leerzeichen) - dieses Zeichenlimit ist wichtiger als das Wortlimit, da lange deutsche Komposita (z.B. \"Restitutionsforderungen\") das Bild auch bei nur 3-6 Woertern sprengen koennen. Zusaetzlich als Richtwert: maximal 6 Woerter. Wenn ein Pflichtbegriff aus den Fakten ein langes Kompositum ist, halte den Rest der Headline entsprechend kuerzer, damit die 38-Zeichen-Grenze insgesamt eingehalten wird - notfalls durch ein kuerzeres Synonym statt eines weiteren langen Wortes. Boese, absurd, plakatfaehig - aber bei sensiblen Themen niemals auf Kosten betroffener Personen. Baut direkt auf satireBrief/satireAngle/satirePunchlines derselben Variante auf.\n\nimageSubline:\nHARTES LIMIT: maximal 55 Zeichen (inklusive Leerzeichen) - aus demselben Grund wichtiger als das Wortlimit. Zusaetzlich als Richtwert: maximal 9 Woerter. Bevorzuge kurze, gebraeuchliche Woerter statt langer Komposita, wenn eine kuerzere Formulierung dieselbe Aussage trifft. Trockene DIE-PARTEI-Reaktion gegen Verwaltung, Haushalt, Verfahren, Zustaendigkeit oder Umsetzung - niemals gegen Betroffene.\nimageHeadline und imageSubline muessen zusammen als EIN zusammenhaengender Lesefluss funktionieren, nicht als zwei unabhaengige Saetze mit eigenem Thema.\nMindestens eines der beiden Felder MUSS ein klares Themenwort aus den Fakten oben enthalten (z.B. einen der Pflichtbegriffe oder konkreten Objekte).\nMindestens ein Pflichtbegriff aus den Fakten oben MUSS woertlich oder sinngemaess in imageHeadline ODER imageSubline vorkommen.\nHeadline und Subline muessen auch fuer Leser funktionieren, die den konkreten Vorgang NICHT kennen: keine reinen Fachbegriffe ohne erkennbaren Kontext (z.B. nicht nur \"Provenienzforschung\", sondern erkennbar machen, worum es geht). Ziel ist, Neugier auf den Artikel zu wecken - nicht nur Insider zum Schmunzeln zu bringen.\nVerboten: brave Verwaltungssprache, neutrale Zusammenfassung, juristische Floskeln, neue Tatsachenbehauptungen ohne Faktengrundlage, Korruptionsvorwuerfe, persoenliche Angriffe auf echte Personen.\nVerwende ausschliesslich echte, existierende deutsche Woerter und grammatikalisch korrekte Komposita - keine erfundenen Kunstwoerter oder unsauberen Wortzusammensetzungen (z.B. nicht \"Ersparte-Finanzchaos\").\n\nHaerteregel: Eine hoehere Intensitaet darf NUR durch haertere Kritik an Verfahren, Haushalt, Planung, Priorisierung, Zustaendigkeit oder Umsetzung entstehen - niemals durch haertere Darstellung der Betroffenen. Das gilt fuer satirePunchlines UND fuer imageHeadline/imageSubline gleichermassen, in allen 5 Varianten.\n\n==================================================\nSENSIBLE BETROFFENE / SCHUTZBEDUERFTIGE GRUPPEN\n==================================================\n\nDiese Regeln sind verbindlich und ueberschreiben alle anderen Regeln.\n\nWenn affectedGroups oben Kinder, Schueler, Menschen mit Behinderung, blinde oder sehbehinderte Menschen, kranke Menschen, alte Menschen, Unfallopfer, arme Menschen, wohnungslose Menschen, Gefluechtete oder andere schutzbeduerftige Gruppen enthaelt, gilt zusaetzlich:\n\n1. Die Satire darf niemals gegen die betroffene Person oder Gruppe gerichtet sein.\n2. Die Satire darf niemals deren Einschraenkung, Hilfsmittel, Schutzbedarf oder Lage laecherlich machen.\n3. Die satirische Zielscheibe muss Verwaltung, Haushalt, Verfahren, Zustaendigkeit, verspaetete Umsetzung, Prioritaetensetzung oder Buerokratielogik sein.\n4. Keine Formulierung, die ein Bildmodell spaeter als Gefahr, Hindernis, Demuetigung oder Spott gegen Betroffene visualisieren koennte.\n5. Wenn eine Formulierung doppeldeutig ist, waehle die sicherere Variante.\n\n==================================================\nKEIN ERZWUNGENER KONFLIKT\n==================================================\n\nEin fehlender Konflikt darf niemals durch eine unbelegte Vorgeschichte ersetzt werden. Insbesondere gilt:\n- neue Beteiligung ungleich frueherer Ausschluss\n- neue Rolle ungleich fruehere Inkompetenz\n- neue Regel ungleich vorheriges Chaos\n- neue Massnahme ungleich vorheriges Versagen\n- neue Pruefung ungleich bisherige Ignoranz\n- neue Planung ungleich bisherige Planlosigkeit\n- offene Frage ungleich fehlende Existenz\n- Forderung ungleich bisheriges Fehlen\n- erwartete Wirkung ungleich sicheres Ergebnis\n\nWenn eine Pointe nur funktioniert, weil sie eine dieser unbelegten Vorgeschichten unterstellt: verwerfen und neu formulieren.\n\n==================================================\nSELBSTPRUEFUNG VOR AUSGABE\n==================================================\n\nPruefe fuer JEDE Variante:\n1. Erkennt man das Thema, wenn man imageHeadline und imageSubline zusammen liest?\n2. Kommt mindestens ein Pflichtbegriff in imageHeadline oder imageSubline vor?\n3. Ist bei schutzbeduerftigen Gruppen die Pointe eindeutig gegen Verwaltung/Haushalt/Verfahren gerichtet, nicht gegen Betroffene?\n4. Sind imageHeadline und imageSubline zusammen EIN kohaerenter Gedanke?\n5. Ist die Pointe frei von unbelegten Vorgeschichten-Unterstellungen (siehe KEIN ERZWUNGENER KONFLIKT)?\n6. Transportiert diese Variante DIESELBE kernbotschaft und denselben Angriffswinkel wie die anderen Varianten - nur unterschiedlich intensiv/zugespitzt formuliert, nicht inhaltlich verschieden?\n7. Werden die affectedGroups irgendwo als sorglos, dumm, gleichgueltig oder vergnuegt inmitten der Gefahr dargestellt (siehe BETROFFENE SIND NIE DIE POINTE)? Falls ja: neu formulieren.\n8. Versteht ein Leser, der den Vorgang nicht kennt, ungefaehr worum es geht - und wird er neugierig auf mehr?\n9. Zaehle die Zeichen: ist imageHeadline maximal 38 Zeichen lang UND imageSubline maximal 55 Zeichen lang (jeweils inklusive Leerzeichen)? Falls eine der beiden Grenzen ueberschritten ist: kuerzen, bevor die Variante ausgegeben wird.\n10. Falls Konflikt oben leer war: baut die Pointe auf einem konkreten Element (Zahl/Datum, Objekt oder Zitat) statt auf einer generischen Verzoegerungs-Metapher auf?\n\nWenn eine dieser Fragen \"nein\" ergibt: Variante neu formulieren, bevor sie ausgegeben wird.\n\nAntworte AUSSCHLIESSLICH mit einem JSON-Objekt in genau diesem Schema, keine Markdown-Codebloecke, kein Text davor oder danach:\n\n{\n  \"variants\": [\n    { \"code\": \"S1\", \"satireIntensity\": 0, \"satireTarget\": \"\", \"satireBrief\": \"\", \"satireAngle\": \"\", \"satirePunchlines\": [], \"satireDoNotClaim\": [], \"satireSafetyNote\": \"\", \"imageHeadline\": \"\", \"imageSubline\": \"\" },\n    { \"code\": \"S2\", \"satireIntensity\": 0, \"satireTarget\": \"\", \"satireBrief\": \"\", \"satireAngle\": \"\", \"satirePunchlines\": [], \"satireDoNotClaim\": [], \"satireSafetyNote\": \"\", \"imageHeadline\": \"\", \"imageSubline\": \"\" },\n    { \"code\": \"S3\", \"satireIntensity\": 0, \"satireTarget\": \"\", \"satireBrief\": \"\", \"satireAngle\": \"\", \"satirePunchlines\": [], \"satireDoNotClaim\": [], \"satireSafetyNote\": \"\", \"imageHeadline\": \"\", \"imageSubline\": \"\" },\n    { \"code\": \"S4\", \"satireIntensity\": 0, \"satireTarget\": \"\", \"satireBrief\": \"\", \"satireAngle\": \"\", \"satirePunchlines\": [], \"satireDoNotClaim\": [], \"satireSafetyNote\": \"\", \"imageHeadline\": \"\", \"imageSubline\": \"\" },\n    { \"code\": \"S5\", \"satireIntensity\": 0, \"satireTarget\": \"\", \"satireBrief\": \"\", \"satireAngle\": \"\", \"satirePunchlines\": [], \"satireDoNotClaim\": [], \"satireSafetyNote\": \"\", \"imageHeadline\": \"\", \"imageSubline\": \"\" }\n  ]\n}`; })() }}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1792,
        100
      ],
      "id": "1f27ae4f-4255-4dbb-a60a-442195433785",
      "name": "Varianten generieren",
      "credentials": {
        "openAiApi": {
          "id": "RiT1gwJpQWzSo6NO",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}