ALLRIS_P5b_Matrix_Headline_Reader.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Hole alle Vorgänge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole alle Vorgänge": {
      "main": [
        [
          {
            "node": "Finde wartenden Vorgang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finde wartenden Vorgang": {
      "main": [
        [
          {
            "node": "Matrix Nachrichten lesen",
            "type": "main",
            "index": 0
          },
          {
            "node": "Finde erinnerungsfällige Vorgänge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matrix Nachrichten lesen": {
      "main": [
        [
          {
            "node": "Finde Sat-Antwort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finde Sat-Antwort": {
      "main": [
        [
          {
            "node": "Speichere Headline-Auswahl",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sende Bestätigung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finde erinnerungsfällige Vorgänge": {
      "main": [
        [
          {
            "node": "IF Nur Exhausted-Markierung?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sende Erinnerung": {
      "main": [
        [
          {
            "node": "Stelle Kontext nach Erinnerung wieder her",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stelle Kontext nach Erinnerung wieder her": {
      "main": [
        [
          {
            "node": "Speichere Erinnerung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Nur Exhausted-Markierung?": {
      "main": [
        [
          {
            "node": "Speichere Erinnerung",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sende Erinnerung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "4VXIOwv6ouMbBCER",
  "meta": null,
  "name": "ALLRIS_P5b_Matrix_Headline_Reader",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "b1e2c3d4-0001-4aaa-8bbb-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true
      },
      "id": "b1e2c3d4-0002-4aaa-8bbb-000000000002",
      "name": "Hole alle Vorgänge",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        176,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filtert auf ALLE Zeilen, die auf eine Headline/Subline-Auswahl per Matrix\n// warten (koennen mehrere gleichzeitig sein - die Vorgangsnummer ist seit\n// V2 Teil des Codes, deshalb keine Mehrdeutigkeit mehr bei parallelen Wartern),\n// und liest je Zeile die Kandidaten sowie den Zeitstempel des Matrix-Posts aus\n// visualJson.headlineCandidates / visualJson.candidatesPostedAt.\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try {\n    const p = JSON.parse(String(v));\n    return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {};\n  } catch (e) {\n    return {};\n  }\n}\n\nconst waiting = items.filter(item => String(item.json.headlineChoiceStage || '').trim() === 'awaiting_headline_choice');\n\nif (waiting.length === 0) {\n  return [];\n}\n\nreturn waiting.map(item => {\n  const row = item.json;\n  const vj = parseObj(row.visualJson);\n  const candidates = Array.isArray(vj.headlineCandidates) ? vj.headlineCandidates : [];\n  const candidatesPostedAt = vj.candidatesPostedAt || null;\n  const lastReminderAt = vj.lastReminderAt || null;\n  const reminderCount = Number(vj.reminderCount || 0);\n  return {\n    json: {\n      ...row,\n      _headlineCandidates: candidates,\n      _candidatesPostedAt: candidatesPostedAt,\n      _lastReminderAt: lastReminderAt,\n      _reminderCount: reminderCount\n    }\n  };\n});\n"
      },
      "id": "b1e2c3d4-0003-4aaa-8bbb-000000000003",
      "name": "Finde wartenden Vorgang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://matrix.org/_matrix/client/v3/rooms/!COxTeLJyPszYlaHbIx:matrix.golietz.de/messages?dir=b&limit=30",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1e2c3d4-0004-4aaa-8bbb-000000000004",
      "name": "Matrix Nachrichten lesen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "od1pN1F5wy2irSDs",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Sucht in den zuletzt gelesenen Matrix-Nachrichten nach einer Antwort, die\n// exakt (bis auf optionales '#' und Leerzeichen) einem Kandidaten-Code\n// entspricht - der Code enthaelt seit V2 die Vorgangsnummer\n// (z.B. \"2026-192-K2\"), deshalb ist die Zuordnung eindeutig, auch wenn\n// mehrere Vorgaenge gleichzeitig auf eine Auswahl warten.\n// Die blosse Vorgangsnummer mit \"-X\"-Suffix (z.B. \"2026-192-X\", OHNE Kandidat)\n// ist kein Auswahl-, sondern ein Reroll-Wunsch fuer den GANZEN Vorgang: statt\n// der Kandidaten wird er auf visualPromptStage='needs_prompt' zurueckgesetzt\n// (imageHeadline/imageSubline geleert), damit P2 beim naechsten planmaessigen\n// Lauf komplett neue Headline/Subline-Varianten erzeugt (siehe ZIEL_STATUS in\n// \"Filtere Visual-Status\"). Welcher der vier Kandidaten dabei angegeben wird,\n// spielt keine Rolle - deshalb wird fuer den Reroll nur die Vorgangsnummer\n// gematcht, kein einzelner Kandidaten-Code.\n// Findet sich keine gültige, neue Antwort, endet der Lauf ohne Änderung -\n// der nächste Poll (alle 15 Min) versucht es erneut.\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction normCode(v) { return safeStr(v).toLowerCase().replace(/^#/, '').replace(/\\s+/g, ''); }\nfunction vnCodeOf(row) { return safeStr(row.vorgangsnummer).replace(/[^0-9A-Za-z]+/g, '-').replace(/^-+|-+$/g, ''); }\n\nconst waitingRows = $('Finde wartenden Vorgang').all().map(i => i.json || {});\n\n// Kandidaten-Ebene (fuer normale Auswahl) und Vorgangs-Ebene (fuer Reroll),\n// je mit eigener candidatesPostedAt-Grenze (eine Antwort zaehlt nur, wenn sie\n// NACH dem Posten der Kandidaten fuer genau diesen Vorgang kam).\nconst allCandidates = [];\nconst allRows = [];\nfor (const row of waitingRows) {\n  const candidates = Array.isArray(row._headlineCandidates) ? row._headlineCandidates : [];\n  const postedAtMs = row._candidatesPostedAt ? Date.parse(row._candidatesPostedAt) : 0;\n  for (const c of candidates) {\n    allCandidates.push({ row, candidate: c, postedAtMs, normCode: normCode(c.code) });\n  }\n  if (candidates.length > 0) {\n    allRows.push({ row, postedAtMs, normVnCode: normCode(vnCodeOf(row)) });\n  }\n}\n\nconst chunk = Array.isArray(items[0].json.chunk) ? items[0].json.chunk : [];\n\nconst matches = [];\nfor (const ev of chunk) {\n  if (!ev || ev.type !== 'm.room.message') continue;\n  const content = ev.content || {};\n  if (content.msgtype !== 'm.text') continue;\n  const ts = Number(ev.origin_server_ts || 0);\n  let replyNorm = normCode(content.body);\n  if (!replyNorm) continue;\n\n  let isRerollRequest = false;\n  if (replyNorm.endsWith('-x')) {\n    isRerollRequest = true;\n    replyNorm = replyNorm.slice(0, -2);\n  }\n\n  if (isRerollRequest) {\n    for (const entry of allRows) {\n      if (entry.postedAtMs && ts <= entry.postedAtMs) continue;\n      if (entry.normVnCode === replyNorm) {\n        matches.push({ ts, isRerollRequest: true, row: entry.row });\n      }\n    }\n  } else {\n    for (const entry of allCandidates) {\n      if (entry.postedAtMs && ts <= entry.postedAtMs) continue;\n      if (entry.normCode === replyNorm) {\n        matches.push({ ts, isRerollRequest: false, row: entry.row, candidate: entry.candidate });\n      }\n    }\n  }\n}\n\nif (matches.length === 0) {\n  return [];\n}\n\n// Älteste gültige Antwort nach dem Posten der jeweiligen Kandidaten gewinnt.\nmatches.sort((a, b) => a.ts - b.ts);\nconst chosen = matches[0];\n\nconst vorgangKeySafe = safeStr(chosen.row.vorgangKey).replace(/[^a-zA-Z0-9]/g, '');\n\nif (chosen.isRerollRequest) {\n  return [{\n    json: {\n      ...chosen.row,\n      imageHeadline: '',\n      imageSubline: '',\n      headlineChoiceStage: 'needs_kernbotschaft',\n      visualPromptStage: '',\n      imageStage: safeStr(chosen.row.imageFinalPath) ? 'composed' : 'not_started',\n      _matrixAction: 'reroll',\n      _confirmMessage: '🔄 Ok, für ' + safeStr(chosen.row.vorgangsnummer) + ' - ' + safeStr(chosen.row.title) + ' finde ich eine komplett neue Kernbotschaft. Das dauert bis zum nächsten planmäßigen Durchlauf. Es wird weiterhin nichts veröffentlicht, bis du eine Formulierung bestätigst.',\n      _confirmTxnId: 'hdl_confirm_' + vorgangKeySafe + '_reroll_' + Date.now()\n    }\n  }];\n}\n\n// Cutover 2026-07-18: Kandidaten tragen jetzt das volle Satire-Agent-Varianten-Feld-Set\n// (nicht mehr nur imageHeadline/imageSubline aus P5s alter Headline-Generierung). Die gewaehlte\n// Variante ueberschreibt die kompletten satire*-Spalten, damit Bild-Agent (P5) mit genau der\n// Variante arbeitet, die der Mensch fuers Bild ausgewaehlt hat - unabhaengig davon, welche\n// Variante P3 automatisch fuer den Text gewaehlt hatte.\nfunction safeArr(v) { return Array.isArray(v) ? v : []; }\n\nreturn [{\n  json: {\n    ...chosen.row,\n    imageHeadline: safeStr(chosen.candidate.imageHeadline),\n    imageSubline: safeStr(chosen.candidate.imageSubline),\n    satireBrief: safeStr(chosen.candidate.satireBrief),\n    satireAngle: safeStr(chosen.candidate.satireAngle),\n    satirePunchlines: JSON.stringify(safeArr(chosen.candidate.satirePunchlines)),\n    satireTarget: safeStr(chosen.candidate.satireTarget),\n    satireIntensity: Number(chosen.candidate.satireIntensity) || 0,\n    satireDoNotClaim: JSON.stringify(safeArr(chosen.candidate.satireDoNotClaim)),\n    satireSafetyNote: safeStr(chosen.candidate.satireSafetyNote),\n    headlineChoiceStage: 'headline_selected',\n    contentStage: 'needs_content',\n    imageStage: safeStr(chosen.row.imageFinalPath) ? 'composed' : 'not_started',\n    _matrixAction: 'select',\n    _confirmMessage: '✅ Danke! Für ' + safeStr(chosen.row.vorgangsnummer) + ' - ' + safeStr(chosen.row.title) + ' wurde übernommen: \"' + safeStr(chosen.candidate.imageHeadline) + '\" - \"' + safeStr(chosen.candidate.imageSubline) + '\". Text und Bild werden jetzt freigegeben und beim nächsten planmäßigen Durchlauf veröffentlicht.',\n    _confirmTxnId: 'hdl_confirm_' + vorgangKeySafe + '_select_' + normCode(safeStr(chosen.candidate.code)) + '_' + Date.now()\n  }\n}];\n"
      },
      "id": "b1e2c3d4-0005-4aaa-8bbb-000000000005",
      "name": "Finde Sat-Antwort",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $json.vorgangKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "imageHeadline": "={{ $json.imageHeadline }}",
            "imageSubline": "={{ $json.imageSubline }}",
            "imageStage": "={{ $json.imageStage }}",
            "satireBrief": "={{ $json.satireBrief }}",
            "satireAngle": "={{ $json.satireAngle }}",
            "satirePunchlines": "={{ $json.satirePunchlines }}",
            "satireTarget": "={{ $json.satireTarget }}",
            "satireIntensity": "={{ String($json.satireIntensity || 0) }}",
            "satireDoNotClaim": "={{ $json.satireDoNotClaim }}",
            "satireSafetyNote": "={{ $json.satireSafetyNote }}",
            "headlineChoiceStage": "={{ $json.headlineChoiceStage || '' }}",
            "visualPromptStage": "={{ $json.visualPromptStage || '' }}",
            "contentStage": "={{ $json.contentStage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "imageHeadline",
              "displayName": "imageHeadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imageSubline",
              "displayName": "imageSubline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "satireBrief",
              "displayName": "satireBrief",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "satireAngle",
              "displayName": "satireAngle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "satirePunchlines",
              "displayName": "satirePunchlines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "satireTarget",
              "displayName": "satireTarget",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "satireIntensity",
              "displayName": "satireIntensity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "satireDoNotClaim",
              "displayName": "satireDoNotClaim",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "satireSafetyNote",
              "displayName": "satireSafetyNote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contentStage",
              "displayName": "contentStage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b1e2c3d4-0006-4aaa-8bbb-000000000006",
      "name": "Speichere Headline-Auswahl",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://matrix.org/_matrix/client/v3/rooms/!COxTeLJyPszYlaHbIx:matrix.golietz.de/send/m.room.message/{{ $json._confirmTxnId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: 'm.text', body: $json._confirmMessage }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1e2c3d4-0011-4aaa-8bbb-000000000011",
      "name": "Sende Bestätigung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        120
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "od1pN1F5wy2irSDs",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Prueft, welche wartenden Vorgaenge laenger als REMINDER_INTERVAL_MS keine\n// neue Nachricht bekommen haben, und baut dafuer eine Erinnerung mit den\n// bereits bestehenden Kandidaten (keine neue KI-Generierung, kein neuer Text).\n// Stoppt nach MAX_REMINDERS, damit ein unbeantworteter Vorgang nicht endlos nervt.\n//\n// FIX (Architekturpruefung 2026-07-22, Befund F3): bisher wurde ein Vorgang nach\n// Erreichen von MAX_REMINDERS stillschweigend uebersprungen - unsichtbar in der\n// Status-Uebersicht, ohne jede Markierung. Jetzt wird EINMALIG (nicht bei jedem\n// 15-Minuten-Lauf erneut) ein sichtbarer Hinweis in visualJson.workflow\n// hinterlegt (reminderExhausted/reminderExhaustedAt) - keine neue DB-Spalte\n// noetig, da visualJson bereits existiert und bereits von diesem Workflow\n// geschrieben wird. headlineChoiceStage bleibt dabei bewusst unveraendert:\n// der Mensch kann jederzeit trotzdem noch per Matrix antworten, es werden nur\n// keine weiteren automatischen Erinnerungen mehr verschickt.\nconst REMINDER_INTERVAL_MS = 12 * 60 * 60 * 1000;\nconst MAX_REMINDERS = 3;\n\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; }\n  catch (e) { return {}; }\n}\n\nconst now = Date.now();\nconst due = [];\n\nfor (const item of items) {\n  const row = item.json;\n  const reminderCount = Number(row._reminderCount || 0);\n\n  if (reminderCount >= MAX_REMINDERS) {\n    const vj = parseObj(row.visualJson);\n    const alreadyMarkedExhausted = !!(vj.workflow && vj.workflow.reminderExhausted === true);\n    if (alreadyMarkedExhausted) continue;\n\n    vj.workflow = {\n      ...(vj.workflow && typeof vj.workflow === 'object' && !Array.isArray(vj.workflow) ? vj.workflow : {}),\n      reminderExhausted: true,\n      reminderExhaustedAt: new Date().toISOString()\n    };\n\n    due.push({\n      json: {\n        ...row,\n        visualJson: JSON.stringify(vj),\n        _reminderExhaustedOnly: true\n      }\n    });\n    continue;\n  }\n\n  const lastPromptMs = row._lastReminderAt\n    ? Date.parse(row._lastReminderAt)\n    : (row._candidatesPostedAt ? Date.parse(row._candidatesPostedAt) : 0);\n  if (!lastPromptMs || (now - lastPromptMs) < REMINDER_INTERVAL_MS) continue;\n\n  const candidates = Array.isArray(row._headlineCandidates) ? row._headlineCandidates : [];\n  if (candidates.length === 0) continue;\n\n  const nextReminderCount = reminderCount + 1;\n  const lines = [\n    '⏰ Erinnerung (' + nextReminderCount + '/' + MAX_REMINDERS + ') - noch offen: ' + safeStr(row.vorgangsnummer) + ' - ' + safeStr(row.title),\n    ''\n  ];\n  for (const c of candidates) {\n    lines.push(safeStr(c.code) + ': ' + safeStr(c.imageHeadline) + ' - ' + safeStr(c.imageSubline));\n  }\n  lines.push('');\n  const exampleCode = candidates.length > 0 ? safeStr(candidates[0].code) : '';\n  const vnCode = safeStr(row.vorgangsnummer).replace(/[^0-9A-Za-z]+/g, '-').replace(/^-+|-+$/g, '');\n  lines.push('Antworte mit dem gewuenschten Code (z.B. ' + exampleCode + '), um die Auswahl zu bestaetigen, oder mit \\'' + vnCode + '-X\\' fuer komplett neue Vorschlaege (Vorgangsnummer + -X, ohne Kandidat).');\n\n  const vorgangKeySafe = safeStr(row.vorgangKey).replace(/[^a-zA-Z0-9]/g, '');\n  const txnId = 'hdl_remind_' + vorgangKeySafe + '_r' + nextReminderCount;\n\n  due.push({\n    json: {\n      ...row,\n      matrixReminderMessage: lines.join('\\n'),\n      matrixReminderTxnId: txnId,\n      _nextReminderCount: nextReminderCount,\n      _reminderExhaustedOnly: false\n    }\n  });\n}\n\nreturn due;\n"
      },
      "id": "b1e2c3d4-0007-4aaa-8bbb-000000000007",
      "name": "Finde erinnerungsfällige Vorgänge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        240
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://matrix.org/_matrix/client/v3/rooms/!COxTeLJyPszYlaHbIx:matrix.golietz.de/send/m.room.message/{{ $json.matrixReminderTxnId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: 'm.text', body: $json.matrixReminderMessage }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b1e2c3d4-0008-4aaa-8bbb-000000000008",
      "name": "Sende Erinnerung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "od1pN1F5wy2irSDs",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Stellt den Vorgangskontext nach dem Matrix-Versand wieder her (gleiches Muster\n// wie \"Stelle Kontext nach Matrix wieder her\" in P2) - der HTTP-Node ersetzt das\n// Item-JSON durch die rohe Matrix-API-Antwort und wuerde sonst vorgangKey,\n// reminderCount usw. verlieren, sodass \"Speichere Erinnerung\" keine Zeile findet.\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; } catch (e) { return {}; }\n}\n\nconst response = $input.item.json || {};\nconst base = $('Finde erinnerungsfällige Vorgänge').item.json || {};\n\nconst hasError = !!(\n  response.error ||\n  response.errcode ||\n  (response.statusCode && Number(response.statusCode) >= 400)\n);\nconst eventId = response.event_id || response.eventId || '';\n\nconst existingVisual = parseObj(base.visualJson);\n\nreturn {\n  json: {\n    ...base,\n    visualJson: JSON.stringify({\n      ...existingVisual,\n      lastReminderAt: hasError ? (base._lastReminderAt || existingVisual.candidatesPostedAt || null) : new Date().toISOString(),\n      reminderCount: hasError ? Number(base._reminderCount || 0) : base._nextReminderCount\n    }),\n    matrixReminderSentOk: !hasError && !!eventId,\n    matrixReminderError: hasError ? (response.error || response.errcode || 'Matrix-Versand fehlgeschlagen') : ''\n  }\n};\n"
      },
      "id": "b1e2c3d4-0009-4aaa-8bbb-000000000009",
      "name": "Stelle Kontext nach Erinnerung wieder her",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $json.vorgangKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "visualJson": "={{ $json.visualJson }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "visualJson",
              "displayName": "visualJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b1e2c3d4-0010-4aaa-8bbb-000000000010",
      "name": "Speichere Erinnerung",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1056,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "caseSensitive": true,
          "leftValue": "",
          "typeValidation": "strict",
          "version": 2
        },
        "conditions": [
          {
            "id": "reminder-exhausted-only-001",
            "leftValue": "={{ $json._reminderExhaustedOnly }}",
            "rightValue": true,
            "operator": {
              "type": "boolean",
              "operation": "equals"
            }
          }
        ],
        "combinator": "and"
      },
      "id": "e4f1a2b3-6c9d-4a7e-8f1b-3d5c7a9e0b2f",
      "name": "IF Nur Exhausted-Markierung?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1424,
        512
      ],
      "notes": "F3 (Architekturpruefung 2026-07-22): true = MAX_REMINDERS bereits erreicht, nur noch visualJson-Markierung schreiben, keine erneute Matrix-Nachricht. false = normaler Erinnerungsversand (unveraendertes Verhalten)."
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [],
  "versionId": "695d67b3-f9d5-430a-9ba8-faca2d1f1e07"
}
