ALLRIS_Status_Uebersicht.json
{
  "active": true,
  "connections": {
    "Webhook Status-Uebersicht": {
      "main": [
        [
          {
            "node": "Hole alle Vorgaenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole alle Vorgaenge": {
      "main": [
        [
          {
            "node": "Baue Uebersicht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baue Uebersicht": {
      "main": [
        [
          {
            "node": "Antwort mit HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "yI8lClVAuj6aS5Lz",
  "meta": null,
  "name": "ALLRIS_Status_Uebersicht",
  "nodes": [
    {
      "parameters": {
        "path": "allris-status",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "118c2290-c545-47a9-8f47-b90fefce239e",
      "name": "Webhook Status-Uebersicht",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        1008,
        272
      ],
      "webhookId": "5986f412-93e4-4afb-88f4-438e18e8aec2"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true
      },
      "id": "5dfd1ce3-7767-49e1-945d-a0e6c88152cc",
      "name": "Hole alle Vorgaenge",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1280,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction safeBool(v) {\n  if (v === true) return true;\n  if (typeof v === 'string') return v.trim().toLowerCase() === 'true';\n  return false;\n}\nfunction hasValidJson(v) {\n  const s = safeStr(v);\n  if (!s || s === '{}' || s === 'null') return false;\n  try {\n    const p = JSON.parse(s);\n    return p && typeof p === 'object' && !Array.isArray(p);\n  } catch (e) { return false; }\n}\n\nconst rows = $input.all().map(i => i.json || {});\nconst total = rows.length;\n\nfunction countIf(fn) { return rows.filter(fn).length; }\n\nconst nextcloudDone = countIf(r => {\n  const f = safeStr(r.nextcloudFolder);\n  return f && f.toLowerCase() !== 'null' && f !== '-';\n});\n\nconst bewertungDone = countIf(r =>\n  safeStr(r.summaryText).length >= 50 &&\n  hasValidJson(r.analysisJson) &&\n  safeStr(r.lastAnalysisAt).length > 0\n);\n\nconst p1Done = countIf(r => safeStr(r.contentCreatedAt).length > 0);\nconst p2Done = countIf(r => safeStr(r.imagePrompt).length > 0);\nconst p3Done = countIf(r => safeStr(r.imageFinalPath).length > 0);\n\n// FIX (2026-07-18): status/visualStatus sind seit dem Multi-Agent-Rewrite tote Spalten -\n// niemand schreibt sie mehr, sie stehen dauerhaft leer/veraltet. Alle drei Anomalie-Checks\n// prueften bislang gegen diese toten Felder und lieferten daher IMMER \"0 Anomalien\",\n// unabhaengig vom tatsaechlichen Zustand der Pipeline. Umgestellt auf die echten,\n// aktuell befuellten Felder contentStage/sharepicNeedStage/imageStage.\n\n// Anomalie 1: Bewertung haengt fest (contentStage=needs_summary, aber inhaltlich fertig)\nconst bewertungStuck = rows.filter(r =>\n  safeStr(r.contentStage) === 'needs_summary' &&\n  safeStr(r.summaryText).length >= 50 &&\n  hasValidJson(r.analysisJson) &&\n  safeStr(r.lastAnalysisAt).length > 0\n);\n\n// Anomalie 1b: Ingestion hat einen bereits weit fortgeschrittenen Vorgang zurueckgesetzt\n// (contentStage=needs_summary, aber P1 hat bereits Content erzeugt). Das kann NICHT vom\n// eigenen Reset-Pfad der Bewertung stammen (der liegt zeitlich vor jeder Content-Erzeugung) -\n// nur \"Update bekannter Vorgang\" in Ingestion konnte das ueberschreiben (Fix 06.07.2026:\n// setzt contentStage bei bekannten Vorgaengen nur noch bei echter Dokumentaenderung zurueck).\nconst ingestionReset = rows.filter(r =>\n  safeStr(r.contentStage) === 'needs_summary' &&\n  (safeStr(r.websiteHeadline).length > 0 || safeStr(r.contentCreatedAt).length > 0)\n);\n\n// Anomalie 2: Bild-Status haengt fest, obwohl schon ein Bild/Post existiert.\n// Aktuelle Fehler-Endzustaende aus P6 (ALLRIS_P6_Bildgenerierung, Stand 2026-07-18):\n// imageStage='upload_failed'|'qa_failed'|'topic_error_final'.\nconst IMAGE_RETRY_STATES = new Set([\n  'upload_failed', 'qa_failed', 'topic_error_final'\n]);\nconst visualStuck = rows.filter(r =>\n  IMAGE_RETRY_STATES.has(safeStr(r.imageStage)) &&\n  (safeStr(r.imageFinalPath).length > 0 || safeStr(r.imageCreatedAt).length > 0 || safeBool(r.wordpressPosted))\n);\n\nfunction esc(s) {\n  return safeStr(s)\n    .replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nfunction pct(n) { return total > 0 ? Math.round((n / total) * 100) : 0; }\n\nfunction stageRow(label, done) {\n  return '<tr><td>' + esc(label) + '</td><td>' + done + ' / ' + total + '</td><td>' +\n    '<div class=\"bar\"><div class=\"fill\" style=\"width:' + pct(done) + '%\"></div></div>' +\n    '</td><td class=\"pct\">' + pct(done) + '%</td></tr>';\n}\n\nfunction anomalyRows(list, hint) {\n  if (list.length === 0) return '<tr><td colspan=\"6\" class=\"empty\">keine</td></tr>';\n  return list.map(r =>\n    '<tr><td>' + esc(r.vorgangsnummer) + '</td><td>' + esc(r.title).slice(0, 60) + '</td><td>' +\n    esc(r.contentStage) + '</td><td>' + esc(r.sharepicNeedStage) + '</td><td>' + esc(r.imageStage) + '</td><td>' + esc(hint) + '</td></tr>'\n  ).join('\\n');\n}\n\nconst now = new Date().toLocaleString('de-DE', { timeZone: 'Europe/Berlin' });\n\nconst html = '<!DOCTYPE html>' +\n'<html lang=\"de\">' +\n'<head>' +\n'<meta charset=\"utf-8\">' +\n'<title>ALLRIS Status-Uebersicht</title>' +\n'<style>' +\n'  body { font-family: -apple-system, Segoe UI, Arial, sans-serif; background:#0f1115; color:#e6e6e6; margin:0; padding:32px; }' +\n'  h1 { font-size:20px; margin-bottom:4px; }' +\n'  .meta { color:#9aa0a6; font-size:13px; margin-bottom:24px; }' +\n'  table { border-collapse: collapse; width:100%; margin-bottom:32px; }' +\n'  th, td { text-align:left; padding:8px 12px; border-bottom:1px solid #2a2d34; font-size:14px; }' +\n'  th { color:#9aa0a6; font-weight:600; font-size:12px; text-transform:uppercase; letter-spacing:0.04em; }' +\n'  .bar { background:#2a2d34; border-radius:4px; height:8px; width:160px; overflow:hidden; }' +\n'  .fill { background:#5b8def; height:100%; }' +\n'  .pct { color:#9aa0a6; width:48px; }' +\n'  .empty { color:#5f6368; font-style:italic; }' +\n'  h2 { font-size:15px; margin-top:8px; margin-bottom:8px; color:#e6e6e6; }' +\n'  .hint { color:#f2b950; font-size:12px; margin-bottom:12px; }' +\n'</style>' +\n'</head>' +\n'<body>' +\n'  <h1>ALLRIS Pipeline &mdash; Status-Uebersicht</h1>' +\n'  <div class=\"meta\">Stand: ' + now + ' &middot; ' + total + ' Vorgaenge insgesamt</div>' +\n'  <table>' +\n'    <thead><tr><th>Stufe</th><th>Fertig</th><th></th><th></th></tr></thead>' +\n'    <tbody>' +\n       stageRow('Nextcloud (Dokumente hochgeladen)', nextcloudDone) +\n       stageRow('Bewertung (Summary + Analyse)', bewertungDone) +\n       stageRow('P1 Content erzeugt', p1Done) +\n       stageRow('P2 Visual Prompt vorhanden', p2Done) +\n       stageRow('P3 Bild fertig', p3Done) +\n'    </tbody>' +\n'  </table>' +\n'  <h2>Bewertung haengt fest (contentStage=needs_summary trotz fertiger Analyse)</h2>' +\n'  <div class=\"hint\">' + bewertungStuck.length + ' Vorgaenge &mdash; werden vom Idempotenz-Guard beim naechsten Bewertung-Lauf automatisch korrigiert. Ursache kann Bewertungs eigener Parse-Fehler-Pfad sein ODER ein erneuter Ingestion-Reset (siehe naechste Tabelle).</div>' +\n'  <table>' +\n'    <thead><tr><th>Vorgangsnummer</th><th>Titel</th><th>contentStage</th><th>sharepicNeedStage</th><th>imageStage</th><th>Hinweis</th></tr></thead>' +\n'    <tbody>' +\n       anomalyRows(bewertungStuck, 'wartet auf naechsten Bewertung-Lauf (Guard)') +\n'    </tbody>' +\n'  </table>' +\n'  <h2>Von Ingestion zurueckgesetzt (contentStage=needs_summary trotz bereits erzeugtem Content)</h2>' +\n'  <div class=\"hint\">' + ingestionReset.length + ' Vorgaenge &mdash; P1 hat hier schon Content erzeugt, contentStage kann also nur durch Ingestions \"Update bekannter Vorgang\" zurueckgefallen sein, nicht durch Bewertung selbst. Seit dem Fix vom 06.07.2026 sollte das nur noch bei echter Dokumentaenderung passieren.</div>' +\n'  <table>' +\n'    <thead><tr><th>Vorgangsnummer</th><th>Titel</th><th>contentStage</th><th>sharepicNeedStage</th><th>imageStage</th><th>Hinweis</th></tr></thead>' +\n'    <tbody>' +\n       anomalyRows(ingestionReset, 'Content vorhanden, aber contentStage=needs_summary (Ingestion-Reset)') +\n'    </tbody>' +\n'  </table>' +\n'  <h2>Bild-Status haengt fest (Fehler-Status trotz vorhandenem Bild/Post)</h2>' +\n'  <div class=\"hint\">' + visualStuck.length + ' Vorgaenge &mdash; benoetigen manuellen Reset (force_image_refresh o.ae.)</div>' +\n'  <table>' +\n'    <thead><tr><th>Vorgangsnummer</th><th>Titel</th><th>contentStage</th><th>sharepicNeedStage</th><th>imageStage</th><th>Hinweis</th></tr></thead>' +\n'    <tbody>' +\n       anomalyRows(visualStuck, 'manueller Reset noetig') +\n'    </tbody>' +\n'  </table>' +\n'</body>' +\n'</html>';\n\nreturn [{ json: { html: html } }];\n"
      },
      "id": "4a5186eb-86fa-4e75-a2ff-3194605b6ebf",
      "name": "Baue Uebersicht",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        272
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "id": "8eee5586-ac98-4975-815c-3f621e401afb",
      "name": "Antwort mit HTML",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1792,
        272
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [],
  "versionId": "ce9561e5-ae54-4cff-8e8a-d6ef71b92f6f"
}
