ALLRIS_Dispatcher_Watchdog.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Hole alle Vorgaenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole alle Vorgaenge": {
      "main": [
        [
          {
            "node": "Dispatcher-Watchdog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatcher-Watchdog": {
      "main": [
        [
          {
            "node": "Baue Dispatcher-Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baue Dispatcher-Alert": {
      "main": [
        [
          {
            "node": "Send Matrix Dispatcher-Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Claim-Test": {
      "main": [
        [
          {
            "node": "Konfiguriere Claim-Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Konfiguriere Claim-Test": {
      "main": [
        [
          {
            "node": "Lese Testvorgang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lese Testvorgang": {
      "main": [
        [
          {
            "node": "Bereite Test-Claim vor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bereite Test-Claim vor": {
      "main": [
        [
          {
            "node": "Erwerbe Test-Claim CAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Erwerbe Test-Claim CAS": {
      "main": [
        [
          {
            "node": "Lese Claim zurueck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lese Claim zurueck": {
      "main": [
        [
          {
            "node": "Bestaetige Claim-Eigentum",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bestaetige Claim-Eigentum": {
      "main": [
        [
          {
            "node": "Halte Test-Claim 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Halte Test-Claim 15s": {
      "main": [
        [
          {
            "node": "Gib eigenen Test-Claim frei",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gib eigenen Test-Claim frei": {
      "main": [
        [
          {
            "node": "Lese Freigabe zurueck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lese Freigabe zurueck": {
      "main": [
        [
          {
            "node": "Bestaetige Claim-Freigabe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "UzevGR7GafUB3dFk",
  "meta": null,
  "name": "ALLRIS_Dispatcher_Watchdog",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 6,
              "triggerAtMinute": 20
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4a2b-8c3d-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        256,
        272
      ],
      "notes": "Absichtlich versetzt zur 5h-Hauptkaskade (die auf :05..:59 laeuft), damit der Watchdog nicht zufaellig immer im selben Kaskaden-Zeitfenster prueft."
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true
      },
      "id": "a1b2c3d4-2222-4a2b-8c3d-000000000002",
      "name": "Hole alle Vorgaenge",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        512,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// DISPATCHER-WATCHDOG (Paket 7, Architekturpruefung 2026-07-22)\n// ============================================================\n// Reiner Lese-/Alarm-Workflow: schreibt NICHTS in allris_vorgaenge, ruft\n// keinen anderen Workflow aktiv auf. Findet Vorgaenge, die laenger als\n// STALE_HOURS in einem Zwischenzustand haengen, obwohl die naechste Stufe\n// sie laengst haette abholen muessen (die 5h-Kaskade laeuft mehrfach in\n// dieser Zeit). Nutzt ausschliesslich bereits vorhandene Felder - keine\n// Abhaengigkeit von Paket 2 (State-History/Fehlercodes), die noch nicht\n// angelegt sind.\n//\n// Ergaenzt (nicht ersetzt) die stufeneigenen Selbstheilungs-/Alert-Pfade,\n// die es schon gibt (z.B. P4s Blockade-Alert, P2s archiving_failed-Alert,\n// P5bs Erinnerungen) - diese pruefen jeweils nur ihre eigene Stufe. Dieser\n// Workflow schaut stufenuebergreifend auf \"haette laengst weiter sein\n// muessen, ist es aber nicht\".\n//\n// Absichtlich sehr konservativ gehalten: nur 4 klar begruendbare Checks,\n// grosszuegige Schwellwerte (24h = ca. 5 verpasste Kaskaden-Durchlaeufe),\n// um Fehlalarme durch normale Laufzeitschwankungen (siehe bekanntes\n// Proxy-Langsamkeits-Thema) zu vermeiden.\n\nconst STALE_HOURS = 24;\nconst STALE_MS = STALE_HOURS * 60 * 60 * 1000;\n\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction ageMs(iso) {\n  if (!iso) return null;\n  const t = Date.parse(iso);\n  return Number.isFinite(t) ? (Date.now() - t) : null;\n}\nfunction isStale(iso) {\n  const a = ageMs(iso);\n  return a !== null && a > STALE_MS;\n}\n\nconst rows = $input.all().map(i => i.json || {});\nconst findings = [];\n\nfor (const j of rows) {\n  const vorgangKey = safeStr(j.vorgangKey);\n  if (!vorgangKey) continue;\n  const label = safeStr(j.vorgangsnummer) + ' – ' + safeStr(j.title);\n\n  // Check 1: seit Ingestion laenger als STALE_HOURS bei needs_summary haengen\n  // geblieben (P3 haette es laengst zusammengefasst haben muessen).\n  if (safeStr(j.contentStage) === 'needs_summary' && isStale(j.firstseen)) {\n    findings.push({\n      vorgangKey, label,\n      check: 'ingestion_to_summary',\n      hint: 'contentStage=needs_summary seit über ' + STALE_HOURS + 'h (firstseen=' + safeStr(j.firstseen) + ') - Bewertung (P3) hat es nicht abgeholt.'\n    });\n  }\n\n  // Check 2: needs_content, aber Agenten-Kette (P3d) ist nie gelaufen.\n  if (safeStr(j.contentStage) === 'needs_content' &&\n      !safeStr(j.judgmentChainProcessedAt) &&\n      isStale(j.lastAnalysisAt)) {\n    findings.push({\n      vorgangKey, label,\n      check: 'analysis_to_judgment',\n      hint: 'lastAnalysisAt seit über ' + STALE_HOURS + 'h gesetzt, aber judgmentChainProcessedAt fehlt weiterhin - Agenten-Kette (P3d) hat es nicht abgeholt.'\n    });\n  }\n\n  // Check 3: Eignungs-Agent hat Sharepic freigegeben, aber Kernbotschaft\n  // (P3e) hat nie eine Auswahl angestossen.\n  if (safeStr(j.sharepicNeedStage) === 'topic_ok' &&\n      !safeStr(j.headlineChoiceStage) &&\n      isStale(j.lastAnalysisAt)) {\n    findings.push({\n      vorgangKey, label,\n      check: 'judgment_to_kernbotschaft',\n      hint: 'sharepicNeedStage=topic_ok seit über ' + STALE_HOURS + 'h, aber headlineChoiceStage ist weiterhin leer - Kernbotschaft-Stufe (P3e) hat es nicht abgeholt.'\n    });\n  }\n\n  // Check 4: Bildprompt fertig, aber Bildgenerierung (P6) hat nie begonnen.\n  if (safeStr(j.visualPromptStage) === 'prompt_ready' &&\n      ['', 'not_started'].includes(safeStr(j.imageStage)) &&\n      isStale(j.lastAnalysisAt)) {\n    findings.push({\n      vorgangKey, label,\n      check: 'visual_to_image',\n      hint: 'visualPromptStage=prompt_ready seit über ' + STALE_HOURS + 'h, aber imageStage=' + (safeStr(j.imageStage) || '(leer)') + ' - Bildgenerierung (P6) hat es nicht abgeholt.'\n    });\n  }\n}\n\nreturn findings.map(f => ({ json: f }));\n"
      },
      "id": "a1b2c3d4-3333-4a2b-8c3d-000000000003",
      "name": "Dispatcher-Watchdog",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        272
      ],
      "notes": "Reine Leseoperation. Schreibt nichts, ruft keinen anderen Workflow auf. Siehe Kommentar im Code fuer die 4 Checks und die Schwellwert-Begruendung."
    },
    {
      "parameters": {
        "jsCode": "// Baut eine Matrix-Sammelmeldung aus allen Dispatcher-Funden. Reine\n// Lesestufe - kein DB-Write, kein erneuter Versuch, wenn schon einmal\n// gemeldet (bewusst: der Mensch soll das manuell pruefen und die Ursache\n// beheben, nicht der Dispatcher automatisch loesen - siehe Notiz im Watchdog-\n// Node). Wiederholt sich daher bei jedem Lauf, solange der Zustand anhaelt -\n// akzeptabel bei einem 6-Stunden-Intervall.\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\n\nif (!items || items.length === 0) {\n  return [];\n}\n\nconst byCheck = {};\nfor (const item of items) {\n  const j = item.json || {};\n  const check = safeStr(j.check) || 'unbekannt';\n  if (!byCheck[check]) byCheck[check] = [];\n  byCheck[check].push(j);\n}\n\nconst CHECK_LABELS = {\n  ingestion_to_summary: 'Bewertung (P3) nicht abgeholt',\n  analysis_to_judgment: 'Agenten-Kette (P3d) nicht abgeholt',\n  judgment_to_kernbotschaft: 'Kernbotschaft (P3e) nicht abgeholt',\n  visual_to_image: 'Bildgenerierung (P6) nicht abgeholt'\n};\n\nlet sections = [];\nfor (const [check, list] of Object.entries(byCheck)) {\n  const label = CHECK_LABELS[check] || check;\n  const zeilen = list.map(j => `• ${safeStr(j.label) || '?'}\\n  ${safeStr(j.hint)}`);\n  sections.push(`— ${label} (${list.length}) —\\n\\n` + zeilen.join('\\n\\n'));\n}\n\nconst msg = `🕵️ Dispatcher-Watchdog: ${items.length} liegen gebliebene Vorgänge gefunden\\n\\n` +\n  `Diese Vorgänge haetten laengst von der naechsten Pipeline-Stufe abgeholt ` +\n  `werden muessen. Dies ist ein reiner Beobachtungs-Alarm (Paket 7) - es wurde ` +\n  `nichts automatisch veraendert:\\n\\n` +\n  sections.join('\\n\\n');\n\nconst txnId = 'dispatch_' + Date.now();\n\nreturn [{ json: { alertMessage: msg, txnId, findingCount: items.length } }];\n"
      },
      "id": "a1b2c3d4-4444-4a2b-8c3d-000000000004",
      "name": "Baue Dispatcher-Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        272
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://matrix.org/_matrix/client/v3/rooms/!COxTeLJyPszYlaHbIx:matrix.golietz.de/send/m.room.message/{{ $json.txnId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: 'm.text', body: $json.alertMessage }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-5555-4a2b-8c3d-000000000005",
      "name": "Send Matrix Dispatcher-Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        272
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "od1pN1F5wy2irSDs",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "b2c3d4e5-1111-4b2c-8d3e-000000000011",
      "name": "Manual Claim-Test",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        256,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "const TEST_VORGANG_KEY = '';\n\nif (!TEST_VORGANG_KEY) {\n  throw new Error('[Claim-Test] TEST_VORGANG_KEY im Node Konfiguriere Claim-Test setzen. Ohne expliziten Testschluessel erfolgt kein Datenbank-Write.');\n}\n\nreturn [{ json: { vorgangKey: TEST_VORGANG_KEY } }];"
      },
      "id": "b2c3d4e5-2222-4b2c-8d3e-000000000012",
      "name": "Konfiguriere Claim-Test",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        496
      ],
      "notes": "Sicherheitsstopp: vor einem manuellen Test einen expliziten, unkritischen vorgangKey eintragen. Leer bedeutet immer Abbruch vor dem ersten Write."
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $json.vorgangKey }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 2
      },
      "id": "b2c3d4e5-3333-4b2c-8d3e-000000000013",
      "name": "Lese Testvorgang",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        768,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "if (items.length !== 1) {\n  throw new Error(`[Claim-Test] Erwartet genau eine Tabellenzeile, erhalten: ${items.length}.`);\n}\n\nconst row = items[0].json || {};\nconst owner = `ALLRIS_Dispatcher_Watchdog:${$execution.id}`;\nconst acquiredAt = $now.toISO();\nconst expiresAt = $now.plus({ minutes: 30 }).toISO();\n\nreturn [{ json: {\n  vorgangKey: String(row.vorgangKey || ''),\n  expectedClaimOwner: row.claim_owner ?? null,\n  expectedClaimExpiresAt: row.claim_expires_at ?? null,\n  claimOwner: owner,\n  claimStage: 'dispatcher_test',\n  claimAcquiredAt: acquiredAt,\n  claimExpiresAt: expiresAt\n} }];"
      },
      "id": "b2c3d4e5-4444-4b2c-8d3e-000000000014",
      "name": "Bereite Test-Claim vor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        496
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $json.vorgangKey }}"
            },
            {
              "keyName": "claim_owner",
              "keyValue": "={{ $json.expectedClaimOwner }}"
            },
            {
              "keyName": "claim_expires_at",
              "keyValue": "={{ $json.expectedClaimExpiresAt }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "claim_owner": "={{ $json.claimOwner }}",
            "claim_stage": "={{ $json.claimStage }}",
            "claim_acquired_at": "={{ $json.claimAcquiredAt }}",
            "claim_expires_at": "={{ $json.claimExpiresAt }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-5555-4b2c-8d3e-000000000015",
      "name": "Erwerbe Test-Claim CAS",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1280,
        496
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $('Bereite Test-Claim vor').item.json.vorgangKey }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 2
      },
      "id": "b2c3d4e5-6666-4b2c-8d3e-000000000016",
      "name": "Lese Claim zurueck",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1536,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "if (items.length !== 1) {\n  throw new Error(`[Claim-Test] Re-Read lieferte ${items.length} Zeilen.`);\n}\nconst row = items[0].json || {};\nconst expected = $('Bereite Test-Claim vor').item.json;\nif (String(row.claim_owner || '') !== String(expected.claimOwner || '')) {\n  throw new Error(`[Claim-Test] Claim nicht erworben; Owner ist ${String(row.claim_owner || '(leer)')}.`);\n}\nreturn [{ json: { ...expected, claimConfirmed: true } }];"
      },
      "id": "b2c3d4e5-7777-4b2c-8d3e-000000000017",
      "name": "Bestaetige Claim-Eigentum",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        496
      ]
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "id": "b2c3d4e5-bbbb-4b2c-8d3e-000000000021",
      "name": "Halte Test-Claim 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2048,
        496
      ],
      "notes": "Doppelclaim-Test: waehrend dieses Fensters denselben Manual Trigger ein zweites Mal starten. Der zweite Lauf darf den fremden Owner nicht bestaetigen."
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $json.vorgangKey }}"
            },
            {
              "keyName": "claim_owner",
              "keyValue": "={{ $json.claimOwner }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "claim_owner": null,
            "claim_stage": null,
            "claim_acquired_at": null,
            "claim_expires_at": null
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "b2c3d4e5-8888-4b2c-8d3e-000000000018",
      "name": "Gib eigenen Test-Claim frei",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2304,
        496
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $('Bereite Test-Claim vor').item.json.vorgangKey }}"
            }
          ]
        },
        "returnAll": false,
        "limit": 2
      },
      "id": "b2c3d4e5-9999-4b2c-8d3e-000000000019",
      "name": "Lese Freigabe zurueck",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2560,
        496
      ]
    },
    {
      "parameters": {
        "jsCode": "if (items.length !== 1) {\n  throw new Error(`[Claim-Test] Abschluss-Read lieferte ${items.length} Zeilen.`);\n}\nconst row = items[0].json || {};\nif (row.claim_owner || row.claim_stage || row.claim_acquired_at || row.claim_expires_at) {\n  throw new Error('[Claim-Test] Eigener Claim wurde nicht vollständig freigegeben.');\n}\nreturn [{ json: { vorgangKey: row.vorgangKey, claimTestPassed: true } }];"
      },
      "id": "b2c3d4e5-aaaa-4b2c-8d3e-000000000020",
      "name": "Bestaetige Claim-Freigabe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2816,
        496
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [],
  "versionId": "39fc3e23-a255-46b9-a063-e6a4efe5e1b3"
}
