ALLRIS_P7_WordPress_Publish.json
{"name":"ALLRIS_P7_WordPress_Publish","nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":5,"triggerAtMinute":30}]}},"id":"3a6851c6-5ea7-42c1-803b-2673ff5d8b6e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,576]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"hBLqpqeVEojPpOJl","mode":"list","cachedResultName":"allris_vorgaenge","cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"},"filters":{"conditions":[]},"returnAll":true},"id":"38f40c98-7f37-43f4-aa6b-488f92499a9b","name":"Hole alle fuer WordPress-Pruefung","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[240,576]},{"parameters":{"jsCode":"function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction safeBool(v) {\n  if (v === true) return true;\n  if (typeof v === 'string') return v.trim().toLowerCase() === 'true';\n  return false;\n}\nfunction hasValidAnalysis(row) {\n  const aj = safeStr(row.analysisJson);\n  if (!aj || aj === '{}' || aj === 'null') return false;\n  try {\n    const parsed = JSON.parse(aj);\n    return parsed && typeof parsed === 'object' && !Array.isArray(parsed);\n  } catch (e) { return false; }\n}\n\nconst BLOCKED_STATUS = new Set([\n  'needs_summary', 'analysis_error', 'summary_input_error', 'summary_parse_error'\n]);\n\nconst items = $input.all();\n\nreturn items.filter(item => {\n  const j = item.json || {};\n  const status = safeStr(j.status);\n\n  if (BLOCKED_STATUS.has(status)) return false;\n  if (!hasValidAnalysis(j)) return false;\n  if (safeBool(j.wordpressPosted)) return false;\n  if (!safeStr(j.vorgangKey)) return false;\n\n  return true;\n});\n"},"id":"029965cb-e424-4260-8a05-9c811bcc05fa","name":"Filter WordPress-Kandidaten","type":"n8n-nodes-base.code","typeVersion":2,"position":[480,576]},{"parameters":{"jsCode":"function safe(v) { return v === null || v === undefined ? '' : String(v).trim(); }\n\nfunction parseVorgangsnummer(v) {\n  const s = safe(v);\n  const m = s.match(/^(\\d{4})\\/(\\d+)(?:-(\\d+))?/);\n  if (!m) return { year: Infinity, main: Infinity, sub: 0 };\n  return { year: parseInt(m[1], 10), main: parseInt(m[2], 10), sub: m[3] ? parseInt(m[3], 10) : 0 };\n}\n\nconst items = $input.all();\n\nitems.sort((a, b) => {\n  const ja = a.json || {};\n  const jb = b.json || {};\n  const va = parseVorgangsnummer(ja.vorgangsnummer);\n  const vb = parseVorgangsnummer(jb.vorgangsnummer);\n  if (va.year !== vb.year) return va.year - vb.year;\n  if (va.main !== vb.main) return va.main - vb.main;\n  if (va.sub !== vb.sub) return va.sub - vb.sub;\n  return safe(ja.vorgangKey).localeCompare(safe(jb.vorgangKey));\n});\n\nreturn items;\n"},"id":"9f90b7bc-ba33-45f5-b6ae-3be1b7006545","name":"Sortiere WordPress-Vorgaenge","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,576]},{"parameters":{"options":{}},"id":"156dbcfc-36ab-4bd3-84d3-826c1d57c57e","name":"Loop Vorgaenge","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[960,576]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction parseArray(v) {\n  if (Array.isArray(v)) return v.map(x => safeStr(x)).filter(Boolean);\n  const s = safeStr(v);\n  if (!s) return [];\n  try {\n    const p = JSON.parse(s);\n    if (Array.isArray(p)) return p.map(x => safeStr(x)).filter(Boolean);\n  } catch (e) {}\n  return s.split(/\\s*\\|\\s*|\\n+/).map(x => safeStr(x)).filter(Boolean);\n}\n\nconst j = $input.item.json || {};\n\nconst title = safeStr(j.title);\nconst vorgangsnummer = safeStr(j.vorgangsnummer);\nconst summaryText = safeStr(j.summaryText);\nconst allrisUrl = safeStr(j.allrisUrl) || safeStr(j.sourceUrl);\n\nlet summaryMessage = safeStr(j.summaryMessage);\nif (!summaryMessage && summaryText) {\n  summaryMessage =\n    'Neue ALLRIS-Vorlage\\n\\n' +\n    'Titel:\\n' + title + '\\n\\n' +\n    'Vorgangsnummer:\\n' + vorgangsnummer + '\\n\\n' +\n    'Link:\\n' + allrisUrl + '\\n\\n' +\n    'Kurzfassung:\\n' + summaryText + '\\n\\n' +\n    'Einordnung:\\n' +\n    '- Thema: ' + (safeStr(j.thema) || '-') + '\\n' +\n    '- Betroffene: ' + (parseArray(j.betroffene).join(', ') || '-') + '\\n' +\n    '- Kosten/Haushalt: ' + (safeStr(j.kostenHaushalt) || '-') + '\\n' +\n    '- Buergerwirkung: ' + (safeStr(j.buergerwirkung) || '-');\n}\n\nconst missing = [];\nif (!safeStr(j.vorgangKey)) missing.push('vorgangKey');\nif (!title) missing.push('title');\nif (!vorgangsnummer) missing.push('vorgangsnummer');\nif (!summaryText) missing.push('summaryText');\nif (!summaryMessage) missing.push('summaryMessage');\n\nconst wordpressInputOk = missing.length === 0;\n\nreturn {\n  json: {\n    ...j,\n    summaryMessage: summaryMessage,\n    _wordpressInputOk: wordpressInputOk,\n    wordpressPostError: missing.length\n      ? ('WordPress-Eingang unvollstaendig fuer ' + (safeStr(j.vorgangKey) || 'unbekannten Vorgang') + ': ' + missing.join(', ') + '.')\n      : ''\n  }\n};\n"},"id":"95588f4b-dc4a-45a3-a138-0eda439aaf9a","name":"Pruefe WordPress Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,576]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"wordpress-input-valid-001","leftValue":"={{ $json._wordpressInputOk }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6b482e12-b25f-431c-97da-4bb38d2eb86c","name":"IF WordPress Input gueltig?","type":"n8n-nodes-base.if","typeVersion":2,"position":[2760,576]},{"parameters":{"jsCode":"// Loop weitertakten\nreturn [{ json: $input.item.json }];"},"id":"14a89f89-0496-47c7-9b61-3514d5902e80","name":"Naechster WordPress-Vorgang","type":"n8n-nodes-base.code","typeVersion":2,"position":[5072,576]},{"parameters":{"title":"={{ $json.wordpressTitle }}","additionalFields":{"authorId":2,"content":"={{ $json.wordpressContent }}","status":"publish","slug":"={{ $json.wordpressSlug }}","excerpt":"={{ $json.wordpressExcerpt }}","tags":"={{ $json.wordpressTagIds }}","categories":[28]}},"type":"n8n-nodes-base.wordpress","typeVersion":1,"position":[4176,576],"id":"1c21f3d7-bb5d-4741-99ad-3e0d8787c783","name":"Create a post","retryOnFail":true,"maxTries":3,"waitBetweenTries":5000,"credentials":{"wordpressApi":{"id":"8k2HqYswPaPVS4dr","name":"Wordpress account"}},"disabled":true,"onError":"continueRegularOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"var title = $json.title || \"\";\nvar vorgangsnummer = String($json.vorgangsnummer || \"\").trim();\nvar link = $json.allrisUrl || $json.sourceUrl || \"\";\nvar summaryMessage = $json.summaryMessage || \"\";\n\n// ── WordPress-Schutzprüfung (B5) ─────────────────────────────────────────────\nvar _wpHttpErrRE = /^\\s*(?:400[\\s:-]+bad\\s+request|401[\\s:-]+unauthorized|403[\\s:-]+forbidden|404[\\s:-]+not\\s+found|408[\\s:-]+request\\s+time[- ]?out|429[\\s:-]+too\\s+many\\s+requests|500[\\s:-]+internal\\s+server\\s+error|501[\\s:-]+not\\s+implemented|502[\\s:-]+bad\\s+gateway|503[\\s:-]+service\\s+unavailable|504[\\s:-]+gateway\\s*time[- ]?out)\\s*$/i;\nvar _wpErrorPattern = /gateway\\s*time[- ]?out|bad\\s+gateway|service\\s+unavailable|internal\\s+server\\s+error|request\\s+time[- ]?out|upstream\\s+timed\\s+out|proxy\\s+error|temporarily\\s+unavailable|too\\s+many\\s+requests|serverfehler|nginx\\s+error|cloudflare\\s+error/i;\nif (!vorgangsnummer || !/^\\d{4}\\/\\d+(?:-\\d+)?$/.test(vorgangsnummer)) {\n  throw new Error(\"WordPress-Veröffentlichung blockiert: ungültiger Titel oder ungültige Vorgangsnummer. Vorgangsnummer: \\\"\" + vorgangsnummer + \"\\\"\");\n}\nif (!title || _wpHttpErrRE.test(title) || _wpErrorPattern.test(title)) {\n  throw new Error(\"WordPress-Veröffentlichung blockiert: ungültiger Titel oder ungültige Vorgangsnummer. Titel: \\\"\" + title + \"\\\"\");\n}\nif (!summaryMessage) {\n  throw new Error(\"WordPress-Veröffentlichung blockiert: fehlende Zusammenfassung.\");\n}\n// ── Ende WordPress-Schutzprüfung ─────────────────────────────────────────────\n\n\n// BUG 1 BEHOBEN: esc() gibt echte HTML-Entities als ASCII-Strings zurueck,\n// nicht als HTML-Entities im JS-Quelltext (die wuerden den String zerstoeren)\nfunction esc(value) {\n  return String(value != null ? value : \"\")\n    .replace(/&/g, \"&amp;\")\n    .replace(/</g, \"&lt;\")\n    .replace(/>/g, \"&gt;\");\n}\n\n// BUG 2 BEHOBEN: attrEsc gibt &quot; als ASCII zurueck, nicht als HTML-Entity\nfunction attrEsc(value) {\n  return esc(value).replace(/\"/g, \"&quot;\");\n}\n\n// BUG 3 BEHOBEN: eckige Klammern [ und ] innerhalb einer Regex-Zeichenklasse\n// muessen escaped werden: \\[ und \\]\nfunction escapeRegExp(value) {\n  return String(value != null ? value : \"\").replace(/[\\\\^$.*+?()\\[\\]{}|]/g, \"\\\\$&\");\n}\n\nfunction cleanText(value) {\n  return String(value != null ? value : \"\")\n    .replace(/\\r/g, \"\")\n    .replace(/[ \\t]+/g, \" \")\n    .replace(/\\n{3,}/g, \"\\n\\n\")\n    .trim();\n}\n\nfunction cleanTitle(value) {\n  return cleanText(value)\n    .replace(/^📄\\s*/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction slugify(value) {\n  return String(value != null ? value : \"\")\n    .toLowerCase()\n    .replace(/ä/g, \"ae\")\n    .replace(/ö/g, \"oe\")\n    .replace(/ü/g, \"ue\")\n    .replace(/ß/g, \"ss\")\n    .replace(/[^a-z0-9]+/g, \"-\")\n    .replace(/^-+|-+$/g, \"\")\n    .slice(0, 95);\n}\n\nfunction cleanListItem(value) {\n  return String(value != null ? value : \"\")\n    .replace(/\\r/g, \"\")\n    .trim()\n    .replace(/^(?:\\s*(?:[-*\\u2022\\u25cf\\u27a3\\u25aa\\u25e6]|\\d+[.)])\\s*)+/g, \"\")\n    .replace(/\\s+/g, \" \")\n    .trim();\n}\n\nfunction firstSentences(text, maxSentences, maxChars) {\n  maxSentences = maxSentences != null ? maxSentences : 2;\n  maxChars = maxChars != null ? maxChars : 320;\n  var clean = cleanText(text);\n  if (!clean) return \"\";\n  var sentences = clean.match(/[^.!?]+[.!?]+/g);\n  var result = sentences ? sentences.slice(0, maxSentences).join(\" \") : clean;\n  result = cleanText(result);\n  if (result.length > maxChars) {\n    result = result.slice(0, maxChars).replace(/\\s+\\S*$/, \"\") + \" \\u2026\";\n  }\n  return result;\n}\n\nfunction extractSection(text, heading, nextHeadings) {\n  nextHeadings = nextHeadings || [];\n  var source = String(text || \"\").replace(/\\r/g, \"\");\n  var escapedHeading = escapeRegExp(heading);\n  var pattern;\n  if (nextHeadings.length > 0) {\n    var nextPattern = nextHeadings.map(escapeRegExp).join(\"|\");\n    pattern = escapedHeading + \":\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\s*(?:\" + nextPattern + \"):|$)\";\n  } else {\n    pattern = escapedHeading + \":\\\\s*([\\\\s\\\\S]*)\";\n  }\n  var regex = new RegExp(pattern, \"i\");\n  var match = source.match(regex);\n  return match ? cleanText(match[1]) : \"\";\n}\n\nfunction extractEinordnungValue(text, label) {\n  var source = String(text || \"\").replace(/\\r/g, \"\");\n  var escapedLabel = escapeRegExp(label);\n  var pattern = \"(?:^|\\\\n)\\\\s*[-*\\\\u2022\\\\u25cf\\\\u27a3\\\\u25aa\\\\u25e6]?\\\\s*\" + escapedLabel + \":\\\\s*([^\\\\n]+)\";\n  var regex = new RegExp(pattern, \"i\");\n  var match = source.match(regex);\n  return match ? cleanText(match[1]) : \"\";\n}\n\n// BUG 4 BEHOBEN: Markdown-Backtick-Bloecke (``` ... ```) aus parseArrayLike entfernt.\n// Die waren aus einem Markdown-Codeblock reinkopiert worden und sind kein gueltiges JS.\nfunction parseArrayLike(value) {\n  if (value === null || value === undefined || value === \"\") return [];\n  if (Array.isArray(value)) {\n    return value.map(cleanListItem).filter(Boolean);\n  }\n  if (typeof value === \"string\") {\n    var raw = value.trim();\n    if (!raw) return [];\n    try {\n      var parsed = JSON.parse(raw);\n      if (Array.isArray(parsed)) {\n        return parsed.map(cleanListItem).filter(Boolean);\n      }\n    } catch (e) {}\n    return raw\n      .split(/\\n|\\s+\\|\\s+|;/)\n      .map(cleanListItem)\n      .filter(Boolean);\n  }\n  return [cleanListItem(value)].filter(Boolean);\n}\n\nfunction extractBulletSection(text, sectionLabel, stopLabels) {\n  stopLabels = stopLabels || [];\n  var source = String(text || \"\").replace(/\\r/g, \"\");\n  var escapedSection = escapeRegExp(sectionLabel);\n  var pattern;\n  if (stopLabels.length > 0) {\n    var stopPattern = stopLabels.map(escapeRegExp).join(\"|\");\n    pattern = escapedSection + \":\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\s*[-*\\\\u2022\\\\u25cf\\\\u27a3\\\\u25aa\\\\u25e6]?\\\\s*(?:\" + stopPattern + \"):|$)\";\n  } else {\n    pattern = escapedSection + \":\\\\s*([\\\\s\\\\S]*)\";\n  }\n  var regex = new RegExp(pattern, \"i\");\n  var match = source.match(regex);\n  if (!match) return [];\n  return match[1]\n    .split(\"\\n\")\n    .map(cleanListItem)\n    .filter(Boolean);\n}\n\nfunction listHtml(value, fallback) {\n  fallback = fallback || \"Keine konkreten Angaben vorhanden.\";\n  var arr = parseArrayLike(value);\n  if (!arr.length) {\n    return \"<p>\" + esc(fallback) + \"</p>\";\n  }\n  return \"<ul>\" + arr.map(function(item) {\n    return \"<li>\" + esc(cleanListItem(item)) + \"</li>\";\n  }).join(\"\") + \"</ul>\";\n}\n\nfunction paragraphHtml(text) {\n  var clean = cleanText(text);\n  if (!clean) {\n    return \"<p>Keine konkreten Angaben vorhanden.</p>\";\n  }\n  return clean\n    .split(/\\n{2,}/)\n    .map(function(block) {\n      return \"<p>\" + esc(block).replace(/\\n/g, \"<br>\") + \"</p>\";\n    })\n    .join(\"\\n\");\n}\n\nfunction formatValue(value) {\n  var arr = parseArrayLike(value);\n  if (arr.length > 1) return arr.join(\", \");\n  if (arr.length === 1) return arr[0];\n  return \"\";\n}\n\nfunction uniqueTags(tags) {\n  return Array.from(new Set(\n    tags\n      .map(function(t) { return cleanText(t); })\n      .filter(Boolean)\n      .filter(function(t) { return t.length <= 50; })\n  ));\n}\n\nfunction topicTagsFromText(text) {\n  var t = String(text || \"\").toLowerCase();\n  var tags = [];\n\n  function hasAny(words) {\n    return words.some(function(word) {\n      return t.indexOf(String(word).toLowerCase()) !== -1;\n    });\n  }\n\n  if (hasAny([\"bus\", \"stadtbus\", \"linie\", \"liniennetz\", \"haltestelle\", \"oepnv\", \"\\u00f6pnv\", \"fahrplan\", \"verkehr\", \"umleitung\", \"sperrung\", \"radweg\", \"parkplatz\"])) {\n    tags.push(\"Verkehr\", \"\\u00d6PNV\");\n  }\n  if (hasAny([\"bauschutt\", \"baustelle\", \"bauzaun\", \"abbruch\", \"abriss\", \"baustellensicherheit\", \"absperrung\"])) {\n    tags.push(\"Baustelle\", \"Sicherheit\");\n  }\n  if (hasAny([\"stadtbus\", \"haltestelle\", \"fahrgast\", \"fahrgäste\", \"linienfuehrung\", \"schuljahresbeginn\"])) {\n    tags.push(\"Stadtbus\");\n  }\n  if (hasAny([\"denkmalschutz\", \"altstadt\", \"unesco\", \"welterbe\", \"denkmal\", \"sanierung\", \"historisch\"])) {\n    tags.push(\"Altstadt\", \"Denkmalschutz\", \"UNESCO\");\n  }\n  if (hasAny([\"haushalt\", \"kosten\", \"finanz\", \"haushaltsmittel\", \"foerderung\", \"investition\", \"geb\\u00fchr\", \"zuschuss\"])) {\n    tags.push(\"Haushalt\", \"Finanzen\", \"Kosten\");\n  }\n  if (hasAny([\"schule\", \"sch\\u00fcler\", \"sch\\u00fclerinnen\", \"kita\", \"kindergarten\", \"bildung\", \"jugend\", \"schulweg\"])) {\n    tags.push(\"Schule\", \"Bildung\");\n  }\n  if (hasAny([\"m\\u00fclleimer\", \"papierkorb\", \"abfall\", \"b\\u00e4nke\", \"bank\", \"sitzbank\", \"stadtbild\", \"aufenthaltsqualit\\u00e4t\", \"innenstadt\", \"standort\"])) {\n    tags.push(\"Stadtbild\", \"Aufenthaltsqualit\\u00e4t\");\n  }\n  if (hasAny([\"digitalisierung\", \"software\", \"open source\", \"verwaltung\", \"transparenz\", \"daten\", \"portal\", \"online\", \"it\"])) {\n    tags.push(\"Verwaltung\", \"Digitalisierung\", \"Transparenz\");\n  }\n  if (hasAny([\"energie\", \"w\\u00e4rme\", \"w\\u00e4rmeplanung\", \"klima\", \"klimaschutz\", \"heizung\", \"w\\u00e4rmenetz\", \"fernw\\u00e4rme\"])) {\n    tags.push(\"Energie\", \"W\\u00e4rmeplanung\", \"Klimaschutz\");\n  }\n  if (hasAny([\"barriere\", \"barrierefreiheit\", \"inklusion\", \"teilhabe\", \"behinderung\", \"senioren\", \"\\u00e4ltere menschen\"])) {\n    tags.push(\"Barrierefreiheit\", \"Inklusion\");\n  }\n  if (hasAny([\"wahl\", \"wahlwerbung\", \"plakat\", \"plakate\", \"sondernutzung\", \"wahlvorschlag\", \"kandidierende\", \"einzelbewerbung\", \"chancengleichheit\"])) {\n    tags.push(\"Wahl\", \"Wahlwerbung\", \"Chancengleichheit\");\n  }\n  return tags;\n}\n\nvar extractedKurzfassung = extractSection(summaryMessage, \"Kurzfassung\", [\n  \"Einordnung\", \"Offene Punkte\", \"Unsicherheiten\"\n]);\nvar extractedThema          = extractEinordnungValue(summaryMessage, \"Thema\");\nvar extractedBetroffene     = extractEinordnungValue(summaryMessage, \"Betroffene\");\nvar extractedKosten         = extractEinordnungValue(summaryMessage, \"Kosten/Haushalt\");\nvar extractedBuergerwirkung = extractEinordnungValue(summaryMessage, \"B\\u00fcrgerwirkung\");\n\nvar extractedOffenePunkte = extractBulletSection(summaryMessage, \"Offene Punkte\", [\n  \"Unsicherheiten\", \"Quelle\", \"Schlagw\\u00f6rter\"\n]);\nvar extractedUnsicherheiten = extractBulletSection(summaryMessage, \"Unsicherheiten\", [\n  \"Quelle\", \"Schlagw\\u00f6rter\"\n]);\n\nvar mainSummary =\n  extractedKurzfassung ||\n  $json.summaryText ||\n  $json.kurzzusammenfassung ||\n  $json.kurzfassung ||\n  $json.summary ||\n  \"\";\n\nvar thema =\n  extractedThema ||\n  $json.thema ||\n  $json.themes ||\n  \"\";\n\nvar betroffene =\n  extractedBetroffene ||\n  formatValue($json.betroffene) ||\n  \"B\\u00fcrgerinnen und B\\u00fcrger, Stadtverwaltung, Rat der Stadt Goslar\";\n\nvar kosten =\n  extractedKosten ||\n  $json.kostenHaushalt ||\n  $json.kosten ||\n  \"\";\n\nvar buergerwirkung =\n  extractedBuergerwirkung ||\n  $json.buergerwirkung ||\n  \"\";\n\nvar offenePunkte =\n  extractedOffenePunkte.length\n    ? extractedOffenePunkte.map(cleanListItem).filter(Boolean)\n    : parseArrayLike($json.offenePunkte);\n\nvar unsicherheiten =\n  extractedUnsicherheiten.length\n    ? extractedUnsicherheiten.map(cleanListItem).filter(Boolean)\n    : parseArrayLike($json.unsicherheiten || $json.unsicherheitenSummary);\n\nvar wordpressTitle = (function() {\n  var cleaned = cleanTitle(title);\n  var numberAtStart = new RegExp(\n    '^\\\\s*' +\n    vorgangsnummer.replace('/', '\\\\s*\\\\/\\\\s*').replace('-', '\\\\s*-\\\\s*') +\n    '\\\\s*[-–—:]?\\\\s*',\n    'i'\n  );\n  var titleWithoutNumber = cleaned.replace(numberAtStart, '').trim();\n  return vorgangsnummer + ' – ' + (titleWithoutNumber || cleaned);\n})();\nvar wordpressExcerpt = firstSentences(mainSummary, 2, 320);\nvar wordpressSlug    = slugify(vorgangsnummer + \" \" + (thema || wordpressTitle));\n\nvar whyImportant =\n  buergerwirkung ||\n  \"Die Vorlage kann Auswirkungen auf B\\u00fcrgerinnen und B\\u00fcrger, Verwaltungshandeln oder politische Entscheidungen in Goslar haben.\";\n\n// BUG 5 BEHOBEN: href-Zeile - Anf\\u00fchrungszeichen um den href-Wert jetzt korrekt escaped\n\n// ── Vorgangskette-Abschnitt für WordPress (nur bei Folgevorgängen) ───────────\n// Öffentlich werden nur die inhaltlichen Beziehungen gezeigt.\n// Technische Meldungen zur Textextraktion gehören nicht in den Beitrag.\nvar vorgangsketteHtmlBlock = '';\n\nif ($json.istFolgevorgang === true || String($json.istFolgevorgang || '').trim() === 'true') {\n  var ketteDetails = Array.isArray($json.vorgangsketteDetails) ? $json.vorgangsketteDetails : [];\n  var ketteFehlend = Array.isArray($json.fehlendeVorherigeVorgaenge) ? $json.fehlendeVorherigeVorgaenge : [];\n  var ketteStamm = String($json.stammVorgangsnummer || '').trim();\n  var gefundeneVorgaenge = ketteDetails.filter(function(d) { return d && d.gefunden; });\n\n  var html = '<h2>Bezug zu vorherigen Vorgängen</h2>\\n';\n  html += '<p>Dieser Vorgang gehört zur Vorgangskette <strong>' + esc(ketteStamm) + '</strong>.</p>\\n';\n\n  if (gefundeneVorgaenge.length > 0) {\n    html += '<ul>\\n';\n    for (var ki = 0; ki < gefundeneVorgaenge.length; ki++) {\n      var d = gefundeneVorgaenge[ki];\n      var rollenText = d.istStammvorgang ? 'Ausgangsvorgang' : 'vorheriger Folgevorgang';\n      var sichtbarerText = String(d.vorgangsnummer || '').trim();\n      var chainTitle = cleanTitle(d.title || '');\n      if (chainTitle) {\n        var vnPrefixRe = new RegExp('^\\\\s*' + sichtbarerText.replace(/[\\\\^$.*+?()[\\]{}|]/g, '\\\\$&') + '\\\\s*[-–—:]?\\\\s*', 'i');\n        chainTitle = chainTitle.replace(vnPrefixRe, '').trim();\n      }\n      if (chainTitle) sichtbarerText += ' – ' + chainTitle;\n\n      var chainLink = String(d.wordpressPostLink || '').trim() || String(d.allrisUrl || '').trim();\n      var chainLinkIsInternal = !!String(d.wordpressPostLink || '').trim();\n      if (chainLink) {\n        var chainLinkAttrs = chainLinkIsInternal ? '' : ' target=\"_blank\" rel=\"noopener noreferrer\"';\n        html += '  <li><a href=\"' + attrEsc(chainLink) + '\"' + chainLinkAttrs + '>' + esc(sichtbarerText) + '</a> (' + esc(rollenText) + ')</li>\\n';\n      } else {\n        html += '  <li>' + esc(sichtbarerText) + ' (' + esc(rollenText) + ')</li>\\n';\n      }\n    }\n    html += '</ul>\\n';\n  } else if (ketteStamm) {\n    html += '<p>Der Ausgangsvorgang wird unter der Nummer <strong>' + esc(ketteStamm) + '</strong> geführt.</p>\\n';\n  }\n\n  if (ketteFehlend.length > 0) {\n    html += '<p>Ein Teil der früheren Vorgänge war zum Zeitpunkt der Erstellung noch nicht verfügbar.</p>\\n';\n  }\n\n  vorgangsketteHtmlBlock = html;\n}\n\nvar wordpressContent = [\n  \"<p><strong>Vorgangsnummer:</strong> \" + esc(vorgangsnummer) + \"</p>\",\n  \"\",\n  ...(vorgangsketteHtmlBlock ? [vorgangsketteHtmlBlock] : []),\n  \"\",\n  \"<h2>Kurzzusammenfassung</h2>\",\n  paragraphHtml(mainSummary),\n  \"\",\n  \"<h2>Warum ist das wichtig?</h2>\",\n  \"<p>\" + esc(whyImportant) + \"</p>\",\n  \"\",\n  \"<h2>Fakten zur Vorlage</h2>\",\n  \"<ul>\",\n  \"  <li><strong>Vorgangsnummer:</strong> \" + esc(vorgangsnummer) + \"</li>\",\n  \"  <li><strong>Thema:</strong> \" + esc(thema || \"Keine eindeutige Themenangabe vorhanden.\") + \"</li>\",\n  \"  <li><strong>Betroffene:</strong> \" + esc(betroffene) + \"</li>\",\n  \"  <li><strong>Kosten/Haushalt:</strong> \" + esc(kosten || \"Keine konkreten Kostenangaben im Kurztext benannt.\") + \"</li>\",\n  \"</ul>\",\n  \"\",\n  \"<h2>Offene Fragen</h2>\",\n  listHtml(offenePunkte, \"Keine offenen Fragen im Kurztext benannt.\"),\n  \"\",\n  \"<h2>Unsicherheiten</h2>\",\n  listHtml(unsicherheiten, \"Keine besonderen Unsicherheiten im Kurztext benannt.\"),\n  \"\",\n  \"<h2>Quelle</h2>\",\n  \"<p><a href=\\\"\" + attrEsc(link) + \"\\\" target=\\\"_blank\\\" rel=\\\"noopener noreferrer\\\">Vorlage im ALLRIS der Stadt Goslar \\u00f6ffnen</a></p>\",\n  \"\"\n].join(\"\\n\").trim();\n\nif (!wordpressTitle) {\n  throw new Error(\"wordpressTitle fehlt\");\n}\n\nif (!mainSummary) {\n  throw new Error(\"Kurzzusammenfassung fehlt: Weder summaryMessage noch kurzfassung/summary enthalten verwertbaren Text.\");\n}\n\nif (!wordpressContent.includes(\"<h2>Kurzzusammenfassung</h2>\")) {\n  throw new Error(\"WordPress-Content enth\\u00e4lt keine Kurzzusammenfassung.\");\n}\n\nif (wordpressContent.includes('\"msgtype\"')) {\n  throw new Error(\"Matrix-JSON wurde versehentlich in den WordPress-Content \\u00fcbernommen.\");\n}\n\nvar combinedTagText = [\n  title,\n  vorgangsnummer,\n  thema,\n  betroffene,\n  kosten,\n  buergerwirkung,\n  mainSummary,\n  offenePunkte.join(\" \"),\n  unsicherheiten.join(\" \")\n].join(\" \");\n\nvar wordpressTags = uniqueTags(\n  topicTagsFromText(combinedTagText)\n);\n\nvar outputJson = Object.assign({}, $json, {\n  wordpressTitle:   wordpressTitle,\n  wordpressSlug:    wordpressSlug,\n  wordpressExcerpt: wordpressExcerpt,\n  wordpressContent: wordpressContent,\n  wordpressTags:    wordpressTags\n});\n\nreturn { json: outputJson };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3056,576],"id":"2e70f6bd-e18a-4561-9205-ca38d157aea3","name":"Code in JavaScript"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Restore Loop Context nach WordPress – stellt Vorgangsdaten nach WordPress-API wieder her.\n// Modus: Run Once for Each Item\n\nconst response = $json || {};\n\nfunction getNodeJson(nodeName) {\n  try {\n    const arr = $(nodeName).all(0, $runIndex);\n    if (Array.isArray(arr) && arr.length) return arr[0]?.json || {};\n  } catch (e) {}\n  try { return $(nodeName).first()?.json || {}; } catch (e) {}\n  try { return $(nodeName).item?.json || {}; } catch (e) {}\n  return {};\n}\n\n// Nach dem neuen Related-Link-Schritt muss der zuletzt gebaute WP-Input Vorrang haben.\nconst wordpressInput = Object.keys(getNodeJson('Parse Related WP JSON')).length\n  ? getNodeJson('Parse Related WP JSON')\n  : getNodeJson('Code in JavaScript');\n\nlet wordpressError = '';\nif (response.error?.message) {\n  wordpressError = String(response.error.message);\n} else if (response.error) {\n  wordpressError = String(response.error);\n} else if (response.name === 'NodeApiError' && response.message) {\n  wordpressError = String(response.message);\n}\n\nconst wordpressPostId =\n  response.id       ||\n  response.postId   ||\n  response.data?.id ||\n  '';\n\nconst wordpressPostLink =\n  response.link      ||\n  response.url       ||\n  response.data?.link ||\n  '';\n\nreturn {\n  json: {\n    ...wordpressInput,\n    wordpressPosted:    !wordpressError && Boolean(wordpressPostId || wordpressPostLink),\n    wordpressPostId:    wordpressPostId   ? String(wordpressPostId)   : '',\n    wordpressPostLink:  wordpressPostLink ? String(wordpressPostLink) : '',\n    wordpressPostError: wordpressError    ? String(wordpressError)    : '',\n    wordpressResponse:  response\n  }\n};\n"},"id":"c7956703-1c2c-4b9e-965d-7ad4da78b6b2","name":"Restore Loop Context nach WordPress","type":"n8n-nodes-base.code","typeVersion":2,"position":[4400,576]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"wp-success-001","leftValue":"={{ $json.wordpressPosted }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"95aed042-7005-4bac-8f1c-ac35437d043d","name":"IF WordPress erfolgreich?","type":"n8n-nodes-base.if","typeVersion":2,"position":[4624,576]},{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"hBLqpqeVEojPpOJl","mode":"list","cachedResultName":"allris_vorgaenge","cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"},"returnAll":true},"id":"8437cdb3-dab2-4c32-bdae-c8f5909e9f51","name":"Hole veröffentlichte WordPress-Beiträge","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[3280,576],"alwaysOutputData":true},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// Finde WP Kandidaten – nur für WordPress-Verlinkung\n// Läuft nach dem WordPress-Content-Builder und vor der Veröffentlichung.\n// Ziel: wenige, plausible Kandidaten aus bereits veröffentlichten WP-Beiträgen sammeln.\n// Die endgültige Freigabe erfolgt danach durch den KI-Relation-Check.\n//\n// V12.11: ergänzt enge Themencluster.\n// Dadurch werden nicht nur echte Vorgangsketten gefunden, sondern auch sichere\n// inhaltliche Nachbarschaften wie Spenden, Zuschüsse, Stadtbus, Denkmalschutz,\n// B241/Vollsperrung, städtische Gebäude/Sanierung oder konkrete Kostenkritik.\n\nfunction getNodeJson(nodeName) {\n  try {\n    const arr = $(nodeName).all(0, $runIndex);\n    if (Array.isArray(arr) && arr.length) return arr[0]?.json || {};\n  } catch (e) {}\n  try { return $(nodeName).first()?.json || {}; } catch (e) {}\n  try { return $(nodeName).item?.json || {}; } catch (e) {}\n  return {};\n}\n\nconst current = getNodeJson('Code in JavaScript');\nconst rows = $input.all().map(i => i.json || {}).filter(r => Object.keys(r).length > 0);\n\nfunction safe(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction lower(v) { return safe(v).toLowerCase(); }\nfunction truthy(v) {\n  if (v === true || v === 1) return true;\n  const s = lower(v);\n  return s === 'true' || s === '1' || s === 'yes' || s === 'ja';\n}\nfunction parseArray(v) {\n  if (Array.isArray(v)) return v.map(safe).filter(Boolean);\n  const t = safe(v);\n  if (!t) return [];\n  try {\n    const p = JSON.parse(t);\n    if (Array.isArray(p)) return p.map(safe).filter(Boolean);\n  } catch (e) {}\n  return t.split(/\\s*\\|\\s*|\\s*;\\s*|\\n+/).map(safe).filter(Boolean);\n}\nfunction baseVorgangsnummer(vn) {\n  const s = safe(vn);\n  return s.replace(/-\\d+$/, '');\n}\nfunction compactText(obj) {\n  return [\n    obj.vorgangsnummer,\n    obj.title,\n    obj.thema,\n    obj.themes,\n    obj.buergerwirkung,\n    obj.kostenHaushalt,\n    parseArray(obj.betroffene).join(' '),\n    parseArray(obj.offenePunkte).join(' '),\n    parseArray(obj.unsicherheitenSummary || obj.unsicherheiten).join(' '),\n    obj.summaryText,\n    obj.kurzfassung\n  ].map(safe).filter(Boolean).join(' ');\n}\n\nfunction normText(value) {\n  return lower(value)\n    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue').replace(/ß/g, 'ss')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nconst STOP = new Set([\n  'stadt','goslar','vorlage','ratsvorlage','beschluss','beschlussvorlage','mitteilung','antrag','anfrage','antwort','beantwortung',\n  'prüfung','pruefung','prüfauftrag','pruefauftrag','verwaltung','stadtverwaltung','stadtrat','ausschuss','ortschaft','ortsrat',\n  'ratsherr','ratsfrau','fraktion','ratsfraktion','ortsratsfraktion','politik','öffentlich','oeffentlich','öffentlichkeit','oeffentlichkeit',\n  'henning','wehrmann','hans','heinrich','wiebe',\n  'bürger','buerger','bürgerinnen','buergerinnen','menschen','personen','betroffene','kosten','haushalt','mittel','finanziell','finanzielle',\n  'thema','vorgang','allris','öffentliche','oeffentliche','politische','praktische','konkrete','konkreten','unklar','unklarheit','keine','angaben',\n  'vorhanden','zusammenfassung','dokument','dokumente','informationen','auswirkungen','direkte','indirekte','frage','fragen',\n  'worden','werden','wurde','wurden','sollen','soll','kann','könnte','koennte','betrifft','bezieht','liegt','liegen','stehen','dabei','unter','sowie',\n  'dass','nicht','noch','auch','oder','eine','einer','eines','einem','einen','der','die','das','den','dem','des','und','mit','für','fuer','zur','zum',\n  'von','auf','aus','bei','im','in','durch','über','ueber','weiter','weitere','zudem','jedoch','diese','dieser','dieses','haben','hat','sind','ist',\n  'aktuell','aktuellen','fehlt','fehlen','enthält','enthaelt','enthalten','benannt','möglich','moeglich','konkret','klar','besteht','bestehen'\n]);\n\nfunction termsFromText(text) {\n  const normalized = normText(text).replace(/[^a-z0-9\\/\\- ]+/g, ' ');\n  const raw = normalized.split(/\\s+/).map(s => s.trim()).filter(Boolean);\n  const out = [];\n  for (const token of raw) {\n    if (token.length < 5 && !/^b\\d{2,4}$/.test(token)) continue;\n    if (STOP.has(token)) continue;\n    if (/^20\\d{2}$/.test(token)) continue;\n    out.push(token);\n  }\n  return Array.from(new Set(out)).slice(0, 80);\n}\n\nconst CLUSTERS = [\n  {\n    id: 'spenden',\n    label: 'Spenden',\n    terms: ['spende','spenden','spendeneingang','annahme von spenden','100 bis 2.000','100 bis 2000','ueber 2.000','über 2.000','ueber 2000','über 2000']\n  },\n  {\n    id: 'zuschuesse_foerderung',\n    label: 'Zuschüsse',\n    terms: ['zuschuss','zuschuesse','zuschüsse','zuschussrichtlinie','richtlinie fuer die gewaehrung','richtlinie für die gewährung','foerderung','förderung','foerdermittel','fördermittel']\n  },\n  {\n    id: 'verschwendung_oeffentlicher_gelder',\n    label: 'Verschwendung öffentlicher Gelder',\n    terms: ['verschwendung','einsparpotential','einsparpotenzial','einsparung','einsparungen','mehrkosten','doppelausgabe','unnoetig','unnötig','missverhaeltnis','missverhältnis','kosten und nutzen','haushaltsmittel','ueberplanmaessig','überplanmäßig','mittelbereitstellung','oeffentliche mittel','öffentliche mittel']\n  },\n  {\n    id: 'sanierung_instandhaltung_gebaeude',\n    label: 'Sanierung städtischer Gebäude',\n    terms: ['sanierung','energetische sanierung','instandhaltung','gebaeude','gebäude','immobilien','staedtische immobilien','städtische immobilien','ggm','grundschule','am stollen','pfalzgarten','kulturmarktplatz']\n  },\n  {\n    id: 'denkmalschutz_ungleichbehandlung',\n    label: 'Denkmalschutz',\n    terms: ['denkmalschutz','denkmalrecht','denkmalrechtliche','ungleichbehandlung','ungleichbehandlungen','altstadt','unesco','welterbe','genehmigung','fenster','ratsdiele']\n  },\n  {\n    id: 'buergerbuero_service',\n    label: 'Bürgerbüro',\n    terms: ['buergerbuero','bürgerbüro','personalausweis','personalausweise','unterschrift','unterschriftenanforderung','rechtsauslegung','serviceorientierung','servicequalitaet','servicequalität']\n  },\n  {\n    id: 'buergerbeteiligung_transparenz',\n    label: 'Bürgerbeteiligung und Transparenz',\n    terms: ['buergerbeteiligung','bürgerbeteiligung','transparenz','buergerdialog','bürgerdialog','beteiligung','zukunftsfragen','strategie','goslarer erklaerung','goslarer erklärung']\n  },\n  {\n    id: 'verkehrssperrung_umleitung',\n    label: 'Verkehrssperrungen',\n    terms: ['vollsperrung','sperrung','umleitung','umleitungen','fahrtzeit','fahrtzeiten','verkehrskollaps','infrastrukturkollaps','b241','l515','hahnenklee','bockswiese','rettungsdienst','erreichbarkeit']\n  },\n  {\n    id: 'stadtbus_oepnv',\n    label: 'Stadtbus und ÖPNV',\n    terms: ['stadtbus','oepnv','öpnv','direktvergabe','liniennetz','liniennetzanpassung','monitoringbericht','haltestelle','haltestellen','fahrplan','schuljahresbeginn','buslinie']\n  },\n  {\n    id: 'gehwege_betriebshof',\n    label: 'Gehwege und Betriebshof',\n    terms: ['gehweg','gehwege','sperlingsplatz','betriebshof','unterhaltung der gehwege','mangelhafte unterhaltung','strassenunterhaltung','straßenunterhaltung']\n  },\n  {\n    id: 'jahresabschluss_kommunale_gesellschaften',\n    label: 'Kommunale Gesellschaften',\n    terms: ['jahresabschluss','geschaeftsjahr','geschäftsjahr','gesellschaft','wagv','aqua service','wasser- und abwassergesellschaft','sparkasse','zweckverband','verwaltungsrat']\n  },\n  {\n    id: 'personal_pensionen',\n    label: 'Personal und Pensionen',\n    terms: ['beamtenanteil','personalentwicklung','pensionsverpflichtungen','pensionen','personalstruktur','stellen','beamte']\n  }\n];\n\nfunction detectClusters(text) {\n  const t = normText(text);\n  const found = [];\n  for (const c of CLUSTERS) {\n    const hitTerms = [];\n    for (const term of c.terms) {\n      const nt = normText(term);\n      if (nt && t.includes(nt)) hitTerms.push(term);\n    }\n    if (hitTerms.length > 0) {\n      found.push({ id: c.id, label: c.label, hitTerms: Array.from(new Set(hitTerms)).slice(0, 8) });\n    }\n  }\n  return found;\n}\n\nfunction intersectClusters(a, b) {\n  const bMap = new Map(b.map(x => [x.id, x]));\n  return a.filter(x => bMap.has(x.id)).map(x => ({\n    id: x.id,\n    label: x.label,\n    currentTerms: x.hitTerms,\n    candidateTerms: bMap.get(x.id).hitTerms\n  }));\n}\n\nfunction extractSubjects(obj) {\n  const out = new Map();\n  function add(displayText) {\n    const disp = safe(displayText);\n    if (!disp) return;\n    const n = normText(disp);\n    if (n && n.length >= 4 && !out.has(n)) out.set(n, disp);\n  }\n  function addBetroffenePhrase(phrase) {\n    const text = safe(phrase);\n    if (!text) return;\n    // Zusammengesetzte Betroffene-Phrasen wie \"Anwohner der Rammelsberger Straße\"\n    // zusätzlich in ihren atomaren Kern (\"Anwohner\") aufteilen - kurze, konkrete\n    // Tags statt langer Fließtext-Phrasen. Die Straße selbst wird bereits separat\n    // über streetRe aus Titel/Thema erkannt.\n    add(text);\n    const head = text.split(/\\s+(?:der|des|von|vom|in|im|an|am|bei)\\s+/i)[0].trim();\n    if (head && head !== text) add(head);\n  }\n  for (const b of parseArray(obj.betroffene)) addBetroffenePhrase(b);\n  const scanText = [obj.title, obj.thema, obj.themes].map(safe).filter(Boolean).join(' ');\n  const streetRe = /\\b[A-ZÄÖÜ][a-zäöüß]+(?:straße|strasse|weg|platz|allee|ring|damm|ufer)\\b/gi;\n  let m;\n  while ((m = streetRe.exec(scanText)) !== null) add(m[0]);\n  const roadRe = /\\b[BLK]\\d{2,4}(?:-\\d+)?\\b/g;\n  while ((m = roadRe.exec(scanText)) !== null) add(m[0]);\n  const properRe = /\\b(?:[A-ZÄÖÜ][a-zäöüß]{2,}\\s+){1,4}(?:[A-ZÄÖÜ][a-zäöüß]{2,}|GmbH|e\\.V\\.|AG|mbH)\\b/g;\n  while ((m = properRe.exec(scanText)) !== null) {\n    if (m[0].trim().split(/\\s+/).length >= 2) add(m[0]);\n  }\n  return out;\n}\n\nconst currentText = compactText(current);\nconst currentTerms = termsFromText(currentText);\nconst currentTermSet = new Set(currentTerms);\nconst currentClusters = detectClusters(currentText);\nconst currentSubjects = extractSubjects(current);\nconst currentKey = safe(current.vorgangKey);\nconst currentVn = safe(current.vorgangsnummer);\nconst currentBase = baseVorgangsnummer(currentVn);\nconst currentStamm = safe(current.stammVorgangsnummer || currentBase);\n\nconst candidates = [];\nfor (const row of rows) {\n  const link = safe(row.wordpressPostLink);\n  const key = safe(row.vorgangKey);\n  const vn = safe(row.vorgangsnummer);\n  if (!link) continue;\n  if (key && currentKey && key === currentKey) continue;\n  if (vn && currentVn && vn === currentVn) continue;\n  if (!truthy(row.wordpressPosted) && !link) continue;\n\n  const text = compactText(row);\n  if (!text) continue;\n\n  const candTerms = termsFromText(text);\n  const shared = candTerms.filter(t => currentTermSet.has(t));\n\n  const candClusters = detectClusters(text);\n  const sharedClusters = intersectClusters(currentClusters, candClusters);\n\n  const candSubjects = extractSubjects(row);\n  const sharedSubjects = Array.from(candSubjects.keys()).filter(s => currentSubjects.has(s));\n\n  const candBase = baseVorgangsnummer(vn);\n  const candStamm = safe(row.stammVorgangsnummer || candBase);\n  const sameChain =\n    !!(currentBase && candBase && currentBase === candBase) ||\n    !!(currentStamm && candStamm && currentStamm === candStamm && currentStamm !== currentVn);\n\n  let score = 0;\n  if (sameChain) score += 60;\n  score += sharedClusters.length * 18;\n  score += sharedSubjects.length * 25;\n  score += Math.min(shared.length, 8);\n\n  // Kandidaten werden nur durchgelassen, wenn entweder eine echte Vorgangskette,\n  // ein enger Themencluster, ein gemeinsames konkretes Subjekt (Objekt/Ort/Organisation)\n  // oder mehrere starke gemeinsame Begriffe vorliegen. Der Subjekt-Abgleich ist bewusst\n  // unabhängig von der festen Cluster-Liste, damit auch künftige, noch unbekannte Themen\n  // über gleiche Subjekte als Kandidaten erkannt werden.\n  if (!sameChain && sharedClusters.length === 0 && sharedSubjects.length === 0 && shared.length < 4) continue;\n  if (score < 4) continue;\n\n  candidates.push({\n    vorgangKey: key,\n    vorgangsnummer: vn,\n    title: safe(row.title),\n    wordpressPostLink: link,\n    wordpressPostId: safe(row.wordpressPostId),\n    wordpressSlug: safe(row.wordpressSlug),\n    thema: safe(row.thema || row.themes),\n    buergerwirkung: safe(row.buergerwirkung),\n    betroffene: parseArray(row.betroffene).slice(0, 8),\n    offenePunkte: parseArray(row.offenePunkte).slice(0, 6),\n    summaryText: safe(row.summaryText).slice(0, 900),\n    sharedTerms: shared.slice(0, 12),\n    sharedClusters: sharedClusters.slice(0, 4),\n    sharedSubjects: sharedSubjects.slice(0, 8),\n    currentClusters: currentClusters.map(c => c.label).slice(0, 8),\n    candidateClusters: candClusters.map(c => c.label).slice(0, 8),\n    sameVorgangskette: sameChain,\n    prefilterScore: score\n  });\n}\n\ncandidates.sort((a, b) => {\n  if (a.sameVorgangskette !== b.sameVorgangskette) return a.sameVorgangskette ? -1 : 1;\n  const aStrong = (Array.isArray(a.sharedSubjects) ? a.sharedSubjects.length : 0) + (Array.isArray(a.sharedClusters) ? a.sharedClusters.length : 0);\n  const bStrong = (Array.isArray(b.sharedSubjects) ? b.sharedSubjects.length : 0) + (Array.isArray(b.sharedClusters) ? b.sharedClusters.length : 0);\n  if (aStrong !== bStrong) return bStrong - aStrong;\n  return (b.prefilterScore || 0) - (a.prefilterScore || 0);\n});\n\nconst limited = candidates.slice(0, 18);\n\n// Konkrete Subjekte des aktuellen Beitrags (Straßen, Verkehrsbezeichnungen, Organisationen,\n// betroffene) zusätzlich zu den bereits berechneten Kategorie-Tags aufnehmen - präziser\n// als die generischen Kategorie-Tags und robust gegenüber künftigen, unbekannten Themen.\nconst existingTags = Array.isArray(current.wordpressTags) ? current.wordpressTags : [];\nconst mergedTagsSeen = new Set(existingTags.map(t => normText(t)));\nconst mergedTags = [...existingTags];\nfor (const [n, disp] of currentSubjects.entries()) {\n  if (disp.length > 30) continue;\n  if (mergedTagsSeen.has(n)) continue;\n  mergedTagsSeen.add(n);\n  mergedTags.push(disp);\n  if (mergedTags.length - existingTags.length >= 6) break;\n}\n\nreturn [{\n  json: {\n    ...current,\n    wordpressTags: mergedTags,\n    _relatedCandidateCount: limited.length,\n    _relatedCandidatesJson: JSON.stringify(limited),\n    _relatedCurrentContextJson: JSON.stringify({\n      vorgangKey: safe(current.vorgangKey),\n      vorgangsnummer: safe(current.vorgangsnummer),\n      title: safe(current.title),\n      thema: safe(current.thema || current.themes),\n      buergerwirkung: safe(current.buergerwirkung),\n      betroffene: parseArray(current.betroffene).slice(0, 8),\n      offenePunkte: parseArray(current.offenePunkte).slice(0, 6),\n      summaryText: safe(current.summaryText).slice(0, 1200),\n      detectedClusters: currentClusters.map(c => ({ id: c.id, label: c.label, hitTerms: c.hitTerms })).slice(0, 10)\n    })\n  }\n}];\n"},"id":"e2105160-51ab-431c-a6aa-c1df579d3396","name":"Finde WP Kandidaten","type":"n8n-nodes-base.code","typeVersion":2,"position":[3504,576]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"content":"=Du prüfst, ob bereits veröffentlichte WordPress-Beiträge sachlich eng mit dem aktuellen ALLRIS-Beitrag verwandt sind.\n\nWICHTIG:\nAntworte ausschließlich mit validem JSON.\nKein Markdown.\nKein Text vor oder nach dem JSON.\nKeine zusätzlichen Felder außerhalb des Schemas.\n\nZiel:\nEs dürfen nur Links für WordPress vorgeschlagen werden, wenn die Themen wirklich sicher verwandt sind oder dieselben konkreten Probleme ansprechen.\n\nDie Verlinkung soll Leserinnen und Lesern helfen, sachlich verwandte Beiträge zu finden.\nSie darf nicht dazu führen, dass fast jeder Beitrag automatisch mehrere Links bekommt.\nLieber kein Link als ein mittelmäßiger oder nur grob passender Link.\n\nAktueller Beitrag:\n{{$json._relatedCurrentContextJson}}\n\nKandidaten:\n{{$json._relatedCandidatesJson}}\n\nStrenge Link-Regeln:\nSetze doLink nur dann auf true, wenn mindestens eine harte Beziehung sicher erkennbar ist:\n\n1. gleiche Vorgangskette, Stammvorgang oder Folgevorgang,\n2. gleicher konkreter Ort und gleiches konkretes Problem,\n3. gleiche konkrete Maßnahme und gleiche Konfliktlage,\n4. gleiche betroffene Gruppe und gleiche konkrete Verwaltungs-/Kosten-/Verkehrs-/Barrierefreiheits-/Denkmalschutz-Problematik,\n5. gleiche ausdrücklich genannte Streitfrage, Regel, Pflicht, Kontrolle oder Verwaltungspraxis,\n6. gleicher enger Themencluster mit gleicher Problemfamilie, z. B. Spenden, Zuschüsse/Förderpraxis, Stadtbus/ÖPNV, Denkmalschutz/Ungleichbehandlung, Verkehrssperrung/Umleitung, städtische Gebäude/Sanierung/Instandhaltung oder kommunale Gesellschaften/Jahresabschluss,\n7. gleiche konkrete Kostenkritik oder Verschwendungslogik, wenn beide Beiträge öffentliche Gelder, Haushaltsmittel, Zuschüsse, Spenden, Förderungen, überplanmäßige Mittel, kommunale Ausgaben oder Instandhaltung betreffen UND dieselbe Problemart erkennbar ist, z. B. fraglicher Nutzen, Einsparpotenzial, unklare Mittelverwendung, Kosten-Nutzen-Missverhältnis, wiederkehrende Förder-/Spendenpraxis oder vermeidbare Mehrkosten.\n\nZusätzliche Sicherheitsregel gegen Linkschleuder:\nEin gemeinsamer Themencluster allein reicht nicht aus.\n\nWenn die Verwandtschaft nur über Regel 6 oder Regel 7 entsteht, muss zusätzlich mindestens einer dieser zweiten Anker sicher erkennbar sein:\n\n- gleiche oder sehr ähnliche konkrete Streitfrage,\n- gleiche Maßnahme oder gleicher Verwaltungsvorgang,\n- gleiche betroffene Gruppe,\n- gleiche Art der Mittelverwendung,\n- gleiche Kostenkritik,\n- gleiche Förder-, Spenden- oder Zuschusspraxis,\n- gleicher Ort oder gleiche Einrichtung,\n- gleiche Zuständigkeit oder Verwaltungspraxis,\n- gleiche praktische Bürgerwirkung.\n\nOhne diesen zweiten Anker gilt:\ndoLink=false.\n\nWichtige Unterscheidung:\n- Eine enge thematische Nachbarschaft darf verlinkt werden, wenn normale Leserinnen und Leser den Zusammenhang sofort erkennen würden.\n- Die Beiträge müssen nicht identisch sein; sie dürfen Varianten desselben Oberthemas sein.\n- Beispiel: „Spenden über 2.000 Euro“ und „Spenden von 100 bis 2.000 Euro“ sind verwandt, relatedTopicLabel = „Spenden“.\n- Beispiel: „Zuschussrichtlinie“ und „Annahme von Spenden“ sind nur dann verwandt, wenn beide im konkreten Kontext Mittelvergabe, Förderpraxis, Spendenpraxis oder Transparenz der Mittelverwendung behandeln.\n- Beispiel: „Sanierung Pfalzgarten“, „Sanierung Am Stollen 19G“ und „Instandhaltung städtischer Immobilien“ können verwandt sein, wenn es um städtische Gebäude/Anlagen, Sanierung, Instandhaltung oder Einsparpotenziale geht.\n- Beispiel: „Stadtbus-Direktvergabe“, „Liniennetzanpassung“ und „Monitoringbericht Stadtbus“ können verwandt sein, relatedTopicLabel = „Stadtbus und ÖPNV“.\n- Beispiel: Zwei Beiträge zu unterschiedlichen Ausgaben sind nicht automatisch verwandt. Sie sind nur verwandt, wenn die gleiche Kostenkritik oder Verschwendungslogik erkennbar ist.\n\nNicht ausreichend sind:\n- beide sind allgemein Verkehr, aber ohne gleiche Verkehrslage oder gleichen ÖPNV-/Sperrungs-Kontext,\n- beide sind allgemein Verwaltung,\n- beide betreffen allgemein Kosten, aber ohne gleiche Kostenkritik oder Mittelverwendungslogik,\n- beide betreffen allgemein Innenstadt,\n- beide sind politisch interessant,\n- beide haben ähnliche Stimmung, aber andere Sachprobleme,\n- beide enthalten das Wort Haushalt, aber behandeln verschiedene Themen,\n- beide betreffen öffentliche Gelder, aber ohne gleiche Problemart,\n- beide wirken satirisch oder politisch anschlussfähig, aber sachlich verschieden.\n\nBesonders vorsichtig bei breiten Clustern:\nBei folgenden Oberthemen darf nur verlinkt werden, wenn ein zweiter harter Anker vorliegt:\n\n- Verschwendung öffentlicher Gelder,\n- Kosten,\n- Haushalt,\n- Verwaltung,\n- Transparenz,\n- Innenstadt,\n- Stadtentwicklung,\n- öffentliche Gelder.\n\nDiese Begriffe sind zu breit für sich allein.\nSie dürfen nur verwendet werden, wenn die konkrete Problemart wirklich gleich oder sehr ähnlich ist.\n\nMaximale Linkzahl:\n- Gib maximal 2 Links aus.\n- Auch wenn 3 oder mehr Kandidaten grundsätzlich passen könnten, wähle nur die 1 bis 2 stärksten.\n- Gib 0 Links aus, wenn kein Kandidat eindeutig stark ist.\n- Gib 1 Link aus, wenn nur ein Kandidat wirklich eng passt.\n- Gib 2 Links nur aus, wenn beide sehr klar und sofort nachvollziehbar verwandt sind.\n- Fülle die Linkliste niemals künstlich auf.\n\nQualitätsmaßstab:\nWenn die Verwandtschaft für normale Leserinnen und Leser nicht sofort nachvollziehbar wäre, setze doLink=false.\nWenn du die Verbindung erst ausführlich erklären müsstest, setze doLink=false.\nWenn die Begründung nur allgemein lautet, z. B. „beide betreffen Kosten“, setze doLink=false.\nWenn der Zusammenhang nur politisch oder satirisch ähnlich ist, aber sachlich nicht eng verwandt, setze doLink=false.\n\nConfidence-Regeln:\n- confidence=\"HOCH\" nur bei klarer, enger, sachlicher Verwandtschaft.\n- confidence=\"MITTEL\" bei plausibler, aber nicht zwingender Nähe.\n- confidence=\"NIEDRIG\" bei bloßer Themenähnlichkeit.\n- Nur confidence=\"HOCH\" darf später angezeigt werden.\n- Wenn du unsicher bist, setze doLink=false.\n\nZusätzliche Regel für relatedTopicLabel:\n- relatedTopicLabel ist die kurze sichtbare Überschrift für den WordPress-Abschnitt „Mehr zum Thema …“.\n- Verwende dafür den gemeinsamen Oberbegriff der tatsächlich verlinkten Beiträge, nicht das vollständige Spezialthema des aktuellen Beitrags.\n- Der Begriff soll kurz sein, möglichst 1 bis 4 Wörter.\n- Verwende keine Betragsgrenzen, Jahreszahlen, Folgekennzeichen, Detailfristen oder Sonderfälle, wenn sie nicht für alle verlinkten Beiträge gleichermaßen gelten.\n- Beispiel: Wenn ein Beitrag Spenden über 2.000 Euro und ein anderer Spenden von 100 bis 2.000 Euro betrifft, lautet relatedTopicLabel „Spenden“.\n- Beispiel: Wenn beide Beiträge dieselbe Vollsperrung der B241 betreffen, darf relatedTopicLabel „B241-Vollsperrung“ lauten.\n- Beispiel: Wenn mehrere Beiträge Stadtbuslinien, Direktvergabe oder Monitoringbericht behandeln, darf relatedTopicLabel „Stadtbus und ÖPNV“ lauten.\n- Beispiel: Wenn mehrere Beiträge städtische Gebäude, Sanierung und Instandhaltung betreffen, darf relatedTopicLabel „Sanierung städtischer Gebäude“ lauten.\n- Verwende relatedTopicLabel nicht zu breit. Nicht geeignet sind alleinstehende Begriffe wie „Kosten“, „Verwaltung“, „Goslar“, „Politik“, „Innenstadt“ oder „Haushalt“.\n- Wenn kein kurzer gemeinsamer Oberbegriff sicher möglich ist, setze relatedTopicLabel auf \"\".\n\nRegel zur Begründung:\nreason muss kurz erklären, warum der Link für normale Leserinnen und Leser sachlich sinnvoll ist.\nDie Begründung muss den konkreten gemeinsamen Anker nennen.\nSchlechte Begründung: „Beide Beiträge betreffen Kosten.“\nGute Begründung: „Beide Beiträge behandeln die Annahme kommunaler Spenden und unterscheiden nur nach der Höhe der Spendensumme.“\nGute Begründung: „Beide Beiträge betreffen die Stadtbus-Organisation und dieselbe Frage der Linienführung beziehungsweise Direktvergabe.“\nGute Begründung: „Beide Beiträge behandeln Sanierung und Instandhaltung städtischer Gebäude mit Bezug zu Kosten und Nutzung.“\n\nRegel zu anchorTerms:\nanchorTerms soll nur konkrete gemeinsame Begriffe enthalten.\nKeine allgemeinen Wörter wie Goslar, Verwaltung, Kosten, Haushalt, Politik, Vorlage, Antrag, Anfrage oder Bürger.\nGute anchorTerms sind zum Beispiel:\n- Spenden\n- Zuschüsse\n- Stadtbus\n- Direktvergabe\n- Liniennetz\n- B241\n- Vollsperrung\n- L515\n- Denkmalschutz\n- Ungleichbehandlung\n- Sanierung\n- städtische Gebäude\n- Instandhaltung\n- Förderpraxis\n- Mittelverwendung\n- Rettungsdienst\n- Hahnenklee-Bockswiese\n\nGib ausschließlich dieses JSON zurück:\n{\n  \"relatedTopicLabel\": \"\",\n  \"relatedWordpressPosts\": [\n    {\n      \"vorgangKey\": \"\",\n      \"vorgangsnummer\": \"\",\n      \"title\": \"\",\n      \"wordpressPostLink\": \"\",\n      \"relationType\": \"gleiche_vorgangskette|gleicher_ort_gleiches_problem|gleiche_massnahme|gleiche_konfliktlage|gleiche_verwaltungspraxis|gleicher_themencluster|gleiche_kostenkritik|gleiche_foerder_oder_spendenpraxis\",\n      \"confidence\": \"HOCH|MITTEL|NIEDRIG\",\n      \"reason\": \"\",\n      \"anchorTerms\": [],\n      \"doLink\": false\n    }\n  ]\n}\n\nWenn es keine wirklich sichere Verwandtschaft gibt, gib zurück:\n{\n  \"relatedTopicLabel\": \"\",\n  \"relatedWordpressPosts\": []\n}"}]},"builtInTools":{},"options":{}},"id":"59781b5c-24e8-4a69-8bd7-d58056001f9b","name":"AI Verwandte WP Beiträge","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[3728,576],"credentials":{"openAiApi":{"id":"RiT1gwJpQWzSo6NO","name":"OpenAI account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Parse Related WP JSON + fügt sichere verwandte Beiträge nur in wordpressContent ein.\n// Bei Parse-Fehlern wird NICHT blockiert, sondern ohne verwandte Links veröffentlicht.\n\nfunction safe(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction esc(value) {\n  return String(value != null ? value : '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;');\n}\nfunction attrEsc(value) {\n  return esc(value).replace(/\"/g, '&quot;');\n}\nfunction cleanTitle(value) {\n  return safe(value).replace(/^📄\\s*/g, '').replace(/\\s+/g, ' ').trim();\n}\nfunction cleanTopicLabel(value) {\n  let t = safe(value)\n    .replace(/^mehr\\s+zum\\s+thema\\s+/i, '')\n    .replace(/^thema\\s*[:–—-]\\s*/i, '')\n    .replace(/\\s+/g, ' ')\n    .trim();\n  if (!t) return '';\n  if (t.length > 70) return '';\n  return t;\n}\nfunction extractJson(text) {\n  const stripped = safe(text)\n    .replace(/^```(?:json)?\\s*/i, '')\n    .replace(/\\s*```\\s*$/i, '')\n    .trim();\n  const start = stripped.indexOf('{');\n  const end = stripped.lastIndexOf('}');\n  if (start === -1 || end === -1 || end <= start) return null;\n  return stripped.slice(start, end + 1);\n}\nfunction getAiText(item) {\n  const j = item.json || {};\n  const o = j.output;\n  if (o && Array.isArray(o) && o[0]?.content?.[0]?.text) return o[0].content[0].text;\n  if (Array.isArray(j.content)) {\n    const t = j.content.map(e => e?.text || e?.content || '').filter(Boolean).join('\\n');\n    if (t) return t;\n  }\n  return j.text || j.output_text || j.message?.content || j.choices?.[0]?.message?.content || '';\n}\n\nfunction getNodeJson(nodeName) {\n  try {\n    const arr = $(nodeName).all(0, $runIndex);\n    if (Array.isArray(arr) && arr.length) return arr[0]?.json || {};\n  } catch (e) {}\n  try { return $(nodeName).first()?.json || {}; } catch (e) {}\n  try { return $(nodeName).item?.json || {}; } catch (e) {}\n  return {};\n}\n\nconst current = getNodeJson('Finde WP Kandidaten');\nconst rawText = getAiText($input.item);\nlet parsed = null;\nlet parseError = false;\n\nconst jsonStr = extractJson(rawText);\nif (jsonStr) {\n  try { parsed = JSON.parse(jsonStr); } catch (e) { parseError = true; }\n} else {\n  parseError = !!safe(rawText);\n}\n\nconst relatedRaw = Array.isArray(parsed?.relatedWordpressPosts) ? parsed.relatedWordpressPosts : [];\n\n// Vorgangsketten werden bereits im Abschnitt „Bezug zu vorherigen Vorgängen“ angezeigt.\n// Deshalb dürfen Stamm- oder Folgevorgänge nicht zusätzlich als „Mehr zum Thema“ erscheinen.\nconst chainNumbers = new Set();\nconst chainKeys = new Set();\nif (safe(current.stammVorgangsnummer)) chainNumbers.add(safe(current.stammVorgangsnummer));\nif (Array.isArray(current.vorgangsketteDetails)) {\n  for (const d of current.vorgangsketteDetails) {\n    if (!d) continue;\n    if (safe(d.vorgangsnummer)) chainNumbers.add(safe(d.vorgangsnummer));\n    if (safe(d.vorgangKey)) chainKeys.add(safe(d.vorgangKey));\n  }\n}\nif (Array.isArray(current.vorherigeVorgaengeVerwendet)) {\n  for (const vn of current.vorherigeVorgaengeVerwendet) {\n    if (safe(vn)) chainNumbers.add(safe(vn));\n  }\n}\n\nconst seen = new Set();\nconst related = [];\n\nfor (const r of relatedRaw) {\n  const link = safe(r.wordpressPostLink);\n  const key = safe(r.vorgangKey);\n  const nummer = safe(r.vorgangsnummer);\n  const confidence = safe(r.confidence).toUpperCase();\n  const doLink = r.doLink === true || safe(r.doLink).toLowerCase() === 'true';\n  if (!doLink) continue;\n  if (confidence !== 'HOCH') continue;\n  if (!link) continue;\n  if (key && chainKeys.has(key)) continue;\n  if (nummer && chainNumbers.has(nummer)) continue;\n  const unique = key || link;\n  if (seen.has(unique)) continue;\n  seen.add(unique);\n\n  let relTitle = cleanTitle(r.title);\n  if (nummer && relTitle) {\n    const nummerPrefixRe = new RegExp('^\\\\s*' + nummer.replace(/[\\\\^$.*+?()[\\]{}|]/g, '\\\\$&') + '\\\\s*[-–—:]?\\\\s*', 'i');\n    relTitle = relTitle.replace(nummerPrefixRe, '').trim();\n  }\n\n  related.push({\n    vorgangKey: key,\n    vorgangsnummer: nummer,\n    title: relTitle,\n    wordpressPostLink: link,\n    relationType: safe(r.relationType),\n    confidence,\n    reason: safe(r.reason).slice(0, 280),\n    anchorTerms: Array.isArray(r.anchorTerms) ? r.anchorTerms.map(safe).filter(Boolean).slice(0, 8) : []\n  });\n  if (related.length >= 2) break;\n}\n\nlet content = safe(current.wordpressContent);\nlet relatedBlock = '';\n\nlet relatedTopicLabel = cleanTopicLabel(parsed?.relatedTopicLabel || '');\nif (!relatedTopicLabel) {\n  const termCounts = new Map();\n  for (const r of related) {\n    const perPost = new Set((r.anchorTerms || [])\n      .map(cleanTopicLabel)\n      .filter(Boolean)\n      .filter(t => !/\\d/.test(t))\n      .filter(t => t.length >= 4 && t.length <= 35));\n    for (const t of perPost) {\n      const key = t.toLowerCase();\n      const existing = termCounts.get(key) || { label: t, count: 0 };\n      existing.count += 1;\n      termCounts.set(key, existing);\n    }\n  }\n  const best = Array.from(termCounts.values())\n    .sort((a, b) => b.count - a.count || a.label.length - b.label.length)[0];\n  if (best && best.count >= Math.min(2, related.length)) {\n    relatedTopicLabel = best.label;\n  }\n}\n\nconst relatedHeading = relatedTopicLabel\n  ? ('Mehr zum Thema ' + relatedTopicLabel)\n  : 'Verwandte Beiträge';\n\nif (related.length > 0) {\n  relatedBlock += '<h2>' + esc(relatedHeading) + '</h2>\\n';\n  relatedBlock += '<ul>\\n';\n  for (const r of related) {\n    const labelParts = [];\n    if (r.vorgangsnummer) labelParts.push(r.vorgangsnummer);\n    if (r.title) labelParts.push(r.title);\n    const label = labelParts.join(' – ') || 'Verwandter Beitrag';\n    relatedBlock += '  <li><a href=\"' + attrEsc(r.wordpressPostLink) + '\">' + esc(label) + '</a>';\n    if (r.reason) relatedBlock += '<br><small>' + esc(r.reason) + '</small>';\n    relatedBlock += '</li>\\n';\n  }\n  relatedBlock += '</ul>\\n';\n\n  if (content.includes('<h2>Quelle</h2>')) {\n    content = content.replace('<h2>Quelle</h2>', relatedBlock + '\\n<h2>Quelle</h2>');\n  } else {\n    content = (content + '\\n\\n' + relatedBlock).trim();\n  }\n}\n\nreturn {\n  json: {\n    ...current,\n    wordpressContent: content,\n    relatedWordpressPostsJson: JSON.stringify(related),\n    relatedTopicLabel,\n    relatedCheckedAt: new Date().toISOString(),\n    relatedCandidateCount: Number(current._relatedCandidateCount || 0),\n    relatedLinksAdded: related.length,\n    relatedParseError: parseError\n  }\n};\n"},"id":"f9eb748a-0d41-4cb9-b04a-56f8eb8f845a","name":"Parse Related WP JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[3952,576]},{"parameters":{"method":"GET","url":"https://www.golietz.de/wp-json/wp/v2/tags","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"100"}]},"options":{}},"id":"a1b2c3d4-1a1a-4a5c-9f7d-2b8e6a1c9d41","name":"HTTP Suche WP Tags","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4064,704],"credentials":{"wordpressApi":{"id":"8k2HqYswPaPVS4dr","name":"Wordpress account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Ermittle fehlende Tags – vergleicht wordpressTags (aus Code in JavaScript) mit den\n// bereits existierenden WordPress-Tags und trennt in bereits vorhandene Tag-IDs und\n// noch anzulegende Tag-Namen.\n// WICHTIG: läuft als Run Once for All Items und holt den Beitrags-Kontext bewusst über\n// eine Node-Referenz auf 'Parse Related WP JSON' statt über $input - der Such-Node\n// 'HTTP Suche WP Tags' liefert ein JSON-Array zurück, das n8n mögicherweise in mehrere\n// Items (ein Item pro Tag) aufsplittet; damit dieser Node trotzdem nur einmal pro\n// Vorgang läuft und den korrekten Kontext behält, wird $input nur für die Tag-Liste\n// verwendet, nie für den Beitrags-Kontext.\n\nconst current = $('Parse Related WP JSON').first().json;\nconst wpTags = Array.isArray(current.wordpressTags) ? current.wordpressTags : [];\n\nfunction norm(v) { return String(v || '').trim().toLowerCase(); }\n\nconst rawExisting = $input.all().map(i => i.json);\nlet existingList = rawExisting;\nif (rawExisting.length === 1 && Array.isArray(rawExisting[0])) {\n  existingList = rawExisting[0];\n}\n\nconst existingByName = new Map();\nfor (const t of existingList) {\n  if (t && t.name) existingByName.set(norm(t.name), t.id);\n}\n\nconst resolvedTagIds = [];\nconst missingTagNames = [];\nconst seen = new Set();\n\nfor (const rawName of wpTags) {\n  const name = String(rawName || '').trim();\n  if (!name) continue;\n  const n = norm(name);\n  if (seen.has(n)) continue;\n  seen.add(n);\n  if (existingByName.has(n)) {\n    resolvedTagIds.push(existingByName.get(n));\n  } else {\n    missingTagNames.push(name);\n  }\n}\n\nreturn [{\n  json: {\n    ...current,\n    resolvedTagIds,\n    missingTagNames\n  }\n}];\n"},"id":"a1b2c3d4-1b1b-4a5c-9f7d-2b8e6a1c9d42","name":"Ermittle fehlende Tags","type":"n8n-nodes-base.code","typeVersion":2,"position":[4224,704]},{"parameters":{"jsCode":"// Split fehlende Tags – ein Item pro anzulegendem Tag. Falls nichts fehlt, wird ein\n// Sentinel-Item durchgereicht, damit die Kette danach nie mit 0 Items weiterläuft\n// (sonst würde 'Create a post' für diesen Beitrag gar nicht mehr ausgeführt).\nconst current = $input.first().json;\nconst missing = Array.isArray(current.missingTagNames) ? current.missingTagNames : [];\n\nif (missing.length === 0) {\n  return [{ json: { tagName: '', isSentinel: true } }];\n}\n\nreturn missing.map(name => ({ json: { tagName: name, isSentinel: false } }));\n"},"id":"a1b2c3d4-1c1c-4a5c-9f7d-2b8e6a1c9d43","name":"Split fehlende Tags","type":"n8n-nodes-base.code","typeVersion":2,"position":[4384,704]},{"parameters":{"method":"POST","url":"https://www.golietz.de/wp-json/wp/v2/tags","authentication":"predefinedCredentialType","nodeCredentialType":"wordpressApi","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ name: $json.tagName }) }}","options":{}},"id":"a1b2c3d4-1e1e-4a5c-9f7d-2b8e6a1c9d45","name":"HTTP Erstelle WP Tag","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4704,608],"credentials":{"wordpressApi":{"id":"8k2HqYswPaPVS4dr","name":"Wordpress account"}},"onError":"continueRegularOutput"},{"parameters":{"jsCode":"// Baue finale Tag-Liste – holt den ursprünglichen Beitrags-Kontext von 'Ermittle\n// fehlende Tags' zurück und ergänzt die neu angelegten Tag-IDs um die bereits\n// vorhandenen. Läuft als Run Once for All Items, da hier mehrere Items (ein Item pro\n// angelegtem Tag bzw. das Sentinel-Item) wieder zu einem einzigen Beitrags-Item\n// zusammengeführt werden müssen.\n// Fallback: wenn ein Tag zwischen Suche und Anlage von woanders bereits angelegt\n// wurde, antwortet WordPress mit einem term_exists-Fehler statt der Tag-ID - in\n// diesem Fall wird die vorhandene ID aus der Fehlerantwort extrahiert, statt den\n// Tag stillschweigend zu verlieren.\nconst original = $('Ermittle fehlende Tags').first().json;\nconst resolvedTagIds = Array.isArray(original.resolvedTagIds) ? original.resolvedTagIds : [];\n\nfunction extractTagId(j) {\n  if (!j) return null;\n  if (j.id) return j.id;\n  if (j.body && j.body.id) return j.body.id;\n  if (j.data && j.data.term_id) return j.data.term_id;\n  if (j.error && j.error.data && j.error.data.term_id) return j.error.data.term_id;\n  return null;\n}\n\nconst newTagIds = [];\nfor (const item of $input.all()) {\n  const id = extractTagId(item.json || {});\n  if (id) newTagIds.push(id);\n}\n\nreturn [{\n  json: {\n    ...original,\n    wordpressTagIds: [...new Set([...resolvedTagIds, ...newTagIds])]\n  }\n}];\n"},"id":"a1b2c3d4-1f1f-4a5c-9f7d-2b8e6a1c9d46","name":"Baue finale Tag-Liste","type":"n8n-nodes-base.code","typeVersion":2,"position":[4864,704]},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"hBLqpqeVEojPpOJl","mode":"list","cachedResultName":"allris_vorgaenge","cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"},"filters":{"conditions":[{"keyName":"vorgangKey","keyValue":"={{ $json.vorgangKey }}"}]},"columns":{"mappingMode":"defineBelow","value":{"wordpressPosted":"={{ true }}","contentStage":"content_posted","wordpressPostId":"={{ $json.wordpressPostId || '' }}","wordpressPostLink":"={{ $json.wordpressPostLink || '' }}","wordpressSlug":"={{ $json.wordpressSlug || '' }}","wordpressPostedAt":"={{ $now.toISO() }}","relatedWordpressPostsJson":"={{ $json.relatedWordpressPostsJson || '[]' }}","relatedCheckedAt":"={{ $json.relatedCheckedAt || $now.toISO() }}"},"schema":[{"id":"wordpressPosted","displayName":"wordpressPosted","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"contentStage","displayName":"contentStage","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"wordpressPostId","displayName":"wordpressPostId","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"wordpressPostLink","displayName":"wordpressPostLink","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"wordpressSlug","displayName":"wordpressSlug","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"wordpressPostedAt","displayName":"wordpressPostedAt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"relatedWordpressPostsJson","displayName":"relatedWordpressPostsJson","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"relatedCheckedAt","displayName":"relatedCheckedAt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"73e13af7-e2ab-4715-a3cd-251959851ed1","name":"Speichere WordPress Erfolg","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[4848,432],"alwaysOutputData":true},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"hBLqpqeVEojPpOJl","mode":"list","cachedResultName":"allris_vorgaenge","cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"},"filters":{"conditions":[{"keyName":"vorgangKey","keyValue":"={{ $json.vorgangKey }}"}]},"columns":{"mappingMode":"defineBelow","value":{"rawAiText":"={{ 'WordPress-Veroeffentlichung fehlgeschlagen; vorgangKey=' + ($json.vorgangKey || '') + '; vorgangsnummer=' + ($json.vorgangsnummer || '') + '; error=' + ($json.wordpressPostError || 'unknown') }}"},"schema":[{"id":"rawAiText","displayName":"rawAiText","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}],"matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"a30550bc-d993-4d99-a991-4c04040ce40a","name":"Speichere WordPress Fehler","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[1440,880],"alwaysOutputData":true}],"pinData":{},"connections":{"Schedule Trigger":{"main":[[{"node":"Hole alle fuer WordPress-Pruefung","type":"main","index":0}]]},"Hole alle fuer WordPress-Pruefung":{"main":[[{"node":"Filter WordPress-Kandidaten","type":"main","index":0}]]},"Filter WordPress-Kandidaten":{"main":[[{"node":"Sortiere WordPress-Vorgaenge","type":"main","index":0}]]},"Sortiere WordPress-Vorgaenge":{"main":[[{"node":"Loop Vorgaenge","type":"main","index":0}]]},"Loop Vorgaenge":{"main":[[],[{"node":"Pruefe WordPress Input","type":"main","index":0}]]},"Pruefe WordPress Input":{"main":[[{"node":"IF WordPress Input gueltig?","type":"main","index":0}]]},"IF WordPress Input gueltig?":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}],[{"node":"Speichere WordPress Fehler","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Hole veröffentlichte WordPress-Beiträge","type":"main","index":0}]]},"Hole veröffentlichte WordPress-Beiträge":{"main":[[{"node":"Finde WP Kandidaten","type":"main","index":0}]]},"Finde WP Kandidaten":{"main":[[{"node":"AI Verwandte WP Beiträge","type":"main","index":0}]]},"AI Verwandte WP Beiträge":{"main":[[{"node":"Parse Related WP JSON","type":"main","index":0}]]},"Parse Related WP JSON":{"main":[[{"node":"HTTP Suche WP Tags","type":"main","index":0}]]},"HTTP Suche WP Tags":{"main":[[{"node":"Ermittle fehlende Tags","type":"main","index":0}]]},"Ermittle fehlende Tags":{"main":[[{"node":"Split fehlende Tags","type":"main","index":0}]]},"Split fehlende Tags":{"main":[[{"node":"HTTP Erstelle WP Tag","type":"main","index":0}]]},"HTTP Erstelle WP Tag":{"main":[[{"node":"Baue finale Tag-Liste","type":"main","index":0}]]},"Baue finale Tag-Liste":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Create a post":{"main":[[{"node":"Restore Loop Context nach WordPress","type":"main","index":0}]]},"Restore Loop Context nach WordPress":{"main":[[{"node":"IF WordPress erfolgreich?","type":"main","index":0}]]},"IF WordPress erfolgreich?":{"main":[[{"node":"Speichere WordPress Erfolg","type":"main","index":0}],[{"node":"Speichere WordPress Fehler","type":"main","index":0}]]},"Speichere WordPress Erfolg":{"main":[[{"node":"Naechster WordPress-Vorgang","type":"main","index":0}]]},"Speichere WordPress Fehler":{"main":[[{"node":"Naechster WordPress-Vorgang","type":"main","index":0}]]},"Naechster WordPress-Vorgang":{"main":[[{"node":"Loop Vorgaenge","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"271c73a4-0767-405f-a94e-e33ad456888d","meta":{"instanceId":"3918cd7b1079333be95f7df5d1ce0c807af27c5d6c51c5bb061c962138165169"},"id":"4ae9d7c8-95f5-418a-94b1-b14511b1efaf","tags":[]}