ALLRIS_Fakten_Agent.json
{
  "name": "ALLRIS_Fakten_Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "4d3ff1f9-38ba-4aed-8b51-6e6825e95006",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\n\nconst row = $json;\n\nconst sourceFactsText = [safeStr(row.title), safeStr(row.summaryText), safeStr(row.combinedText)]\n  .filter(Boolean).join('\\n\\n').slice(0, 6000);\n\nreturn {\n  json: {\n    vorgangKey: safeStr(row.vorgangKey),\n    vorgangsnummer: safeStr(row.vorgangsnummer),\n    title: safeStr(row.title),\n    sourceFactsText: sourceFactsText\n  }\n};"
      },
      "id": "99e6cfb9-3eb8-432d-bdc9-0f3bb5dc0380",
      "name": "Normalisiere Eingabe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction asArr(v) { return Array.isArray(v) ? v.filter(Boolean).map(safeStr) : []; }\n\nfunction getAiText(j) {\n  if (typeof j.content === 'string') return j.content;\n  if (typeof j.text === 'string') return j.text;\n  if (j.message && typeof j.message.content === 'string') return j.message.content;\n  if (Array.isArray(j.choices) && j.choices[0] && j.choices[0].message) return safeStr(j.choices[0].message.content);\n  if (Array.isArray(j.output)) {\n    const msg = j.output.find(function(o) { return o && o.type === 'message' && Array.isArray(o.content); });\n    const part = msg && msg.content.find(function(c) { return c && typeof c.text === 'string'; });\n    if (part) return part.text;\n  }\n  return safeStr(JSON.stringify(j));\n}\n\nfunction extractJson(text) {\n  const t = safeStr(text).replace(/```json/gi, '```').replace(/```/g, '');\n  const start = t.indexOf('{');\n  const end = t.lastIndexOf('}');\n  if (start === -1 || end === -1 || end < start) return null;\n  try { return JSON.parse(t.substring(start, end + 1)); } catch (e) { return null; }\n}\n\nconst base = $('Normalisiere Eingabe').item.json;\nconst aiText = getAiText($json);\nconst parsed = extractJson(aiText);\n\nif (!parsed) {\n  return {\n    json: {\n      vorgangKey: base.vorgangKey,\n      vorgangsnummer: base.vorgangsnummer,\n      sourceTopic: '', sourceConflict: '', requiredTerms: [], requiredObjects: [],\n      requiredAction: '', affectedGroups: [], concreteNumbers: [], responsibilities: [],\n      documentType: '', quotesVerbatim: [],\n      parseError: true\n    }\n  };\n}\n\nreturn {\n  json: {\n    vorgangKey: base.vorgangKey,\n    vorgangsnummer: base.vorgangsnummer,\n    sourceTopic: safeStr(parsed.sourceTopic),\n    sourceConflict: safeStr(parsed.sourceConflict),\n    requiredTerms: asArr(parsed.requiredTerms),\n    requiredObjects: asArr(parsed.requiredObjects),\n    requiredAction: safeStr(parsed.requiredAction),\n    affectedGroups: asArr(parsed.affectedGroups),\n    concreteNumbers: asArr(parsed.concreteNumbers),\n    responsibilities: asArr(parsed.responsibilities),\n    documentType: safeStr(parsed.documentType),\n    quotesVerbatim: asArr(parsed.quotesVerbatim),\n    parseError: false\n  }\n};"
      },
      "id": "57eb395c-62fb-4eb4-9f0a-8188ed31a120",
      "name": "Parse Fakten JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        0
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ (() => { return `Du extrahierst ausschliesslich belegbare Fakten aus einer oeffentlichen Ratsvorlage der Stadt Goslar. Du bewertest nicht, du interpretierst nicht, du schreibst keine Satire und keine Tonalitaet. Jedes Feld, das du zurueckgibst, muss auf eine woertliche oder eindeutig paraphrasierbare Stelle im Quelltext zurueckfuehrbar sein.\n\nQUELLE:\nTitel: ${$json.title}\nText: ${$json.sourceFactsText}\n\nExtrahiere:\n- sourceTopic: das konkrete Sachthema in maximal 15 Woertern, ohne Wertung.\n- sourceConflict: der konkrete, belegte Konflikt oder das Problem, falls vorhanden - sonst leerer String.\n- requiredTerms: 2-6 konkrete Begriffe, die WOERTLICH im Text vorkommen.\n- requiredObjects: 2-5 konkrete, zeichenbare Objekte/Orte/Verfahren (keine allgemeinen Begriffe wie Stadt, Verwaltung, Politik).\n- requiredAction: eine konkrete, sichtbare Handlung oder Konsequenz aus dem Text.\n- affectedGroups: betroffene Gruppen/Institutionen, falls im Text genannt (kann leer sein).\n- concreteNumbers: konkrete Zahlen, Betraege, Daten woertlich aus dem Text (z.B. 5 Millionen Euro, 18.06.2026).\n- responsibilities: welche Stelle/Person laut Text zustaendig oder verantwortlich ist.\n- documentType: einer von Antrag, Anfrage, Beschlussvorlage, Mitteilung, Pruefauftrag, Sonstiges.\n- quotesVerbatim: bis zu 3 kurze woertliche Zitate aus dem Text, falls vorhanden (sonst leeres Array).\n\nAntworte ausschliesslich mit einem JSON-Objekt in genau diesem Schema, keine Markdown-Codebloecke, kein Text davor oder danach. Felder: sourceTopic, sourceConflict, requiredTerms, requiredObjects, requiredAction, affectedGroups, concreteNumbers, responsibilities, documentType, quotesVerbatim.\n\nWenn eine Information nicht im Text vorhanden ist, gib einen leeren String oder ein leeres Array zurueck - erfinde nichts.`; })() }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        432,
        0
      ],
      "id": "6fb1b2c9-a1d6-4ac3-a3cd-b386ca95237a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "RiT1gwJpQWzSo6NO",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalisiere Eingabe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalisiere Eingabe": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Fakten JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}