ALLRIS_Lern_Agent.json
{
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Ist Retrieve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ist Retrieve?": {
      "main": [
        [
          {
            "node": "Hole Lernbeispiele",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baue Lernbeispiel-Zeile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole Lernbeispiele": {
      "main": [
        [
          {
            "node": "Waehle Top-Beispiele",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baue Lernbeispiel-Zeile": {
      "main": [
        [
          {
            "node": "Speichere Lernbeispiel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "ALLRIS_Lern_Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "89c795b3-d881-48bb-b5d4-f6635c690fb4",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "9a4342b2-3d35-41a6-af82-5c0ed28f0375",
              "leftValue": "={{ $json.lernAction }}",
              "rightValue": "retrieve",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "f0e51011-655f-489e-ac7e-76271cd83649",
      "name": "Ist Retrieve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -224,
        160
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "CY1cegH6otAQcPD4",
          "mode": "list",
          "cachedResultName": "allris_lernbeispiele",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/CY1cegH6otAQcPD4"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "qaStage",
              "keyValue": "={{ $json.qaStage }}"
            }
          ]
        },
        "returnAll": true
      },
      "id": "c444cd97-88f5-45af-b17d-9b4cf6ecd528",
      "name": "Hole Lernbeispiele",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\n\nconst original = $('Execute Workflow Trigger').first().json || {};\nconst limit = Number(original.limit) > 0 ? Number(original.limit) : 5;\n\nconst rows = items.map(i => i.json).filter(r => r && r.createdAt);\nrows.sort((a, b) => new Date(b.createdAt).getTime() - new Date(a.createdAt).getTime());\nconst top = rows.slice(0, limit);\n\nconst examples = top.map(r => ({\n  outcome: safeStr(r.outcome),\n  exampleSummary: safeStr(r.exampleSummary),\n  detailsJson: safeStr(r.detailsJson),\n  createdAt: safeStr(r.createdAt)\n}));\n\nconst examplesText = examples.length\n  ? examples.map((e, idx) => (idx + 1) + '. [' + e.outcome + '] ' + e.exampleSummary).join('\\n')\n  : '(keine bisherigen Beispiele fuer diese Stufe)';\n\nreturn [{\n  json: {\n    qaStage: safeStr(original.qaStage),\n    count: examples.length,\n    examples,\n    examplesText\n  }\n}];"
      },
      "id": "f0c035c5-8a44-483d-9f73-0523d4f9c85a",
      "name": "Waehle Top-Beispiele",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\n\nconst row = $json;\n\nreturn {\n  json: {\n    vorgangKey: safeStr(row.vorgangKey),\n    vorgangsnummer: safeStr(row.vorgangsnummer),\n    qaStage: safeStr(row.qaStage),\n    source: safeStr(row.source),\n    outcome: safeStr(row.outcome),\n    exampleSummary: safeStr(row.exampleSummary),\n    detailsJson: safeStr(row.detailsJson) || '{}',\n    createdAt: new Date().toISOString()\n  }\n};"
      },
      "id": "c9f0ffec-3c3e-40af-aaef-870dce2d29d6",
      "name": "Baue Lernbeispiel-Zeile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "CY1cegH6otAQcPD4",
          "mode": "list",
          "cachedResultName": "allris_lernbeispiele",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/CY1cegH6otAQcPD4"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vorgangKey": "={{ $json.vorgangKey }}",
            "vorgangsnummer": "={{ $json.vorgangsnummer }}",
            "qaStage": "={{ $json.qaStage }}",
            "source": "={{ $json.source }}",
            "outcome": "={{ $json.outcome }}",
            "exampleSummary": "={{ $json.exampleSummary }}",
            "detailsJson": "={{ $json.detailsJson }}",
            "createAt": "={{ $json.createdAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vorgangKey",
              "displayName": "vorgangKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "vorgangsnummer",
              "displayName": "vorgangsnummer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "qaStage",
              "displayName": "qaStage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "outcome",
              "displayName": "outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "exampleSummary",
              "displayName": "exampleSummary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "detailsJson",
              "displayName": "detailsJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "createAt",
              "displayName": "createAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3e97beb0-785b-45a5-9694-005591e435ae",
      "name": "Speichere Lernbeispiel",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        224,
        320
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}