ALLRIS_P5_Visual_Prompt_Builder.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Hole needs_visual_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole needs_visual_prompt": {
      "main": [
        [
          {
            "node": "Filtere Visual-Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtere Visual-Status": {
      "main": [
        [
          {
            "node": "Sortiere Visual-Vorgänge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Visual Vorgänge": {
      "main": [
        [],
        [
          {
            "node": "Force Visual Reset Schalter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Visual Prompt Input": {
      "main": [
        [
          {
            "node": "IF Skip (Prompt vorhanden)?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update allris_vorgaenge": {
      "main": [
        [
          {
            "node": "Nächster Vorgang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nächster Vorgang": {
      "main": [
        [
          {
            "node": "Loop Visual Vorgänge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Update allris_vorgaenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Skip (Prompt vorhanden)?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Headline bereits gewählt?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Headline bereits gewählt?": {
      "main": [
        [
          {
            "node": "Bild-Agent: Baue Eingabe",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nächster Vorgang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prüfe Content-Abschluss": {
      "main": [
        [
          {
            "node": "IF Content-Gate ok?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Content-Gate ok?": {
      "main": [
        [
          {
            "node": "Prepare Visual Prompt Input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nächster Vorgang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sortiere Visual-Vorgänge": {
      "main": [
        [
          {
            "node": "Loop Visual Vorgänge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Force Visual Reset Schalter": {
      "main": [
        [
          {
            "node": "Prüfe Content-Abschluss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bild-Agent: Baue Eingabe": {
      "main": [
        [
          {
            "node": "Execute Workflow Bild-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Bild-Agent": {
      "main": [
        [
          {
            "node": "Stelle Kontext nach Bild-Agent wieder her",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stelle Kontext nach Bild-Agent wieder her": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "WIg40QYXmouRoYjq",
  "meta": null,
  "name": "ALLRIS_P5_Visual_Prompt_Builder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5,
              "triggerAtMinute": 45
            }
          ]
        }
      },
      "id": "1be7696b-83b3-4a16-8df9-81cf17f9fc17",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": []
        },
        "returnAll": true
      },
      "id": "fb5ec274-8cf0-4f14-b685-7d561c95b54c",
      "name": "Hole needs_visual_prompt",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        144,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filtert die breit gelesene Data Table auf die Ziel-Status des Visual\n// Prompt Builders. Die Data Table kann kein OR über mehrere Werte desselben\n// Feldes - deshalb wird hier gefiltert statt in der DB-Abfrage direkt\n// (siehe \"Hole needs_visual_prompt\", vorher AND-verknüpfte Bedingungen == 0 Treffer).\n// 'headline_selected' = Nutzer hat per Matrix-Antwort eine Headline/Subline-Variante\n// gewählt; für diese Zeilen wird nur noch der Bildprompt gebaut, keine neuen\n// Headline-Varianten mehr erzeugt (siehe \"IF Headline bereits gewählt?\").\nconst ZIEL_STAGE = ['needs_prompt', 'headline_selected', 'prompt_error'];\n\nreturn items.filter(item => {\n  const vStage = String(item.json.visualStage || '').trim();\n  return ZIEL_STAGE.includes(vStage);\n});\n"
      },
      "id": "b7c9e2f1-6d4a-4c8e-9f1a-2e5d7c3b8a90",
      "name": "Filtere Visual-Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d92dbad7-bc31-48eb-bafa-a318e287b1f2",
      "name": "Loop Visual Vorgänge",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// PREPARE VISUAL PROMPT INPUT  (v2 — visual anchor fields)\n// Übergibt alle Themenanker-Felder an die KI\n// ============================================================\n\nconst raw = $input.item.json || {};\n\nfunction safeStr(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).trim();\n}\n\nfunction safeJson(v, fallback = '{}') {\n  if (!v) return fallback;\n  if (typeof v === 'string') return v.trim() || fallback;\n  try { return JSON.stringify(v); } catch (e) { return fallback; }\n}\n\nfunction parseObject(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try {\n    const parsed = JSON.parse(String(v));\n    return parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {};\n  } catch (e) {\n    return {};\n  }\n}\n\nfunction firstValue(...values) {\n  for (const value of values) {\n    if (value === null || value === undefined) continue;\n    if (Array.isArray(value) && value.length > 0) return value;\n    if (typeof value === 'object' && !Array.isArray(value) && Object.keys(value).length > 0) return value;\n    if (String(value).trim() !== '') return value;\n  }\n  return '';\n}\n\n// Die bestehenden Tabellenspalten bleiben unverändert.\n// Detailfelder werden aus analysisJson bzw. visualJson.anchors gelesen.\nconst analysis = parseObject(raw.analysisJson);\nconst storedVisual = parseObject(raw.visualJson);\nconst storedAnchors = parseObject(storedVisual.anchors);\nconst analysisAnchors = parseObject(analysis.visualAnchors);\n\n// ============================================================\n// SOURCELOCK aus analysisJson extrahieren (hat Vorrang vor visualJson)\n// ============================================================\nconst sourceLockFromAnalysis = parseObject(analysis.sourceLock || {});\nconst storedSourceLock = parseObject(storedVisual.sourceLock || {});\nconst currentSourceLock = Object.keys(sourceLockFromAnalysis).length > 0\n  ? sourceLockFromAnalysis\n  : storedSourceLock;\n\n// FIX 3.4: Wenn canonical Source-Lock fehlt oder ungültig -> blockieren, kein Prompt\n// Keine Ableitung aus Titel, Thema oder satireThemaKonkret\n{\n  const slPresent = !!(currentSourceLock && currentSourceLock.sourceTopic && currentSourceLock.sourceConflict);\n  const slValid = slPresent && (() => {\n    try {\n      const rawAJ = raw.analysisJson;\n      let aj = {};\n      if (rawAJ && typeof rawAJ === 'object') aj = rawAJ;\n      else if (rawAJ) aj = JSON.parse(String(rawAJ));\n      return aj.sourceLockValid === true || String(aj.sourceLockValid||'').trim() === 'true';\n    } catch(e) { return false; }\n  })();\n  if (!slPresent || !slValid) {\n    const reason = !slPresent\n      ? 'blocked_by_source_lock: canonical Source-Lock fehlt (sourceTopic/sourceConflict)'\n      : 'blocked_by_source_lock: analysisJson.sourceLockValid ist nicht true';\n    return [{\n      json: {\n        ...raw,\n        visualParseError: false,\n        visualDebugReason: reason,\n        visualJson: '{}',\n        imagePrompt: '',\n        imageNegativePrompt: '',\n        imageHeadline: '',\n        imageSubline: '',\n        imageSmallNote: '',\n        altText: '',\n        imagePromptFound: false,\n        visualStage: 'blocked_source_lock',\n        imageStage: (raw.imageFinalPath ? 'composed' : 'not_started'),\n        visualPromptCreatedAt: new Date().toISOString()\n      }\n    }];\n  }\n}\n\n\nconst j = {\n  ...raw,\n\n  // Felder, für die keine eigenen Tabellenspalten existieren\n  kernbotschaft: firstValue(raw.kernbotschaft, analysis.kernbotschaft),\n  dieParteiReaktion: firstValue(raw.dieParteiReaktion, analysis.dieParteiReaktion),\n\n  satireThemaKonkret: firstValue(\n    analysisAnchors.satireThemaKonkret,\n    analysis.satireThemaKonkret,\n    raw.satireThemaKonkret,\n    storedAnchors.satireThemaKonkret\n  ),\n  satireKonfliktKonkret: firstValue(\n    analysisAnchors.satireKonfliktKonkret,\n    analysis.satireKonfliktKonkret,\n    raw.satireKonfliktKonkret,\n    storedAnchors.satireKonfliktKonkret\n  ),\n  visualPflichtobjekte: firstValue(\n    analysisAnchors.visualPflichtobjekte,\n    analysis.visualPflichtobjekte,\n    raw.visualPflichtobjekte,\n    storedAnchors.visualPflichtobjekte,\n    []\n  ),\n  visualPflichthandlung: firstValue(\n    analysisAnchors.visualPflichthandlung,\n    analysis.visualPflichthandlung,\n    raw.visualPflichthandlung,\n    storedAnchors.visualPflichthandlung\n  ),\n  visualBetroffene: firstValue(\n    analysisAnchors.visualBetroffene,\n    analysis.visualBetroffene,\n    raw.visualBetroffene,\n    storedAnchors.visualBetroffene,\n    []\n  ),\n  visualOrt: firstValue(\n    analysisAnchors.visualOrt,\n    analysis.visualOrt,\n    raw.visualOrt,\n    storedAnchors.visualOrt\n  ),\n  visualUeberzeichnung: firstValue(\n    analysisAnchors.visualUeberzeichnung,\n    analysis.visualUeberzeichnung,\n    raw.visualUeberzeichnung,\n    storedAnchors.visualUeberzeichnung\n  ),\n  visualErkennungssatz: firstValue(\n    analysisAnchors.visualErkennungssatz,\n    analysis.visualErkennungssatz,\n    raw.visualErkennungssatz,\n    storedAnchors.visualErkennungssatz\n  ),\n  visualVerboteneErsatzmotive: firstValue(\n    analysisAnchors.visualVerboteneErsatzmotive,\n    analysis.visualVerboteneErsatzmotive,\n    raw.visualVerboteneErsatzmotive,\n    storedAnchors.visualVerboteneErsatzmotive,\n    []\n  )\n};\n\nfunction isOldMaskPrompt(p) {\n  const lower = safeStr(p).toLowerCase();\n  return (\n    lower.includes('maske') ||\n    lower.includes('bearbeite ausschließlich') ||\n    lower.includes('editierbaren bereich') ||\n    lower.includes('setze die headline') ||\n    lower.includes('setze die parteireaktion') ||\n    lower.includes('verändere keinen rahmen') ||\n    lower.includes('qr-code')\n  );\n}\n\n// Skip-Prüfung: nur überspringen wenn ALLE neuen Ankerfelder vorhanden sind\nfunction hasValidExistingPrompt(j) {\n  const p = safeStr(j.imagePrompt);\n  const headline = safeStr(j.imageHeadline);\n  const subline = safeStr(j.imageSubline);\n\n  if (p.length < 80) return false;\n  if (!headline || !subline) return false;\n  if (isOldMaskPrompt(p)) return false;\n\n  // Neue Pflicht: visualJson muss topicPlain + mustShow enthalten\n  let vj = null;\n  try { vj = JSON.parse(j.visualJson || '{}'); } catch(e) { return false; }\n  if (!vj.topicPlain || !vj.conflictPlain) return false;\n  if (!Array.isArray(vj.mustShow) || vj.mustShow.length < 2) return false;\n  if (!vj.visibleAction || !vj.whyRecognizableWithoutText) return false;\n  if (!vj.recognitionSentence) return false;\n  if (!vj.forbiddenSubstitutes || !Array.isArray(vj.forbiddenSubstitutes)) return false;\n\n  // FIX 8: forbiddenSubstitutes muss alle aktuellen verbotenen Ersatzmotive abdecken\n  let baseVerboten = [];\n  try { baseVerboten = JSON.parse(j.visualVerboteneErsatzmotive || '[]'); } catch(e) {}\n  if (baseVerboten.length > 0) {\n    const notCovered = baseVerboten.filter(bv =>\n      !vj.forbiddenSubstitutes.some(fs => skipMatch(bv, fs))\n    );\n    if (notCovered.length > 0) return false; // verbotene Motive nicht abgedeckt\n  }\n\n  // Inhaltlicher Abgleich: mustShow muss visualPflichtobjekte berücksichtigen\n  function normSkip(s) {\n    return String(s || '').toLowerCase()\n      .replace(/ä/g,'ae').replace(/ö/g,'oe').replace(/ü/g,'ue').replace(/ß/g,'ss');\n  }\n  function tokensSkip(s) {\n    return normSkip(s).split(/[\\W]+/).filter(w => w.length >= 4);\n  }\n  function skipMatch(a, b) {\n    const ta = tokensSkip(a), tb = tokensSkip(b);\n    if (ta.some(t => tb.includes(t))) return true;\n    const na = normSkip(a).replace(/\\s+/g,''), nb = normSkip(b).replace(/\\s+/g,'');\n    return (na.length >= 5 && nb.includes(na)) || (nb.length >= 5 && na.includes(nb));\n  }\n  \n  let basePflicht = [];\n  try { basePflicht = JSON.parse(j.visualPflichtobjekte || '[]'); } catch(e) {}\n  if (basePflicht.length >= 2) {\n    const matchedPflicht = basePflicht.filter(bp => vj.mustShow.some(ms => skipMatch(bp, ms)));\n    if (matchedPflicht.length < 2) return false; // mustShow stimmt nicht mit Pflichtobjekten überein\n  }\n\n  // visibleAction muss visualPflichthandlung entsprechen\n  const basePflichthandlung = safeStr(j.visualPflichthandlung);\n  if (basePflichthandlung && !skipMatch(vj.visibleAction, basePflichthandlung)) return false;\n\n  // recognitionSentence muss visualErkennungssatz entsprechen\n  const baseErkennungssatz = safeStr(j.visualErkennungssatz);\n  if (baseErkennungssatz && !skipMatch(vj.recognitionSentence, baseErkennungssatz)) return false;\n\n  // imagePrompt muss Pflichthandlung beschreiben\n  if (basePflichthandlung && !skipMatch(p, basePflichthandlung)) return false;\n\n  // imagePrompt muss mindestens 2 konkrete Pflichtobjekte enthalten\n  if (basePflicht.length >= 2) {\n    const promptObjekte = basePflicht.filter(bp => skipMatch(p, bp));\n    if (promptObjekte.length < 2) return false;\n  }\n\n  // SOURCELOCK-PRÜFUNG: Wenn analysisJson.sourceLock vorhanden, muss bestehendes visualJson damit übereinstimmen\n  if (currentSourceLock && currentSourceLock.sourceTopic) {\n    function normSL(s) {\n      return String(s || '').toLowerCase()\n        .replace(/ä/g,'ae').replace(/ö/g,'oe').replace(/ü/g,'ue').replace(/ß/g,'ss')\n        .replace(/[\\W]+/g,' ').trim();\n    }\n    function matchSL(a, b) {\n      const ta = normSL(a).split(/\\s+/).filter(w => w.length >= 4);\n      const tb = normSL(b).split(/\\s+/).filter(w => w.length >= 4);\n      if (ta.length === 0 || tb.length === 0) return false;\n      return ta.some(t => tb.includes(t));\n    }\n    // topicPlain muss sourceTopic entsprechen\n    if (vj.topicPlain && !matchSL(vj.topicPlain, currentSourceLock.sourceTopic)) return false;\n    // conflictPlain muss sourceConflict entsprechen\n    if (currentSourceLock.sourceConflict && vj.conflictPlain && !matchSL(vj.conflictPlain, currentSourceLock.sourceConflict)) return false;\n    // imagePrompt muss mindestens einen konkreten requiredTerm enthalten\n    const GENERIC = new Set(['verwaltung','politik','buerokratie','goslar','rathaus','stadt']);\n    const reqTerms = (currentSourceLock.requiredTerms || []).filter(t => {\n      const tn = normSL(t).replace(/\\s/g,'');\n      return t.length >= 4 && !GENERIC.has(normSL(t));\n    });\n    if (reqTerms.length >= 2) {\n      const stem = t => normSL(t).substring(0, Math.max(4, Math.floor(normSL(t).length * 0.75)));\n      const pNorm = normSL(p);\n      const promptHasTerm = reqTerms.some(t => pNorm.includes(stem(t)));\n      if (!promptHasTerm) return false;\n    }\n    // Rein allgemeines topicPlain ist ungültig\n    const genericTopics = ['verwaltung','politik','buerokratie','goslar','rathaus','kommunalpolitik'];\n    if (genericTopics.includes(normSL(vj.topicPlain))) return false;\n  }\n\n  return true;\n}\n\nconst vorgangKey = safeStr(j.vorgangKey);\n\nif (!vorgangKey) {\n  throw new Error(\n    'Prepare Visual Prompt Input abgebrochen: vorgangKey fehlt im Eingangsdatenbestand.'\n  );\n}\n\n// Wenn bereits ein vollständig gültiger Motivprompt + visualJson vorhanden ist: überspringen\nif (j._forceVisualPromptReset !== true && hasValidExistingPrompt(j)) {\n  return [{\n    json: {\n      ...j,\n      _skipReason: 'valid new motif imagePrompt already exists (incl. visualJson anchor fields)',\n      visualStage: 'prompt_ready',\n      imageStage: (j.imageFinalPath ? 'composed' : 'not_started'),\n      imagePromptFound: true,\n      visualParseError: false\n    }\n  }];\n}\n\n// Neue Ankerfelder sicher lesen\nconst satireThemaKonkret       = safeStr(j.satireThemaKonkret);\nconst satireKonfliktKonkret    = safeStr(j.satireKonfliktKonkret);\nconst visualPflichtobjekte     = safeJson(j.visualPflichtobjekte, '[]');\nconst visualPflichthandlung    = safeStr(j.visualPflichthandlung);\nconst visualBetroffene         = safeJson(j.visualBetroffene, '[]');\nconst visualOrt                = safeStr(j.visualOrt);\nconst visualUeberzeichnung     = safeStr(j.visualUeberzeichnung);\nconst visualErkennungssatz     = safeStr(j.visualErkennungssatz);\nconst visualVerboteneErsatzmotive = safeJson(j.visualVerboteneErsatzmotive, '[]');\n\n// Sachliche Felder\nconst summaryText  = safeStr(j.summaryText);\nconst thema        = safeStr(j.thema);\nconst betroffene   = safeStr(j.betroffene);\nconst buergerwirkung = safeStr(j.buergerwirkung);\n\n// KI soll neuen Motivprompt erzeugen\n// FIX: imageHeadline/imageSubline aus raw übernehmen statt zu leeren - sonst\n// kann \"IF Headline bereits gewählt?\" weiter unten nie erkennen, dass für\n// headline_selected-Zeilen bereits eine Nutzer-Auswahl vorliegt.\nconst chosenImageHeadline = safeStr(raw.imageHeadline);\nconst chosenImageSubline  = safeStr(raw.imageSubline);\n\nreturn [{\n  json: {\n    vorgangKey,\n    vorgangsnummer:          safeStr(j.vorgangsnummer),\n    title:                   safeStr(j.title),\n    allrisUrl:               safeStr(j.allrisUrl),\n    sourceUrl:               safeStr(j.sourceUrl),\n    nextcloudFolder:         safeStr(j.nextcloudFolder),\n\n    sprengstoff:             safeStr(j.sprengstoff),\n    empfehlung:              safeStr(j.empfehlung),\n    relevantScore:           j.relevantScore || 0,\n    kommunikationspotenzial: j.kommunikationspotenzial || 0,\n    visualDecisionReason:    safeStr(j.visualDecisionReason),\n\n    // Sachliche Zusammenfassung (muss erhalten bleiben)\n    summaryText,\n    thema,\n    betroffene,\n    buergerwirkung,\n\n    kernbotschaft:           safeStr(j.kernbotschaft),\n    satireBrief:             safeStr(j.satireBrief),\n    satireAngle:             safeStr(j.satireAngle),\n    satirePunchlines:        safeJson(j.satirePunchlines, '[]'),\n    visualMetaphor:          safeStr(j.visualMetaphor),\n    satireTarget:            safeStr(j.satireTarget),\n    satireIntensity:         Number(j.satireIntensity || 0),\n    satireDoNotClaim:        safeJson(j.satireDoNotClaim, '[]'),\n    satireSafetyNote:        safeStr(j.satireSafetyNote),\n    dieParteiReaktion:       safeStr(j.dieParteiReaktion),\n    instagramCaption:        safeStr(j.instagramCaption),\n    headlines:               safeStr(j.headlines),\n    websiteHeadline:         safeStr(j.websiteHeadline),\n\n    belegbareFakten:         safeJson(j.belegbareFakten, '[]'),\n    kritischeNachfrage:      safeStr(j.kritischeNachfrage),\n    offenePunkte:            safeJson(j.offenePunkte, '[]'),\n    unsicherheitenSummary:   safeStr(j.unsicherheitenSummary),\n    analysisJson:            safeJson(j.analysisJson),\n    contentJson:             safeJson(j.contentJson),\n\n    // Visuelle Ankerfelder (Pflicht für KI-Prompt)\n    satireThemaKonkret,\n    satireKonfliktKonkret,\n    visualPflichtobjekte,\n    visualPflichthandlung,\n    visualBetroffene,\n    visualOrt,\n    visualUeberzeichnung,\n    visualErkennungssatz,\n    visualVerboteneErsatzmotive,\n\n    imagePrompt:             '',\n    imageNegativePrompt:     '',\n    imageHeadline:           chosenImageHeadline,\n    imageSubline:            chosenImageSubline,\n    imageSmallNote:          '',\n    altText:                 '',\n    visualJson:              '{}',\n\n    _skipReason:             '',\n    imagePromptFound:        false,\n    visualParseError:        false,\n    visualStage:             'needs_prompt',\n    imageStage:              (j.imageFinalPath ? 'composed' : 'not_started'),\n    _forceVisualPromptReset: j._forceVisualPromptReset === true,\n    _forceVisualPromptResetAt: safeStr(j._forceVisualPromptResetAt),\n    _forceVisualPromptResetReason: safeStr(j._forceVisualPromptResetReason),\n    sourceLockJson:          JSON.stringify(currentSourceLock || {})\n  }\n}];\n"
      },
      "id": "8f5d5ba9-46d7-469e-9697-aa55516f71f4",
      "name": "Prepare Visual Prompt Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-headline-chosen",
              "leftValue": "={{ ($json.imageHeadline || '').trim().length > 0 && ($json.imageSubline || '').trim().length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d4b1e5c6-5555-4aaa-8bbb-555555555555",
      "name": "IF Headline bereits gewählt?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        160
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $json.vorgangKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "imagePrompt": "={{ $json.imagePrompt}}",
            "imageNegativePrompt": "={{ $json.imageNegativePrompt || '' }}",
            "imageHeadline": "={{ $json.imageHeadline || '' }}",
            "imageSubline": "={{ $json.imageSubline || '' }}",
            "imageSmallNote": "",
            "visualJson": "={{ (() => {\n  let current = {};\n  try {\n    current = typeof $json.visualJson === 'string'\n      ? JSON.parse($json.visualJson || '{}')\n      : ($json.visualJson || {});\n  } catch (e) {\n    current = {};\n  }\n  const currentWorkflow = current.workflow && typeof current.workflow === 'object'\n    ? current.workflow\n    : {};\n  const parseArray = (v) => {\n    if (Array.isArray(v)) return v;\n    try {\n      const p = JSON.parse(v || '[]');\n      return Array.isArray(p) ? p : [];\n    } catch (e) {\n      return [];\n    }\n  };\n  return JSON.stringify({\n    ...current,\n    anchors: {\n      satireThemaKonkret: $json.satireThemaKonkret || '',\n      satireKonfliktKonkret: $json.satireKonfliktKonkret || '',\n      visualPflichtobjekte: parseArray($json.visualPflichtobjekte),\n      visualPflichthandlung: $json.visualPflichthandlung || '',\n      visualBetroffene: parseArray($json.visualBetroffene),\n      visualOrt: $json.visualOrt || '',\n      visualUeberzeichnung: $json.visualUeberzeichnung || '',\n      visualErkennungssatz: $json.visualErkennungssatz || '',\n      visualVerboteneErsatzmotive: parseArray($json.visualVerboteneErsatzmotive)\n    },\n    qualityGate: {\n      maxAttempts: 3,\n      minTopicClarity: 70,\n      minSatireStrength: 60,\n      minMustShowCoverage: 70,\n      minVisualCoherence: 65,\n      requireTopicRecognizable: true,\n      requireSatireRecognizable: true,\n      requireConflictRecognizable: true,\n      rejectForbiddenElements: true\n    },\n    workflow: {\n      ...currentWorkflow,\n      visualStage: $json.visualStage || 'prompt_error',\n      visualParseError: $json.visualParseError === true,\n      visualDebugReason: $json.visualDebugReason || '',\n      imagePromptFound: $json.imagePromptFound === true,\n      visualPromptCreatedAt: $json.visualPromptCreatedAt || $now.toISO(),\n      visualPromptWorkflowVersion: 'visual-prompt-v3.3-qa-ready'\n    }\n  });\n})() }}",
            "visualStage": "={{ $json.visualStage || 'prompt_error' }}",
            "imageStage": "={{ $json.imageStage }}",
            "altText": "={{ $json.altText || '' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vorgangKey",
              "displayName": "vorgangKey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "volfdnr",
              "displayName": "volfdnr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "sourceUrl",
              "displayName": "sourceUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "allrisUrl",
              "displayName": "allrisUrl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "vorgangsnummer",
              "displayName": "vorgangsnummer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "firstseen",
              "displayName": "firstseen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastseen",
              "displayName": "lastseen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "relevantScore",
              "displayName": "relevantScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "themes",
              "displayName": "themes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "vorfilterThemen",
              "displayName": "vorfilterThemen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "vorfilterKeywords",
              "displayName": "vorfilterKeywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "vorfilterScore",
              "displayName": "vorfilterScore",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "matrixPosted",
              "displayName": "matrixPosted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "nextcloudFolder",
              "displayName": "nextcloudFolder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "documentsJson",
              "displayName": "documentsJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "documentCount",
              "displayName": "documentCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "combinedText",
              "displayName": "combinedText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "summaryJson",
              "displayName": "summaryJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "summaryText",
              "displayName": "summaryText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "summarySentences",
              "displayName": "summarySentences",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "summaryCreatedAt",
              "displayName": "summaryCreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "summaryPosted",
              "displayName": "summaryPosted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "summaryRoomPostedAt",
              "displayName": "summaryRoomPostedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "thema",
              "displayName": "thema",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "betroffene",
              "displayName": "betroffene",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "kostenHaushalt",
              "displayName": "kostenHaushalt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "buergerwirkung",
              "displayName": "buergerwirkung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "offenePunkte",
              "displayName": "offenePunkte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "unsicherheitenSummary",
              "displayName": "unsicherheitenSummary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "analysisJson",
              "displayName": "analysisJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "contentJson",
              "displayName": "contentJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "visualJson",
              "displayName": "visualJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sprengstoff",
              "displayName": "sprengstoff",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "empfehlung",
              "displayName": "empfehlung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "kommunikationspotenzial",
              "displayName": "kommunikationspotenzial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "matrixKurzbetreff",
              "displayName": "matrixKurzbetreff",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "ampel",
              "displayName": "ampel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "kurzfassung",
              "displayName": "kurzfassung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "kritischeNachfrage",
              "displayName": "kritischeNachfrage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "begruendungBewertung",
              "displayName": "begruendungBewertung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "werProfitiert",
              "displayName": "werProfitiert",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "werZahltOderTraegtNachteile",
              "displayName": "werZahltOderTraegtNachteile",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "warumRelevant",
              "displayName": "warumRelevant",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "belegbareFakten",
              "displayName": "belegbareFakten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "unsicherheiten",
              "displayName": "unsicherheiten",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "warnsignale",
              "displayName": "warnsignale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "instagramCarouselNoetig",
              "displayName": "instagramCarouselNoetig",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "lastAnalysisAt",
              "displayName": "lastAnalysisAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "rawAiText",
              "displayName": "rawAiText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "instagramCaption",
              "displayName": "instagramCaption",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "instagramCarousel",
              "displayName": "instagramCarousel",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imageMode",
              "displayName": "imageMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imageHeadline",
              "displayName": "imageHeadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imageSubline",
              "displayName": "imageSubline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imagePrompt",
              "displayName": "imagePrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imageNegativePrompt",
              "displayName": "imageNegativePrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imagePrompts",
              "displayName": "imagePrompts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "recommendedSlides",
              "displayName": "recommendedSlides",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "carouselJson",
              "displayName": "carouselJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteHeadline",
              "displayName": "websiteHeadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "websiteArticle",
              "displayName": "websiteArticle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "facebookPost",
              "displayName": "facebookPost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pressStatement",
              "displayName": "pressStatement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "contentCreatedAt",
              "displayName": "contentCreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "reactionRoomPostedAt",
              "displayName": "reactionRoomPostedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "textExtractionStatus",
              "displayName": "textExtractionStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "textExtractionSource",
              "displayName": "textExtractionSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "textExtractedAt",
              "displayName": "textExtractedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "documentsTextJson",
              "displayName": "documentsTextJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "extractedDocumentCount",
              "displayName": "extractedDocumentCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "failedExtractionCount",
              "displayName": "failedExtractionCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "textExtractionError",
              "displayName": "textExtractionError",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "visualDecisionReason",
              "displayName": "visualDecisionReason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "visualNeeded",
              "displayName": "visualNeeded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "visualStatus",
              "displayName": "visualStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "instagramSharepicNoetig",
              "displayName": "instagramSharepicNoetig",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "imageSmallNote",
              "displayName": "imageSmallNote",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "altText",
              "displayName": "altText",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "bae18c6a-4d77-427c-a9cf-1de231e2c26e",
      "name": "Update allris_vorgaenge",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        688,
        240
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.item.json }];"
      },
      "id": "613dd5df-dbd5-4bc8-84d7-16181afa9c20",
      "name": "Nächster Vorgang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "function getRetryInfo(j) {\n  let vj = {};\n  try {\n    vj = JSON.parse(j.visualJson || '{}');\n    if (typeof vj !== 'object') vj = {};\n  } catch(e) {}\n  const wf = (typeof vj.workflow === 'object' && vj.workflow) ? vj.workflow : {};\n  const attempt = Math.max(1, Number(wf.visualPromptAttempt || j.visualPromptAttempt || 1));\n  const maxAttempts = Math.max(2, Number(wf.visualPromptMaxAttempts || j.visualPromptMaxAttempts || 2));\n  return { attempt, maxAttempts, canRetry: attempt < maxAttempts, vj, wf };\n}\n\nconst j = $input.first().json || {};\n\nfunction safeStr(v) {\n  if (v === null || v === undefined) return \"\";\n  return String(v).trim();\n}\n\nfunction parseMaybeJson(v) {\n  if (!v) return {};\n  if (typeof v === \"object\") return v;\n  try { return JSON.parse(v); } catch (e) { return {}; }\n}\n\n// FIX 1.4: blocked_by_source_lock pass-through — kein KI-Aufruf, keine Pflichtfelder\nif (safeStr(j.visualStage) === 'blocked_source_lock') {\n  return [{\n    json: {\n      ...j,\n      visualStage: 'blocked_source_lock',\n      imageStage: (safeStr(j.imageFinalPath) ? 'composed' : 'not_started')\n    }\n  }];\n}\n\n// FIX 1.1: Retry-Zähler hier erhöhen, BEVOR Update allris_vorgaenge läuft\nconst errorStages = new Set(['prompt_error']);\nif (errorStages.has(safeStr(j.visualStage))) {\n  const { attempt, maxAttempts, vj, wf } = getRetryInfo(j);\n  const newAttempt = attempt + 1;\n  if (newAttempt > maxAttempts) {\n    vj.workflow = { ...wf, visualPromptAttempt: newAttempt, visualPromptMaxAttempts: maxAttempts, visualPromptFinalStatus: 'visual_prompt_failed_final' };\n    return [{\n      json: {\n        ...j,\n        visualJson: JSON.stringify(vj),\n        visualPromptAttempt: newAttempt,\n        visualPromptMaxAttempts: maxAttempts,\n        visualStage: 'prompt_failed_final',\n        imageStage: (safeStr(j.imageFinalPath) ? 'composed' : 'not_started')\n      }\n    }];\n  } else {\n    vj.workflow = { ...wf, visualPromptAttempt: newAttempt, visualPromptMaxAttempts: maxAttempts };\n    return [{\n      json: {\n        ...j,\n        visualJson: JSON.stringify(vj),\n        visualStage: safeStr(j.visualStage),\n        imageStage: (safeStr(j.imageFinalPath) ? 'composed' : 'not_started'),\n        visualPromptAttempt: newAttempt,\n        visualPromptMaxAttempts: maxAttempts\n      }\n    }];\n  }\n}\n\n// Fehler-Pass-Through: Bei visualParseError nicht werfen\nif (j.visualParseError === true) {\n  return [{\n    json: {\n      ...j,\n      visualStage: j.visualStage || 'prompt_error',\n      imageStage: (safeStr(j.imageFinalPath) ? 'composed' : 'not_started')\n    }\n  }];\n}\n\nconst visualJson = parseMaybeJson(j.visualJson);\n\nconst imageHeadline =\n  safeStr(j.imageHeadline) ||\n  safeStr(visualJson.imageHeadline);\n\nconst imageSubline =\n  safeStr(j.imageSubline) ||\n  safeStr(visualJson.imageSubline);\n\nconst imageSmallNote = '';\n\nconst imagePrompt =\n  safeStr(j.imagePrompt) ||\n  safeStr(visualJson.imagePrompt);\n\nconst imageNegativePrompt =\n  safeStr(j.imageNegativePrompt) ||\n  safeStr(visualJson.imageNegativePrompt);\n\nif (!imageHeadline) {\n  throw new Error(\"imageHeadline fehlt.\");\n}\nif (!imageSubline) {\n  throw new Error(\"imageSubline fehlt.\");\n}\nif (!imagePrompt) {\n  throw new Error(\n    \"imagePrompt fehlt. Vorhandene Felder: \" + Object.keys(j).join(\", \")\n  );\n}\n\nreturn [\n  {\n    json: {\n      ...j,\n      imageHeadline,\n      imageSubline,\n      imageSmallNote,\n      imagePrompt,\n      imageNegativePrompt,\n      visualStage: safeStr(j.visualStage) || 'prompt_ready',\n      imageStage: (safeStr(j.imageFinalPath) ? 'composed' : 'not_started')\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        240
      ],
      "id": "173a680f-c1cb-4e60-b0bd-50f5dafd10bf",
      "name": "Code in JavaScript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "check-skip",
              "leftValue": "={{ $json.imagePromptFound }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "check-blocked",
              "leftValue": "={{ ($json.visualStage === 'blocked_source_lock') ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "618a20bc-6d75-4b09-a099-19cd8d62d9d8",
      "name": "IF Skip (Prompt vorhanden)?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1216,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIX 10: Prüfe Content-Abschluss - vollständige Prüfung (V3_11)\nconst j = $input.item.json || {};\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; } catch(e) { return {}; }\n}\nfunction asArr(v) {\n  if (Array.isArray(v)) return v.filter(Boolean).map(s => String(s).trim());\n  if (typeof v === 'string' && v.trim()) {\n    try { const p = JSON.parse(v); if (Array.isArray(p)) return p.filter(Boolean).map(s => String(s).trim()); } catch(e) {}\n  }\n  return [];\n}\nfunction robustBool(v) {\n  if (v === true || v === 1) return true;\n  if (typeof v === 'string') { const s = v.trim().toLowerCase(); return s === 'true' || s === '1'; }\n  return false;\n}\n\nconst forceVisualPromptReset = j._forceVisualPromptReset === true || j.visualForceReset === true;\n\nconst errors = [];\n\n// 1. contentStage muss content_generated oder content_posted sein\nconst contentStage = safeStr(j.contentStage);\nconst contentStageOk = contentStage === 'content_generated' || contentStage === 'content_posted';\nconst contentStatusOk = contentStageOk || forceVisualPromptReset;\nif (!contentStatusOk) errors.push('contentStage nicht content_generated/content_posted und kein Force-Reset (ist: ' + contentStage + ')');\n\n// 2. contentJson muss vorhanden sein\nconst contentJson = parseObj(j.contentJson);\nconst contentPresent = !!(safeStr(j.websiteHeadline) || Object.keys(contentJson).length > 0);\nif (!contentPresent) errors.push('contentJson fehlt oder leer');\n\n// 3. sourceLockValid\nconst analysis = parseObj(j.analysisJson);\nconst slValidFlag = robustBool(analysis.sourceLockValid);\nif (!slValidFlag) errors.push('sourceLockValid nicht true');\n\n// 4. sourceLock vollständig (FIX 10: inkl. requiredObjects + requiredAction)\nconst sl = parseObj(analysis.sourceLock || {});\nconst slComplete = !!(\n  safeStr(sl.sourceTopic) && safeStr(sl.sourceConflict) &&\n  asArr(sl.requiredTerms).length >= 2 &&\n  asArr(sl.requiredObjects).length >= 2 &&\n  safeStr(sl.requiredAction) &&\n  slValidFlag\n);\nif (!slComplete) errors.push('sourceLock unvollständig (requiredObjects/requiredAction prüfen)');\n\n// 5. visualAnchors vollständig (FIX 10: inkl. visualVerboteneErsatzmotive >= 2 + visualAnchorsValid)\nconst vaValidFlag = robustBool(analysis.visualAnchorsValid);\nconst va = parseObj(analysis.visualAnchors || {});\nconst vaComplete = !!(\n  safeStr(va.satireThemaKonkret) && safeStr(va.satireKonfliktKonkret) &&\n  asArr(va.visualPflichtobjekte).length >= 2 &&\n  safeStr(va.visualPflichthandlung) && safeStr(va.visualErkennungssatz) &&\n  safeStr(va.visualUeberzeichnung) &&\n  asArr(va.visualVerboteneErsatzmotive).length >= 2 &&\n  vaValidFlag\n);\nif (!vaComplete) errors.push('visualAnchors unvollständig (visualVerboteneErsatzmotive/visualAnchorsValid prüfen)');\n\nconst contentGateOk = errors.length === 0;\n\nreturn [{\n  json: {\n    ...j,\n    _contentGateOk: contentGateOk,\n    _contentGateErrors: errors,\n    _contentGateForceReset: forceVisualPromptReset\n  }\n}];\n"
      },
      "id": "91547714-3029-44e7-bf94-4964f6bc61f1",
      "name": "Prüfe Content-Abschluss",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cg-check",
              "leftValue": "={{ $json._contentGateOk }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "47b0affe-8a53-4c70-b4d7-7d23b2e9bf4a",
      "name": "IF Content-Gate ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        896,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "// Sortierung: 1. firstseen aufsteigend, 2. volfdnr numerisch, 3. vorgangKey lexikografisch\nfunction parseDate(v) {\n  if (!v) return 0;\n  const t = Date.parse(String(v));\n  return Number.isFinite(t) ? t : 0;\n}\nfunction parseVolfdnr(v) {\n  if (!v) return Infinity;\n  const n = parseInt(String(v).replace(/[^0-9]/g, ''), 10);\n  return Number.isFinite(n) ? n : Infinity;\n}\nconst items = $input.all();\nitems.sort((a, b) => {\n  const ja = a.json || {}, jb = b.json || {};\n  const fa = parseDate(ja.firstseen), fb = parseDate(jb.firstseen);\n  if (fa !== fb) return fa - fb;\n  const va = parseVolfdnr(ja.volfdnr), vb = parseVolfdnr(jb.volfdnr);\n  if (va !== vb) return va - vb;\n  return String(ja.vorgangKey || '').localeCompare(String(jb.vorgangKey || ''));\n});\nreturn items;\n"
      },
      "id": "d3607203-0ca6-4acd-b9c7-a39c97a6b0d2",
      "name": "Sortiere Visual-Vorgänge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// FORCE VISUAL PROMPT RESET SCHALTER\n// Setzt alte Bildprompt-Felder vor der Content-Gate-Prüfung zurück.\n// Standard: AUS. Sicherste Nutzung: In der DataTable visualStatus = \"force_visual_reset\" setzen.\n// Optional: FORCE_RESET_VISUAL_PROMPT auf true setzen und mit VorgangKey/Vorgangsnummer begrenzen.\n// ============================================================\n\nconst FORCE_RESET_VISUAL_PROMPT = false;      // nur kurzzeitig auf true setzen\nconst FORCE_ONLY_VORGANG_KEY = '';             // z.B. 'vol_10742' oder leer\nconst FORCE_ONLY_VORGANGSNUMMER = '';          // z.B. '2026/197' oder leer\n\nconst j = $input.item.json || {};\n\nfunction safeStr(v) {\n  if (v === null || v === undefined) return '';\n  return String(v).trim();\n}\n\nfunction norm(v) {\n  return safeStr(v).toLowerCase();\n}\n\nconst vorgangKey = safeStr(j.vorgangKey);\nconst vorgangsnummer = safeStr(j.vorgangsnummer);\n\nconst resetByStatus = j.visualForceReset === true;\nconst hasTarget = !!(safeStr(FORCE_ONLY_VORGANG_KEY) || safeStr(FORCE_ONLY_VORGANGSNUMMER));\nconst targetMatches =\n  (!safeStr(FORCE_ONLY_VORGANG_KEY) || vorgangKey === safeStr(FORCE_ONLY_VORGANG_KEY)) &&\n  (!safeStr(FORCE_ONLY_VORGANGSNUMMER) || vorgangsnummer === safeStr(FORCE_ONLY_VORGANGSNUMMER));\n\n// Sicherheitslogik:\n// - visualStatus=force_visual_reset setzt immer genau diesen Datensatz zurück.\n// - FORCE_RESET_VISUAL_PROMPT=true ohne Ziel setzt nur bereits geholte Kandidaten zurück.\n// - Für gezieltes Zurücksetzen per Variable immer FORCE_ONLY_* setzen.\nconst resetByVariable = FORCE_RESET_VISUAL_PROMPT === true && (!hasTarget || targetMatches);\nconst doReset = resetByStatus || resetByVariable;\n\nif (!doReset) {\n  return [{ json: { ...j, _forceVisualPromptReset: false } }];\n}\n\nreturn [{\n  json: {\n    ...j,\n    _forceVisualPromptReset: true,\n    _forceVisualPromptResetAt: new Date().toISOString(),\n    _forceVisualPromptResetReason: resetByStatus\n      ? 'visualForceReset flag'\n      : 'FORCE_RESET_VISUAL_PROMPT=true',\n\n    // Wichtig: Status des Visual Prompt Builders wieder öffnen\n    visualStage: 'needs_prompt',\n    imageStage: 'not_started',\n\n    // Alte Visual-Prompt-Artefakte entfernen, damit kein Skip greifen kann\n    imagePrompt: '',\n    imageNegativePrompt: '',\n    imageHeadline: '',\n    imageSubline: '',\n    imageSmallNote: '',\n    altText: '',\n    visualJson: '{}',\n    visualParseError: false,\n    visualDebugReason: '',\n    rawVisualText: '',\n\n    // Nachgelagerte Bildartefakte entkoppeln, falls Spalten existieren\n    imageFinalPath: '',\n    imageCreatedAt: '',\n    imageWorkflowVersion: '',\n\n    // Interne Hinweise, falls Felder nicht als Spalten existieren: unschädlich im Laufzeit-JSON\n    imagePromptFound: false,\n    _skipReason: ''\n  }\n}];\n"
      },
      "id": "0e2cf61d-60bd-4471-bc37-3260941f464a",
      "name": "Force Visual Reset Schalter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        16
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Cutover 2026-07-18: baut die Eingabe fuer den echten Bild-Agent-Aufruf, ersetzt P5s\n// eigene 'AI Visual JSON'-Generierung. sourceTopic/requiredObjects/requiredAction/\n// affectedGroups werden nirgends als eigene DB-Spalte persistiert - sie stecken im\n// bereits gespeicherten faktenAgentJson (siehe P3-Cutover), deshalb hier von dort lesen.\n// satireBrief/imageHeadline/imageSubline usw. sind bereits echte Top-Level-Spalten\n// (Auto-Wahl aus P3 fuer den Text, ggf. durch P5bs Matrix-Umfrage fuers Bild ueberschrieben).\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction asArr(v) {\n  if (Array.isArray(v)) return v.filter(Boolean).map(safeStr);\n  if (typeof v === 'string' && v.trim()) { try { const p = JSON.parse(v); if (Array.isArray(p)) return p.filter(Boolean).map(safeStr); } catch (e) {} }\n  return [];\n}\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; }\n  catch (e) { return {}; }\n}\n\nconst row = $json;\nconst fakten = parseObj(row.faktenAgentJson);\n\nreturn {\n  json: {\n    ...row,\n    vorgangKey: safeStr(row.vorgangKey),\n    vorgangsnummer: safeStr(row.vorgangsnummer),\n    sourceTopic: safeStr(fakten.sourceTopic),\n    requiredObjects: asArr(fakten.requiredObjects),\n    requiredAction: safeStr(fakten.requiredAction),\n    affectedGroups: asArr(fakten.affectedGroups),\n    satireBrief: safeStr(row.satireBrief),\n    satireAngle: safeStr(row.satireAngle),\n    satirePunchlines: asArr(row.satirePunchlines),\n    satireTarget: safeStr(row.satireTarget),\n    satireIntensity: row.satireIntensity,\n    satireDoNotClaim: asArr(row.satireDoNotClaim),\n    satireSafetyNote: safeStr(row.satireSafetyNote),\n    imageHeadline: safeStr(row.imageHeadline),\n    imageSubline: safeStr(row.imageSubline)\n  }\n};"
      },
      "id": "82e07b70-abbc-4ec3-acfa-aa956f947ce8",
      "name": "Bild-Agent: Baue Eingabe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        40
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "WR1xVNo4AjcsKlMv",
          "mode": "list",
          "cachedResultName": "ALLRIS_Bild_Agent"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "e91ed786-ca99-43a8-9ebf-048a124da45f",
      "name": "Execute Workflow Bild-Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        416,
        40
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Stellt den Vorgangskontext nach dem Bild-Agent-Aufruf wieder her (gleiches Muster wie\n// die anderen 'Stelle Kontext nach ... Agent wieder her'-Nodes in P3) - Execute Workflow\n// ersetzt das Item-JSON durch die reine Sub-Workflow-Antwort.\n// Bei Parse-Fehler: visualParseError=true setzen, damit 'Code in JavaScript' den\n// bestehenden, unveraenderten Fehler-/Retry-Pfad nimmt (visualStage='prompt_error'),\n// statt beim fehlenden imagePrompt zu werfen.\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\n\nconst response = $json || {};\nconst base = $('Bild-Agent: Baue Eingabe').itemMatching($itemIndex).json || {};\nconst hasParseError = response.parseError === true || typeof response.imagePrompt !== 'string';\n\nif (hasParseError) {\n  return {\n    json: {\n      ...base,\n      visualParseError: true,\n      visualDebugReason: 'Bild-Agent Parse-Fehler oder Aufruf fehlgeschlagen',\n      visualStage: 'prompt_error',\n      imageStage: (safeStr(base.imageFinalPath) ? 'composed' : 'not_started'),\n      visualPromptCreatedAt: new Date().toISOString()\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...base,\n    imageHeadline: safeStr(response.imageHeadline) || safeStr(base.imageHeadline),\n    imageSubline: safeStr(response.imageSubline) || safeStr(base.imageSubline),\n    imagePrompt: safeStr(response.imagePrompt),\n    imageNegativePrompt: safeStr(response.imageNegativePrompt),\n    altText: safeStr(response.altText),\n    visualMetaphor: safeStr(response.visualMetaphor),\n    visualParseError: false,\n    visualDebugReason: '',\n    visualStage: 'prompt_ready',\n    imageStage: (safeStr(base.imageFinalPath) ? 'composed' : 'not_started'),\n    visualPromptCreatedAt: new Date().toISOString()\n  }\n};"
      },
      "id": "ae898110-8038-4899-ac88-5ce86962b08d",
      "name": "Stelle Kontext nach Bild-Agent wieder her",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        40
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "tags": [],
  "versionId": "c2c5fd97-22c1-4235-99ac-e5e9ecc9c121"
}