ALLRIS_P3e_Kernbotschaft.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Hole alle Vorgaenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hole alle Vorgaenge": {
      "main": [
        [
          {
            "node": "Filter Kernbotschaft-Kandidaten",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Kernbotschaft-Kandidaten": {
      "main": [
        [
          {
            "node": "Sortiere Vorgaenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sortiere Vorgaenge": {
      "main": [
        [
          {
            "node": "Loop Vorgaenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Vorgaenge": {
      "main": [
        [],
        [
          {
            "node": "Satire-Shadow: Baue Eingabe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Satire-Shadow: Baue Eingabe": {
      "main": [
        [
          {
            "node": "Execute Workflow Satire-Agent (Shadow)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Satire-Agent (Shadow)": {
      "main": [
        [
          {
            "node": "Stelle Kontext nach Satire-Agent wieder her",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stelle Kontext nach Satire-Agent wieder her": {
      "main": [
        [
          {
            "node": "Speichere Satire-Agent Shadow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Satire-Ergebnis: Baue Text-Auswahl + Umfrage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Satire-Ergebnis: Baue Text-Auswahl + Umfrage": {
      "main": [
        [
          {
            "node": "IF Umfrage noetig? (>=2 Varianten)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Umfrage noetig? (>=2 Varianten)": {
      "main": [
        [
          {
            "node": "Sende Satire-Varianten Matrix-Umfrage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Baue Satire-Fehler Nachricht",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sende Satire-Varianten Matrix-Umfrage": {
      "main": [
        [
          {
            "node": "Stelle Kontext nach Satire-Umfrage wieder her",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stelle Kontext nach Satire-Umfrage wieder her": {
      "main": [
        [
          {
            "node": "Schreibe Satire-Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baue Satire-Fehler Nachricht": {
      "main": [
        [
          {
            "node": "Sende Satire-Fehler Matrix-Meldung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sende Satire-Fehler Matrix-Meldung": {
      "main": [
        [
          {
            "node": "Schreibe Satire-Ergebnis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Naechster Vorgang": {
      "main": [
        [
          {
            "node": "Loop Vorgaenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schreibe Satire-Ergebnis": {
      "main": [
        [
          {
            "node": "Naechster Vorgang",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "id": "qyzpgoD4bfTI2ncf",
  "meta": null,
  "name": "ALLRIS_P3e_Kernbotschaft",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 5,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "2eae5e43-bcc7-4ab4-b3a7-23a105ef89bd",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "returnAll": true
      },
      "id": "b7bc8b30-0e7c-42d1-a681-6114b76883e0",
      "name": "Hole alle Vorgaenge",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        440,
        1400
      ]
    },
    {
      "id": "a888cb6f-a008-4df6-8754-1df8e1ab57de",
      "name": "Filter Kernbotschaft-Kandidaten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        1400
      ],
      "parameters": {
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nconst items = $input.all();\nreturn items.filter(item => {\n  const j = item.json || {};\n  if (safeStr(j.sharepicNeedStage) !== 'topic_ok') return false;\n  const hcs = safeStr(j.headlineChoiceStage);\n  if (hcs && hcs !== 'needs_kernbotschaft') return false;\n  if (!safeStr(j.vorgangKey)) return false;\n  return true;\n});\n"
      }
    },
    {
      "id": "85cd82fc-1e21-4bc1-afd9-02c4f62ab9d1",
      "name": "Sortiere Vorgaenge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        920,
        1400
      ],
      "parameters": {
        "jsCode": "function parseDate(v) { if (!v) return 0; const t = Date.parse(String(v)); return Number.isFinite(t) ? t : 0; }\nconst items = $input.all();\nitems.sort((a, b) => parseDate((a.json||{}).firstseen) - parseDate((b.json||{}).firstseen));\nreturn items;\n"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cf1194b0-7035-4ee3-9788-8cf0f86ecf37",
      "name": "Loop Vorgaenge",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1160,
        1400
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; }\n  catch (e) { return {}; }\n}\n\nconst fakten = parseObj($json.faktenAgentJson);\n\nreturn {\n  json: {\n    vorgangKey: $json.vorgangKey,\n    vorgangsnummer: safeStr(fakten.vorgangsnummer),\n    sourceTopic: fakten.sourceTopic,\n    sourceConflict: fakten.sourceConflict,\n    requiredTerms: fakten.requiredTerms,\n    requiredObjects: fakten.requiredObjects,\n    requiredAction: fakten.requiredAction,\n    affectedGroups: fakten.affectedGroups,\n    concreteNumbers: fakten.concreteNumbers,\n    responsibilities: fakten.responsibilities,\n    documentType: fakten.documentType,\n    quotesVerbatim: fakten.quotesVerbatim,\n    sprengstoff: $json.sprengstoff\n  }\n};"
      },
      "id": "e9d02437-6d1b-4421-ac73-ef732727490b",
      "name": "Satire-Shadow: Baue Eingabe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1400,
        1400
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NO17q38BeKyS25LY",
          "mode": "list",
          "cachedResultName": "ALLRIS_Satire_Agent"
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "77ed4027-fa74-465d-811e-625f21e9d1f7",
      "name": "Execute Workflow Satire-Agent (Shadow)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1640,
        1400
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction asArray(v) { return Array.isArray(v) ? v.filter(Boolean).map(safeStr) : []; }\n\nconst response = $json || {};\nconst original = $('Satire-Shadow: Baue Eingabe').itemMatching($itemIndex).json || {};\nconst hasVariants = Array.isArray(response.variants) && response.variants.length > 0;\n\nconst result = hasVariants ? response : {\n  vorgangKey: safeStr(original.vorgangKey),\n  vorgangsnummer: safeStr(original.vorgangsnummer),\n  variants: [],\n  parseError: true,\n  callFailed: true\n};\n\nreturn {\n  json: {\n    vorgangKey: safeStr(original.vorgangKey) || safeStr(response.vorgangKey),\n    vorgangsnummer: safeStr(original.vorgangsnummer),\n    satireAgentJson: JSON.stringify(result),\n    sourceTopic: safeStr(original.sourceTopic),\n    requiredObjects: asArray(original.requiredObjects),\n    requiredAction: safeStr(original.requiredAction),\n    affectedGroups: asArray(original.affectedGroups)\n  }\n};"
      },
      "id": "768a5c39-2c8c-4432-a6d6-f4c9bdccd266",
      "name": "Stelle Kontext nach Satire-Agent wieder her",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        1400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $json.vorgangKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "satireAgentJson": "={{ $json.satireAgentJson }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "satireAgentJson",
              "displayName": "satireAgentJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "4e31c8a4-122f-44d7-bdcc-9a261f09a11d",
      "name": "Speichere Satire-Agent Shadow",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        2120,
        1220
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Kernbotschaft-first Umbau 2026-07-19, erweitert 2026-07-20: Satire-Agent waehlt intern aus 3\n// Kernbotschaft-Kandidaten die staerkste aus (siehe ALLRIS_Satire_Agent.json), liefert dann 1\n// finale kernbotschaft + 5 Formulierungen DERSELBEN Aussage (nicht mehr unabhaengige\n// Angriffswinkel auf Formulierungs-Ebene). Es gibt daher\n// keinen \"Auto-Select fuer Text mehr - Text (P4) wartet komplett auf die Matrix-Bestaetigung,\n// siehe Verarbeite Eignungs-Entscheidung in P3d (contentStage='awaiting_kernbotschaft').\n// Die Umfrage zeigt die kernbotschaft sichtbar ueber den Formulierungs-Kandidaten, kein\n// \"(passt zum veroeffentlichten Text)\"-Hinweis mehr noetig, da noch nichts veroeffentlicht ist.\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; }\n  catch (e) { return {}; }\n}\nfunction asArr(v) {\n  if (Array.isArray(v)) return v.filter(Boolean).map(safeStr);\n  if (typeof v === 'string' && v.trim()) { try { const p = JSON.parse(v); if (Array.isArray(p)) return p.filter(Boolean).map(safeStr); } catch (e) {} }\n  return [];\n}\n\nconst satire = parseObj($json.satireAgentJson);\nconst variants = Array.isArray(satire.variants) ? satire.variants : [];\nconst kernbotschaft = safeStr(satire.kernbotschaft);\nconst faktenBase = $('Loop Vorgaenge').itemMatching($itemIndex).json || {};\nconst vorgangKey = safeStr($json.vorgangKey);\nconst vorgangsnummer = safeStr($json.vorgangsnummer);\nconst title = safeStr(faktenBase.title);\nconst vnCode = vorgangsnummer.replace(/[^0-9A-Za-z]+/g, '-').replace(/^-+|-+$/g, '');\n\nconst candidates = variants.slice(0, 5).map((v, i) => ({\n  code: (vnCode ? vnCode + '-' : '') + 'K' + (i + 1),\n  imageHeadline: safeStr(v.imageHeadline),\n  imageSubline: safeStr(v.imageSubline),\n  satireBrief: safeStr(v.satireBrief),\n  satireAngle: safeStr(v.satireAngle),\n  satirePunchlines: asArr(v.satirePunchlines),\n  satireTarget: safeStr(v.satireTarget),\n  satireIntensity: Number(v.satireIntensity) || 0,\n  satireDoNotClaim: asArr(v.satireDoNotClaim),\n  satireSafetyNote: safeStr(v.satireSafetyNote)\n})).filter(c => c.imageHeadline && c.imageSubline);\n\nconst postedAt = new Date().toISOString();\nconst visualJson = JSON.stringify({ kernbotschaft, headlineCandidates: candidates, candidatesPostedAt: postedAt });\n\nlet matrixMessage = '';\nlet txnId = '';\nlet shouldPost = candidates.length >= 2 && !!kernbotschaft;\n\nif (shouldPost) {\n  const lines = ['🎯 Kernbotschaft für ' + vorgangsnummer + ' – ' + title, '', kernbotschaft, '', '🎨 Formulierungen zur Auswahl:', ''];\n  for (const c of candidates) {\n    lines.push(c.code + ': ' + c.imageHeadline + ' – ' + c.imageSubline);\n    if (c.satireBrief) lines.push('   ' + c.satireBrief);\n  }\n  lines.push('');\n  const exampleCode = candidates[0].code;\n  lines.push('Antworte mit dem gewünschten Code (z.B. \"' + exampleCode + '\"), um Text UND Bild freizugeben, oder mit \"' + vnCode + '-X\" für eine komplett neue Kernbotschaft. Vor deiner Antwort wird noch nichts veröffentlicht.');\n  matrixMessage = lines.join('\\n');\n  txnId = 'satire_hdl_' + Date.now() + '_' + vorgangKey.replace(/[^a-zA-Z0-9]/g, '').substring(0, 10);\n}\n\nreturn {\n  json: {\n    vorgangKey,\n    vorgangsnummer,\n    kernbotschaft,\n    visualJson,\n    headlineChoiceStage: shouldPost ? 'awaiting_headline_choice' : 'satire_agent_failed',\n    imageStage: 'not_started',\n    shouldPost,\n    matrixMessage,\n    txnId,\n    matrixSentOk: false,\n    matrixSendError: ''\n  }\n};\n"
      },
      "id": "9f0b2bef-fb70-4adb-8562-f9587ef5cd79",
      "name": "Satire-Ergebnis: Baue Text-Auswahl + Umfrage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        1400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "should-post-check",
              "leftValue": "={{ $json.shouldPost }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a897a9d7-1c4f-4dbe-8b44-0bcd0d35ad4c",
      "name": "IF Umfrage noetig? (>=2 Varianten)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2600,
        1400
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://matrix.org/_matrix/client/v3/rooms/!COxTeLJyPszYlaHbIx:matrix.golietz.de/send/m.room.message/{{ $json.txnId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: 'm.text', body: $json.matrixMessage }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "11b26f1d-3410-4304-a2ee-3202b7479e47",
      "name": "Sende Satire-Varianten Matrix-Umfrage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2840,
        1220
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "od1pN1F5wy2irSDs",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Stellt den Vorgangskontext nach dem Matrix-Versand wieder her (gleiches Muster wie\n// 'Stelle Kontext nach Matrix wieder her' in P5) - der HTTP-Node ersetzt das Item-JSON\n// durch die rohe Matrix-API-Antwort und wuerde sonst vorgangKey/satireBrief/visualJson usw. verlieren.\nconst response = $json || {};\nconst base = $('Satire-Ergebnis: Baue Text-Auswahl + Umfrage').itemMatching($itemIndex).json || {};\n\nconst hasError = !!(\n  response.error ||\n  response.errcode ||\n  (response.statusCode && Number(response.statusCode) >= 400)\n);\nconst eventId = response.event_id || response.eventId || '';\n\nreturn {\n  json: {\n    ...base,\n    matrixSentOk: !hasError && !!eventId,\n    matrixSendError: hasError ? (response.error || response.errcode || 'Matrix-Versand fehlgeschlagen') : ''\n  }\n};"
      },
      "id": "f5921512-b657-4d8a-97d0-052d73604211",
      "name": "Stelle Kontext nach Satire-Umfrage wieder her",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3080,
        1220
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Satire-Agent lieferte weniger als 2 verwertbare Varianten (Parse-Fehler oder AI-Call\n// fehlgeschlagen) - keine Matrix-Umfrage moeglich, kein Bild-Kandidat verfuegbar.\n// Ohne diese Meldung wuerde die Zeile mit visualStage='satire_agent_failed' unbemerkt\n// liegen bleiben (P5 wartet auf 'headline_selected', das kommt nie). Gleiches\n// Alarmierungs-Muster wie 'Baue QA-Block Nachricht'.\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\n\nconst j = $json;\nreturn {\n  json: {\n    ...j,\n    txnId: 'satire-fail-' + Date.now() + '-' + Math.random().toString(36).slice(2),\n    summaryMessage: '⚠️ Satire-Agent fehlgeschlagen: Vorgang ' + safeStr(j.vorgangsnummer) + ' (' + safeStr(j.vorgangKey) + ')\\n' +\n      'Grund: weniger als 2 verwertbare Varianten (Parse-Fehler oder AI-Call fehlgeschlagen).\\n' +\n      'Kein Bildvorschlag moeglich. Bitte in der Data Table pruefen und ggf. contentStage/visualStage manuell zuruecksetzen, um einen erneuten Versuch auszuloesen.'\n  }\n};"
      },
      "id": "baf1461e-308e-433c-adc9-4224aeb06be6",
      "name": "Baue Satire-Fehler Nachricht",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        1580
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://matrix.org/_matrix/client/v3/rooms/!COxTeLJyPszYlaHbIx:matrix.golietz.de/send/m.room.message/{{ $json.txnId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ msgtype: 'm.text', body: $json.summaryMessage }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "ce45fb78-eaae-4e61-83aa-521bc18494b1",
      "name": "Sende Satire-Fehler Matrix-Meldung",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        1580
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "od1pN1F5wy2irSDs",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "419a7cef-c483-43d5-8f01-19b2eb057f04",
      "name": "Naechster Vorgang",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4040,
        1400
      ],
      "parameters": {
        "jsCode": "return [{ json: $input.item.json }];\n"
      }
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "hBLqpqeVEojPpOJl",
          "mode": "list",
          "cachedResultName": "allris_vorgaenge",
          "cachedResultUrl": "/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "vorgangKey",
              "keyValue": "={{ $json.vorgangKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "headlineChoiceStage": "={{ $json.headlineChoiceStage }}",
            "visualJson": "={{ $json.visualJson }}",
            "imageStage": "={{ $json.imageStage }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "headlineChoiceStage",
              "displayName": "headlineChoiceStage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "visualJson",
              "displayName": "visualJson",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "imageStage",
              "displayName": "imageStage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "59b2f38e-2a83-40b3-a39b-0a3e9fa5f2fa",
      "name": "Schreibe Satire-Ergebnis",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        3320,
        1340
      ]
    }
  ],
  "pinData": null,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "versionId": "f5087247-c39c-4128-87fc-b9608e0afd16"
}