ALLRIS_P3b_Repair_SourceLock_VisualGuard.json
{"name":"ALLRIS_P3b_Repair_SourceLock_VisualGuard","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"d38a3d6d-f727-429c-9117-5b6ec41ff14d","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[4560,128]},{"parameters":{"jsCode":"// Prüfe Repair-Bedarf (V12_7 - runOnceForAllItems)\n// Verwendet runOnceForAllItems um SplitInBatches-Kompatibilitätsprobleme zu vermeiden\nconst items = $input.all();\nif (!items || items.length === 0) {\n  return [{ json: { _repairNeeded: false, _repairSkipped: true, _repairSkipReason: 'kein Input' } }];\n}\n\nconst rawItem = items[0];\nconst j = (rawItem && rawItem.json && typeof rawItem.json === 'object' && !Array.isArray(rawItem.json))\n  ? rawItem.json\n  : {};\n\nif (!j.vorgangKey) {\n  return [{ json: { ...j, _repairNeeded: false, _repairSkipped: true, _repairSkipReason: 'kein vorgangKey' } }];\n}\n\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; } catch(e) { return {}; }\n}\nfunction asArr(v) {\n  if (Array.isArray(v)) return v.filter(Boolean).map(s => String(s).trim());\n  if (typeof v === 'string' && v.trim()) {\n    try { const p = JSON.parse(v); if (Array.isArray(p)) return p.filter(Boolean).map(s => String(s).trim()); } catch(e) {}\n    return v.split(/\\s*\\|\\s*/).filter(Boolean).map(s => String(s).trim());\n  }\n  return [];\n}\nfunction robustBool(v) {\n  if (v === true || v === 1) return true;\n  if (typeof v === 'string') { const s = v.trim().toLowerCase(); return s === 'true' || s === '1'; }\n  return false;\n}\n\nconst analysis = parseObj(j.analysisJson);\nconst sl = parseObj(analysis.sourceLock || {});\nconst va = parseObj(analysis.visualAnchors || {});\nconst slValidFlag = robustBool(analysis.sourceLockValid);\nconst vaValidFlag = robustBool(analysis.visualAnchorsValid);\n\nconst slOk = !!(\n  safeStr(sl.sourceTopic) &&\n  safeStr(sl.sourceConflict) &&\n  asArr(sl.requiredTerms).length >= 2 &&\n  asArr(sl.requiredObjects).length >= 2 &&\n  safeStr(sl.requiredAction) &&\n  slValidFlag\n);\nconst vaOk = !!(\n  safeStr(va.satireThemaKonkret) &&\n  safeStr(va.satireKonfliktKonkret) &&\n  asArr(va.visualPflichtobjekte).length >= 2 &&\n  safeStr(va.visualPflichthandlung) &&\n  safeStr(va.visualErkennungssatz) &&\n  safeStr(va.visualUeberzeichnung) &&\n  asArr(va.visualVerboteneErsatzmotive).length >= 2 &&\n  vaValidFlag\n);\n\nconst needsVisual = robustBool(j.visualNeeded) || robustBool(j.instagramSharepicNoetig);\nconst sourceLockRepairNeeded = !slOk;\nconst visualAnchorRepairNeeded = needsVisual && !vaOk;\nconst repairNeeded = sourceLockRepairNeeded || visualAnchorRepairNeeded;\n\nreturn [{ json: {\n  ...j,\n  _repairNeeded: repairNeeded,\n  _repairSkipped: false,\n  _sourceLockRepairNeeded: sourceLockRepairNeeded,\n  _visualAnchorRepairNeeded: visualAnchorRepairNeeded,\n  _repairReasonSL: !slOk ? 'sourceLock ungültig/unvollständig' : '',\n  _repairReasonVA: !vaOk ? 'visualAnchors unvollständig' : '',\n  _sourceLockCurrentlyValid: slOk,\n  _visualAnchorsCurrentlyOk: vaOk\n} }];\n"},"id":"a3f0eaaf-e7ae-4093-b818-b737a139fe60","name":"Prüfe Repair-Bedarf","type":"n8n-nodes-base.code","typeVersion":2,"position":[6112,128]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"repair-check","leftValue":"={{ $json._repairNeeded }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"eade7449-ea24-435e-89dd-af19c0aed6e3","name":"IF Repair nötig?","type":"n8n-nodes-base.if","typeVersion":2,"position":[6336,128]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"content":"=Du reparierst ausschließlich die Felder sourceLock und visualAnchors einer bereits abgeschlossenen Ratsvorlagen-Analyse für den Rat der Stadt Goslar.\n\nWICHTIG: Antworte AUSSCHLIESSLICH mit einem validen JSON-Objekt. Kein Markdown. Keine Codeblöcke. Keine Kommentare. Keine zusätzlichen Felder.\n\nDu darfst NUR sourceLock und visualAnchors zurückgeben. Alle anderen Bewertungsfelder (relevantScore, sprengstoff, empfehlung, kurzfassung, satirePunchlines usw.) bleiben unverändert und gehören NICHT in deine Antwort.\n\nVORGANG: {{ $json.vorgangKey }}\nVORGANGSNUMMER: {{ $json.vorgangsnummer }}\nREPARATURBEDARF SourceLock: {{ $json._sourceLockRepairNeeded }}\nREPARATURBEDARF VisualAnchors: {{ $json._visualAnchorRepairNeeded }}\nBILD ERFORDERLICH: {{ $json.visualNeeded }} / {{ $json.instagramSharepicNoetig }}\n\nTITEL:\n{{ $json.title }}\n\nZUSAMMENFASSUNG (summaryText):\n{{ $json.summaryText }}\n\nORIGINALDOKUMENTTEXT (combinedText – ebenfalls gültige Quelle):\n{{ $json.combinedText }}\n\nBISHERIGE ANALYSE (analysisJson – nur zur Orientierung, nicht übernehmen wenn fehlerhaft):\n{{ $json.analysisJson }}\n\nAUFGABE SOURCELOCK:\n\nsourceTopic muss das konkrete reale Thema des Vorgangs nennen (max. 10 Worte, direkt aus Titel oder Zusammenfassung ableitbar).\nsourceConflict muss den belegbaren konkreten Konflikt oder das Problem nennen (max. 15 Worte, direkt aus dem Text).\nrequiredTerms enthält mindestens 2 konkrete Begriffe oder kurze Wortgruppen, die WORTGETREU in title, summaryText ODER combinedText vorkommen. Keine Synonyme. Keine erfundenen Verwaltungsbegriffe. Keine Erweiterung von Quellenbegriffen um nicht vorkommende Wörter. Kein Stemming. Mindestens 2 davon müssen konkret und nicht-generisch sein (nicht: Stadt, Verwaltung, Politik, Vorlage, Antrag, Beschluss, Goslar).\nrequiredObjects enthält mindestens 2 konkrete zeichnerisch darstellbare Gegenstände (kein abstraktes wie „Verwaltung\", „Politik\", „Bürokratie\").\nrequiredAction beschreibt eine konkrete sichtbare Handlung.\naffectedGroups enthält nur belegbare betroffene Gruppen.\nforbiddenDrift enthält mindestens 2 unzulässige Ausweichthemen (Motive, die das Bild vom konkreten Thema wegführen würden).\n\nAUFGABE VISUALANCHORS (nur wenn Bild erforderlich, sonst leere Strings/Arrays):\n\nsatireThemaKonkret muss das reale Thema sichtbar benennen (kein abstrakter Begriff).\nsatireKonfliktKonkret muss zum Source-Lock passen (kein Verwaltungsjargon).\nvisualPflichtobjekte enthält mindestens 2 konkrete sichtbare Objekte, die im Bild erkennbar sein müssen.\nvisualPflichthandlung beschreibt eine sichtbare Handlung.\nvisualUeberzeichnung beschreibt eine eindeutige satirische Übertreibung des Konflikts.\nvisualErkennungssatz nennt konkrete Objekte und Handlung – der Satz muss das reale Goslar-Thema ohne Zusatzwissen erkennbar machen.\nvisualVerboteneErsatzmotive enthält mindestens 2 unzulässige Klischee-Ersatzmotive (z.B. generische Politiker, Aktentaschen, Rathäuser ohne Bezug).\nKeine austauschbare allgemeine Verwaltungssatire. Keine neuen politischen Themen. Keine erfundenen Fakten. Keine realen Personen.\n\nAntworte NUR mit diesem JSON-Objekt (keine anderen Felder):\n{\n  \"sourceLock\": {\n    \"sourceTopic\": \"\",\n    \"sourceConflict\": \"\",\n    \"requiredTerms\": [\"\", \"\"],\n    \"requiredObjects\": [\"\", \"\"],\n    \"requiredAction\": \"\",\n    \"affectedGroups\": [],\n    \"forbiddenDrift\": [\"\", \"\"]\n  },\n  \"visualAnchors\": {\n    \"satireThemaKonkret\": \"\",\n    \"satireKonfliktKonkret\": \"\",\n    \"visualPflichtobjekte\": [\"\", \"\"],\n    \"visualPflichthandlung\": \"\",\n    \"visualBetroffene\": [],\n    \"visualOrt\": \"Goslar\",\n    \"visualUeberzeichnung\": \"\",\n    \"visualErkennungssatz\": \"\",\n    \"visualVerboteneErsatzmotive\": [\"\", \"\"]\n  }\n}"}]},"builtInTools":{},"options":{}},"id":"636fe6cf-1fe3-43d5-b575-05b7bd343794","name":"AI Reparatur SourceLock+Anchors","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[4560,352],"credentials":{"openAiApi":{"id":"RiT1gwJpQWzSo6NO","name":"OpenAI account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// n8n Code Node: \"Normalisiere Bewertung + Visual Guard\"\n// Mode: Run Once for Each Item\n// Liest die KI-Antwort von \"AI Reparatur SourceLock+Anchors\" und mergt sourceLock/visualAnchors\n// in die Originaldaten aus \"Prüfe Repair-Bedarf\" (dieses Item ist die AI-Antwort, nicht die Row).\n\nfunction getAiText(item) {\n  try {\n    const j = item.json || {};\n    if (j.text \u0026\u0026 typeof j.text === \u0027string\u0027 \u0026\u0026 j.text.trim()) return j.text;\n    const o = j.output;\n    if (Array.isArray(o)) {\n      for (let i = 0; i \u003c o.length; i++) {\n        const c = o[i].content;\n        if (Array.isArray(c)) { for (let k = 0; k \u003c c.length; k++) { if (c[k].text) return c[k].text; } }\n      }\n    }\n    if (j.output_text) return j.output_text;\n    if (j.message \u0026\u0026 j.message.content) return j.message.content;\n    if (j.choices \u0026\u0026 j.choices[0] \u0026\u0026 j.choices[0].message) return j.choices[0].message.content || \u0027\u0027;\n    return \u0027\u0027;\n  } catch (e) { return \u0027\u0027; }\n}\n\nfunction extractJson(text) {\n  if (!text) return null;\n  const s = String(text).replace(/^```(?:json)?\\s*/i, \u0027\u0027).replace(/\\s*```\\s*$/i, \u0027\u0027).trim();\n  const a = s.indexOf(\u0027{\u0027), b = s.lastIndexOf(\u0027}\u0027);\n  return (a === -1 || b === -1 || b \u003c= a) ? null : s.slice(a, b + 1);\n}\n\nlet input = {};\ntry {\n  const ref = $(\u0027Prüfe Repair-Bedarf\u0027).item;\n  if (ref \u0026\u0026 ref.json \u0026\u0026 typeof ref.json === \u0027object\u0027 \u0026\u0026 !Array.isArray(ref.json)) input = ref.json;\n} catch (e) { input = {}; }\n\nconst rawAiText = getAiText($input.item);\nconst aiJsonStr = extractJson(rawAiText);\nlet repaired = {};\nif (aiJsonStr) {\n  try { repaired = JSON.parse(aiJsonStr) || {}; } catch (e) { repaired = {}; }\n}\n\nfunction safeStr(v) {\n  return v === null || v === undefined ? \u0027\u0027 : String(v).trim();\n}\n\nfunction normText(v) {\n  return safeStr(v)\n    .toLowerCase()\n    .replace(/ä/g, \u0027ae\u0027)\n    .replace(/ö/g, \u0027oe\u0027)\n    .replace(/ü/g, \u0027ue\u0027)\n    .replace(/ß/g, \u0027ss\u0027)\n    .replace(/[„“”\"\u0027`´]/g, \u0027\u0027)\n    .replace(/[^a-z0-9]+/g, \u0027 \u0027)\n    .replace(/\\s+/g, \u0027 \u0027)\n    .trim();\n}\n\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === \u0027object\u0027 \u0026\u0026 !Array.isArray(v)) return v;\n  if (typeof v === \u0027string\u0027) {\n    try {\n      const p = JSON.parse(v);\n      return p \u0026\u0026 typeof p === \u0027object\u0027 \u0026\u0026 !Array.isArray(p) ? p : {};\n    } catch (e) {}\n  }\n  return {};\n}\n\nfunction asArray(v) {\n  if (Array.isArray(v)) {\n    return v\n      .filter(x =\u003e x !== null \u0026\u0026 x !== undefined \u0026\u0026 safeStr(x) !== \u0027\u0027)\n      .map(x =\u003e safeStr(x));\n  }\n  if (v === null || v === undefined || v === \u0027\u0027) return [];\n  if (typeof v === \u0027string\u0027) {\n    const t = v.trim();\n    if (!t) return [];\n    try {\n      const p = JSON.parse(t);\n      if (Array.isArray(p)) return p.filter(Boolean).map(x =\u003e safeStr(x)).filter(Boolean);\n    } catch (e) {}\n    return t.split(/\\s*\\|\\s*/).map(x =\u003e safeStr(x)).filter(Boolean);\n  }\n  return [safeStr(v)].filter(Boolean);\n}\n\nfunction hasValue(v) {\n  if (Array.isArray(v)) return asArray(v).length \u003e 0;\n  if (v \u0026\u0026 typeof v === \u0027object\u0027) return Object.keys(v).length \u003e 0;\n  return safeStr(v).length \u003e 0;\n}\n\nfunction pick(nestedValue, topValue, fallback = \u0027\u0027) {\n  return hasValue(nestedValue) ? nestedValue : (hasValue(topValue) ? topValue : fallback);\n}\n\nfunction num(v, fallback = 0) {\n  const n = Number(String(v ?? \u0027\u0027).replace(\u0027,\u0027, \u0027.\u0027));\n  return Number.isFinite(n) ? n : fallback;\n}\n\nfunction enumValue(v, allowed, fallback) {\n  const n = safeStr(v).toUpperCase();\n  return allowed.includes(n) ? n : fallback;\n}\n\nfunction bool(v) {\n  if (v === true || v === 1) return true;\n  if (v === false || v === 0 || v === null || v === undefined) return false;\n  const s = String(v).trim().toLowerCase();\n  return [\u0027true\u0027, \u00271\u0027, \u0027yes\u0027, \u0027ja\u0027, \u0027y\u0027].includes(s);\n}\n\nfunction unique(arr) {\n  const out = [];\n  const seen = new Set();\n  for (const x of asArray(arr)) {\n    const k = normText(x);\n    if (!k || seen.has(k)) continue;\n    seen.add(k);\n    out.push(x);\n  }\n  return out;\n}\n\n// Parse analysisJson, aber Top-Level-Felder weiter berücksichtigen.\nconst analysis = parseObj(input.analysisJson);\n\n// KI-Reparaturantwort hat Vorrang vor der alten (fehlerhaften) Analyse.\nif (repaired.sourceLock) analysis.sourceLock = repaired.sourceLock;\nif (repaired.visualAnchors) analysis.visualAnchors = repaired.visualAnchors;\n\nconst nestedSL = parseObj(analysis.sourceLock || input.sourceLock);\nconst nestedVA = parseObj(analysis.visualAnchors || input.visualAnchors);\n\nlet sourceLock = {\n  sourceTopic: safeStr(pick(nestedSL.sourceTopic, input.sourceTopic || analysis.sourceTopic)),\n  sourceConflict: safeStr(pick(nestedSL.sourceConflict, input.sourceConflict || analysis.sourceConflict)),\n  requiredTerms: unique(pick(nestedSL.requiredTerms, input.requiredTerms || analysis.requiredTerms, [])),\n  requiredObjects: unique(pick(nestedSL.requiredObjects, input.requiredObjects || analysis.requiredObjects, [])),\n  requiredAction: safeStr(pick(nestedSL.requiredAction, input.requiredAction || analysis.requiredAction)),\n  affectedGroups: unique(pick(nestedSL.affectedGroups, input.affectedGroups || analysis.affectedGroups, [])),\n  forbiddenDrift: unique(pick(nestedSL.forbiddenDrift, input.forbiddenDrift || analysis.forbiddenDrift, []))\n};\n\nlet visualAnchors = {\n  satireThemaKonkret: safeStr(pick(nestedVA.satireThemaKonkret, input.satireThemaKonkret || analysis.satireThemaKonkret)),\n  satireKonfliktKonkret: safeStr(pick(nestedVA.satireKonfliktKonkret, input.satireKonfliktKonkret || analysis.satireKonfliktKonkret)),\n  visualPflichtobjekte: unique(pick(nestedVA.visualPflichtobjekte, input.visualPflichtobjekte || analysis.visualPflichtobjekte, [])),\n  visualPflichthandlung: safeStr(pick(nestedVA.visualPflichthandlung, input.visualPflichthandlung || analysis.visualPflichthandlung)),\n  visualBetroffene: unique(pick(nestedVA.visualBetroffene, input.visualBetroffene || analysis.visualBetroffene, [])),\n  visualOrt: safeStr(pick(nestedVA.visualOrt, input.visualOrt || analysis.visualOrt || \u0027\u0027)),\n  visualUeberzeichnung: safeStr(pick(nestedVA.visualUeberzeichnung, input.visualUeberzeichnung || analysis.visualUeberzeichnung)),\n  visualErkennungssatz: safeStr(pick(nestedVA.visualErkennungssatz, input.visualErkennungssatz || analysis.visualErkennungssatz)),\n  visualVerboteneErsatzmotive: unique(pick(nestedVA.visualVerboteneErsatzmotive, input.visualVerboteneErsatzmotive || analysis.visualVerboteneErsatzmotive, []))\n};\n\nconst sourceStrictText = [\n  input.title,\n  input.vorgangsnummer,\n  input.summaryText,\n  input.thema,\n  input.betroffene,\n  input.kostenHaushalt,\n  input.buergerwirkung,\n  input.offenePunkte,\n  input.unsicherheitenSummary,\n  input.combinedText,\n  input.analyseContext\n].map(safeStr).join(\u0027\\n\u0027);\n\nconst sourceNorm = normText(sourceStrictText);\nconst sourceWords = new Set(sourceNorm.split(\u0027 \u0027).filter(w =\u003e w.length \u003e= 3));\n\nfunction sourceHasExactWord(term) {\n  const n = normText(term);\n  return n \u0026\u0026 !n.includes(\u0027 \u0027) \u0026\u0026 sourceWords.has(n);\n}\n\nfunction sourceContainsPhrase(term) {\n  const n = normText(term);\n  return n.length \u003e= 4 \u0026\u0026 sourceNorm.includes(n);\n}\n\nconst realPartTerms = new Set([\n  \u0027finanzierung\u0027, \u0027haushalt\u0027, \u0027kosten\u0027, \u0027haushaltsreste\u0027, \u0027haushaltsrest\u0027,\n  \u0027massnahme\u0027, \u0027maßnahme\u0027, \u0027ort\u0027, \u0027gremium\u0027, \u0027sachobjekt\u0027, \u0027einrichtung\u0027,\n  \u0027lichtsignalanlage\u0027, \u0027signalgeber\u0027, \u0027bodenplatten\u0027, \u0027tasterkasten\u0027\n].map(normText));\n\nconst termObjectSet = new Set([\n  ...sourceLock.requiredTerms,\n  ...sourceLock.requiredObjects,\n  sourceLock.requiredAction,\n  visualAnchors.satireThemaKonkret,\n  visualAnchors.visualOrt\n].map(normText).filter(Boolean));\n\n// forbiddenDrift darf echte Bestandteile nicht verbieten.\nsourceLock.forbiddenDrift = unique(sourceLock.forbiddenDrift).filter(d =\u003e {\n  const n = normText(d);\n  if (!n) return false;\n  if (realPartTerms.has(n)) return false;\n  if (termObjectSet.has(n)) return false;\n  if (sourceHasExactWord(d)) return false;\n  return true;\n});\n\n// Bei Bildfreigabe mindestens drei echte Abdriftverbote ergänzen, falls nötig.\nconst fallbackDrift = [\n  \u0027allgemeine Rathaus-Satire ohne konkreten Vorgangsbezug\u0027,\n  \u0027allgemeiner Aktenberg als Hauptmotiv\u0027,\n  \u0027beliebiger Geldsack oder reine Finanzsymbolik als Hauptpointe\u0027,\n  \u0027Pointe auf Kosten schutzbedürftiger Betroffener\u0027,\n  \u0027Korruptionsunterstellung oder persönliche Schuldzuweisung\u0027\n];\n\nfor (const d of fallbackDrift) {\n  if (sourceLock.forbiddenDrift.length \u003e= 3) break;\n  if (!sourceLock.forbiddenDrift.some(x =\u003e normText(x) === normText(d))) {\n    sourceLock.forbiddenDrift.push(d);\n  }\n}\n\nconst sensitiveContextRe = /\\b(minderjaehrig|minderjährig|kind|kinder|schueler|schüler|schuelerin|schülerin|behinder|barrierefrei|barrierefreiheit|blind|sehbehindert|taub|krank|pflege|rollstuhl|gefluecht|geflücht|wohnungslose|obdachlos|armut|opfer|notlage)\\b/i;\nconst sensitiveContext = sensitiveContextRe.test(normText(sourceStrictText + \u0027 \u0027 + sourceLock.affectedGroups.join(\u0027 \u0027)));\n\nfunction isSensitivePersonObject(v) {\n  const n = normText(v);\n  if (!n) return false;\n\n  // Sachobjekte mit Rollstuhl-/Barrierefreiheitsbezug bleiben erlaubt.\n  if (/\\b(rollstuhlrampe|rampe|barrierefreier zugang|barrierefreier taster|taster|signalgeber|bodenplatte|bodenplatten|leitstreifen|lichtsignalanlage)\\b/.test(n)) {\n    return false;\n  }\n\n  return /\\b(blinder|blinde|sehbehinderter|sehbehinderte|behinderter|behinderte|mensch mit behinderung|menschen mit behinderung|schueler|schuelerin|schüler|schülerin|kind|kinder|minderjaehriger|minderjährige|patient|patientin|pflegebeduerftiger|pflegebedürftige|rollstuhlfahrer|gefluechteter|geflüchtete|wohnungslose|obdachlose|kranker|kranke)\\b/.test(n);\n}\n\nconst forbiddenSymbolRe = /\\b(sparschwein|geldsack|waage|aktenberg|rathaus|nebel|monster|hai|haie|marionette|marionetten|theaterbuehne|theaterbühne|theater|clown|clowns|maskottchen)\\b/;\n\nfunction isForbiddenSymbol(v) {\n  const n = normText(v);\n  if (!n) return false;\n  if (!forbiddenSymbolRe.test(n)) return false;\n\n  // Nur erlauben, wenn das Symbol selbst belegbar Gegenstand der Vorlage ist.\n  return !sourceContainsPhrase(v) \u0026\u0026 !sourceHasExactWord(v);\n}\n\nconst genericObjectSet = new Set([\n  \u0027stadt\u0027, \u0027verwaltung\u0027, \u0027politik\u0027, \u0027buerokratie\u0027, \u0027bürokratie\u0027, \u0027gerechtigkeit\u0027,\n  \u0027haushalt\u0027, \u0027kosten\u0027, \u0027finanzierung\u0027, \u0027massnahme\u0027, \u0027maßnahme\u0027, \u0027verfahren\u0027,\n  \u0027gremium\u0027, \u0027beschluss\u0027, \u0027antrag\u0027, \u0027vorlage\u0027, \u0027thema\u0027, \u0027konflikt\u0027, \u0027situation\u0027,\n  \u0027problem\u0027, \u0027prioritaet\u0027, \u0027priorität\u0027, \u0027zustaendigkeit\u0027, \u0027zuständigkeit\u0027\n].map(normText));\n\nfunction isConcreteObject(v) {\n  const n = normText(v);\n  if (!n || n.length \u003c 3) return false;\n  if (genericObjectSet.has(n)) return false;\n  if (isForbiddenSymbol(v)) return false;\n  if (sensitiveContext \u0026\u0026 isSensitivePersonObject(v)) return false;\n  return true;\n}\n\nfunction concreteCount(arr) {\n  return asArray(arr).filter(isConcreteObject).length;\n}\n\nfunction listForbiddenSymbols(arr) {\n  return asArray(arr).filter(isForbiddenSymbol);\n}\n\nfunction listSensitiveObjects(arr) {\n  return asArray(arr).filter(isSensitivePersonObject);\n}\n\nconst visualText = [\n  visualAnchors.visualUeberzeichnung,\n  visualAnchors.visualErkennungssatz,\n  analysis.visualMetaphor,\n  analysis.satireBrief,\n  analysis.satireAngle,\n  asArray(analysis.satirePunchlines).join(\u0027 \u0027),\n  analysis.moeglicheSatirischeReaktion\n].map(safeStr).join(\u0027 \u0027);\n\nconst vNorm = normText(visualText);\n\nfunction hasSensitiveMetaphor() {\n  if (!sensitiveContext) return false;\n\n  if (/\\bblind(e|er|es|en)?\\s+(augen|sparschwein|haushalt|verwaltung|planung|politik|ampel|stadt)\\b/.test(vNorm)) return true;\n  if (/\\b(taub(e|er|es|en)?|lahm(e|er|es|en)?|krank(e|er|es|en)?|hilflos(e|er|es|en)?)\\s+(verwaltung|planung|haushalt|politik|ampel|stadt)\\b/.test(vNorm)) return true;\n  if (/barrierefreiheit.{0,30}\\b(luxus|spass|spaß|teurer spass|teurer spaß)\\b/.test(vNorm)) return true;\n  if (/\\b(gefahrenszene|hilflosigkeit|panik|panisch|gefährdet|gefaehrdet|unfallopfer)\\b/.test(vNorm)) return true;\n\n  return false;\n}\n\n// Sensible sichtbare Betroffene vorsichtig leeren, aber nicht als Hauptfehler zählen.\nlet visualBetroffeneCleared = false;\nif (sensitiveContext \u0026\u0026 visualAnchors.visualBetroffene.length \u003e 0) {\n  visualAnchors.visualBetroffene = [];\n  visualBetroffeneCleared = true;\n}\n\nconst sensitiveObjects = sensitiveContext ? [\n  ...listSensitiveObjects(visualAnchors.visualPflichtobjekte),\n  ...listSensitiveObjects(sourceLock.requiredObjects)\n] : [];\n\nconst forbiddenSymbols = [\n  ...listForbiddenSymbols(visualAnchors.visualPflichtobjekte),\n  ...listForbiddenSymbols(sourceLock.requiredObjects)\n];\n\nconst pflichtConcrete = concreteCount(visualAnchors.visualPflichtobjekte);\nconst reqObjConcrete = concreteCount(sourceLock.requiredObjects);\n\nconst sourceLockErrors = [];\n\nif (!safeStr(sourceLock.sourceTopic)) sourceLockErrors.push(\u0027sourceLock.sourceTopic fehlt\u0027);\nif (!safeStr(sourceLock.sourceConflict)) sourceLockErrors.push(\u0027sourceLock.sourceConflict fehlt\u0027);\nif (asArray(sourceLock.requiredTerms).length \u003c 2) sourceLockErrors.push(\u0027sourceLock.requiredTerms \u003c 2\u0027);\nif (reqObjConcrete \u003c 2) sourceLockErrors.push(\u0027sourceLock.requiredObjects enthält weniger als 2 konkrete Objekte\u0027);\nif (!safeStr(sourceLock.requiredAction)) sourceLockErrors.push(\u0027sourceLock.requiredAction fehlt\u0027);\n\nconst visualErrors = [];\n\nif (!safeStr(visualAnchors.satireThemaKonkret)) visualErrors.push(\u0027satireThemaKonkret fehlt\u0027);\nif (!safeStr(visualAnchors.satireKonfliktKonkret)) visualErrors.push(\u0027satireKonfliktKonkret fehlt\u0027);\nif (pflichtConcrete \u003c 2) visualErrors.push(\u0027visualPflichtobjekte enthält weniger als 2 konkrete Objekte\u0027);\nif (!safeStr(visualAnchors.visualPflichthandlung)) visualErrors.push(\u0027visualPflichthandlung fehlt\u0027);\nif (!safeStr(visualAnchors.visualErkennungssatz)) visualErrors.push(\u0027visualErkennungssatz fehlt\u0027);\n\nconst guardErrors = [];\n\nif (sensitiveObjects.length \u003e 0) {\n  guardErrors.push(\u0027Sensible Betroffene als Pflichtobjekt/requiredObject erkannt: \u0027 + sensitiveObjects.join(\u0027, \u0027));\n}\n\nif (forbiddenSymbols.length \u003e 0) {\n  guardErrors.push(\u0027Symbol-Drift als Pflichtobjekt/requiredObject erkannt: \u0027 + forbiddenSymbols.join(\u0027, \u0027));\n}\n\nif (hasSensitiveMetaphor()) {\n  guardErrors.push(\u0027Schutzlage wird als Metapher, Wortspiel oder Gefahrenszene verwendet\u0027);\n}\n\nif (visualBetroffeneCleared) {\n  guardErrors.push(\u0027visualBetroffene bei sensiblem Thema geleert; Betroffene sind nicht Bildpointe\u0027);\n}\n\nconst empfehlung = enumValue(analysis.empfehlung ?? input.empfehlung, [\u0027IGNORIEREN\u0027, \u0027BEOBACHTEN\u0027, \u0027REAGIEREN\u0027], \u0027BEOBACHTEN\u0027);\nconst sprengstoff = enumValue(analysis.sprengstoff ?? input.sprengstoff, [\u0027KEINER\u0027, \u0027GERING\u0027, \u0027MITTEL\u0027, \u0027HOCH\u0027], \u0027KEINER\u0027);\nconst ampelMap = { KEINER: \u0027⚪\u0027, GERING: \u0027🟡\u0027, MITTEL: \u0027🟠\u0027, HOCH: \u0027🔴\u0027 };\nconst ampel = ampelMap[sprengstoff] || \u0027⚪\u0027;\n\nconst kommunikationspotenzial = num(analysis.kommunikationspotenzial ?? input.kommunikationspotenzial, 0);\nconst relevanz = num(analysis.relevanz ?? input.relevantScore ?? input.relevanz, 0);\n\nlet reaktionNoetig = bool(analysis.reaktionNoetig ?? input.reaktionNoetig);\n\nif (empfehlung === \u0027REAGIEREN\u0027) reaktionNoetig = true;\nif (empfehlung === \u0027IGNORIEREN\u0027) reaktionNoetig = false;\n\n// SatireIntensity deterministisch an sprengstoff koppeln.\nconst maxIntensityBySprengstoff = { KEINER: 2, GERING: 2, MITTEL: 4, HOCH: 5 };\nlet satireIntensity = num(analysis.satireIntensity ?? input.satireIntensity, 0);\n\nif (satireIntensity \u003e 0) {\n  satireIntensity = Math.max(1, Math.min(satireIntensity, maxIntensityBySprengstoff[sprengstoff] || 2));\n}\n\nconst sourceLockValid = sourceLockErrors.length === 0;\nconst visualAnchorsValid = visualErrors.length === 0;\nconst blockedByGuard = guardErrors.some(e =\u003e !e.startsWith(\u0027visualBetroffene bei sensiblem Thema geleert\u0027));\nconst visualReady = sourceLockValid \u0026\u0026 visualAnchorsValid \u0026\u0026 !blockedByGuard;\n\nconst wantsVisual = empfehlung === \u0027REAGIEREN\u0027 \u0026\u0026 kommunikationspotenzial \u003e= 7;\n\nlet visualStatus;\nlet instagramSharepicNoetig = false;\n\nif (!wantsVisual) {\n  visualStatus = \u0027no_visual\u0027;\n  instagramSharepicNoetig = false;\n} else if (visualReady) {\n  visualStatus = \u0027visual_topic_ok\u0027;\n  instagramSharepicNoetig = true;\n} else {\n  visualStatus = \u0027visual_topic_error\u0027;\n  instagramSharepicNoetig = false;\n}\n\nconst allErrors = [...sourceLockErrors, ...visualErrors, ...guardErrors];\n\nlet visualDecisionReason = \u0027\u0027;\n\nif (!wantsVisual) {\n  visualDecisionReason = \u0027Kein Sharepic nötig: Empfehlung/Kommunikationspotenzial reichen nicht für Bildfreigabe.\u0027;\n} else if (instagramSharepicNoetig) {\n  visualDecisionReason = \u0027Sharepic freigegeben: SourceLock und Visual-Anker vollständig, keine sensible Betroffenen-Pointe, keine Symbol-Drift.\u0027;\n} else {\n  visualDecisionReason = \u0027Sharepic blockiert: \u0027 + allErrors.join(\u0027 | \u0027);\n}\n\n// Freigabe nur dort deterministisch korrigieren, wo es eindeutig ist.\nconst beweissicherheit = enumValue(analysis.beweissicherheit ?? input.beweissicherheit, [\u0027NIEDRIG\u0027, \u0027MITTEL\u0027, \u0027HOCH\u0027], \u0027NIEDRIG\u0027);\nconst rechtlichesRisiko = enumValue(analysis.rechtlichesRisiko ?? input.rechtlichesRisiko, [\u0027NIEDRIG\u0027, \u0027MITTEL\u0027, \u0027HOCH\u0027], \u0027NIEDRIG\u0027);\n\nlet freigabeEmpfohlen = bool(analysis.freigabeEmpfohlen ?? input.freigabeEmpfohlen);\n\nif (empfehlung === \u0027REAGIEREN\u0027 \u0026\u0026 beweissicherheit !== \u0027NIEDRIG\u0027 \u0026\u0026 rechtlichesRisiko !== \u0027HOCH\u0027) {\n  freigabeEmpfohlen = true;\n}\n\nif (rechtlichesRisiko === \u0027HOCH\u0027 || beweissicherheit === \u0027NIEDRIG\u0027) {\n  freigabeEmpfohlen = false;\n}\n\n// FIX: Wenn P1 bereits contentJson/websiteHeadline erzeugt hat oder visualStatus\n// schon einen nachgelagerten P1/P2-Wert hat, darf dieser Reparatur-Workflow\n// visualStatus/status NICHT mit einer frisch aus sourceLock/visualAnchors\n// abgeleiteten Einschätzung überschreiben - das würde bereits erzeugten Content\n// und Sichtbarkeitsfortschritt stillschweigend zurücksetzen. sourceLock/\n// visualAnchors werden trotzdem repariert (das ist der eigentliche Zweck).\nfunction hasP1Content(row) {\n  if (safeStr(row.websiteHeadline)) return true;\n  const cj = safeStr(row.contentJson);\n  if (!cj || cj === \u0027{}\u0027 || cj === \u0027null\u0027) return false;\n  try {\n    const p = JSON.parse(cj);\n    return p \u0026\u0026 typeof p === \u0027object\u0027 \u0026\u0026 !Array.isArray(p) \u0026\u0026 Object.keys(p).length \u003e 0;\n  } catch (e) {\n    return false;\n  }\n}\n\nconst P1_P2_ADVANCED_VISUAL_STATUS = [\n  \u0027needs_visual_prompt\u0027, \u0027awaiting_headline_choice\u0027, \u0027headline_selected\u0027,\n  \u0027visual_prompt_ready\u0027, \u0027visual_prompt_error\u0027, \u0027visual_prompt_topic_error\u0027,\n  \u0027blocked_by_source_lock\u0027, \u0027blocked_by_content_error\u0027, \u0027force_visual_reset\u0027\n];\n\nconst downstreamProgressed = hasP1Content(input) || P1_P2_ADVANCED_VISUAL_STATUS.includes(safeStr(input.visualStatus));\n\nconst finalVisualStatus = downstreamProgressed\n  ? safeStr(input.visualStatus)\n  : (visualStatus === \u0027no_visual\u0027 ? (visualReady ? \u0027visual_topic_ok\u0027 : \u0027visual_topic_error\u0027) : visualStatus);\nconst finalInstagramSharepicNoetig = downstreamProgressed\n  ? bool(input.instagramSharepicNoetig ?? input.instagramCarouselNoetig ?? input.visualNeeded)\n  : instagramSharepicNoetig;\nconst finalVisualDecisionReason = downstreamProgressed\n  ? (safeStr(input.visualDecisionReason) || \u0027Bereits von P1/P2 weiterverarbeitet - visualStatus/status durch Repair-Workflow nicht überschrieben.\u0027)\n  : visualDecisionReason;\n\n// analysisJson synchronisieren.\nconst normalizedAnalysis = {\n  ...analysis,\n  empfehlung,\n  reaktionNoetig,\n  sprengstoff,\n  ampel,\n  kommunikationspotenzial,\n  relevanz,\n  satireIntensity,\n  beweissicherheit,\n  rechtlichesRisiko,\n  freigabeEmpfohlen,\n  instagramCarouselNoetig: finalInstagramSharepicNoetig,\n  visualStatus: finalVisualStatus,\n  sourceLock,\n  visualAnchors,\n  sourceLockValid,\n  sourceLockErrors,\n  visualAnchorsValid,\n  visualAnchorsErrors: visualErrors,\n  visualGuardErrors: guardErrors,\n  visualDecisionReason: finalVisualDecisionReason\n};\n\nconst finalStatus = downstreamProgressed\n  ? (input.status || \u0027content_generated\u0027)\n  : (input.status || (empfehlung === \u0027IGNORIEREN\u0027 ? \u0027processed\u0027 : \u0027needs_content\u0027));\n\nconst out = {\n  ...input,\n\n  analysisJson: JSON.stringify(normalizedAnalysis),\n\n  relevantScore: relevanz,\n  relevanz,\n  sprengstoff,\n  ampel,\n  beweissicherheit,\n  rechtlichesRisiko,\n  kommunikationspotenzial,\n  empfehlung,\n  reaktionNoetig,\n  freigabeEmpfohlen,\n  satireIntensity,\n\n  sourceLockValid,\n  sourceLockErrors: JSON.stringify(sourceLockErrors),\n\n  visualAnchorsValid,\n  visualAnchorsErrors: JSON.stringify(visualErrors),\n  visualGuardErrors: JSON.stringify(guardErrors),\n\n  visualStatus: finalVisualStatus,\n  instagramCarouselNoetig: finalInstagramSharepicNoetig,\n  instagramSharepicNoetig: finalInstagramSharepicNoetig,\n  visualNeeded: finalInstagramSharepicNoetig,\n\n  visualDecisionReason: finalVisualDecisionReason,\n  status: finalStatus,\n  lastAnalysisAt: new Date().toISOString(),\n\n  // Top-Level-Spiegelung für alte Nodes / Visual Prompt Builder.\n  sourceLock: JSON.stringify(sourceLock),\n\n  satireThemaKonkret: visualAnchors.satireThemaKonkret,\n  satireKonfliktKonkret: visualAnchors.satireKonfliktKonkret,\n  visualPflichtobjekte: JSON.stringify(visualAnchors.visualPflichtobjekte),\n  visualPflichthandlung: visualAnchors.visualPflichthandlung,\n  visualBetroffene: JSON.stringify(visualAnchors.visualBetroffene),\n  visualOrt: visualAnchors.visualOrt,\n  visualUeberzeichnung: visualAnchors.visualUeberzeichnung,\n  visualErkennungssatz: visualAnchors.visualErkennungssatz,\n  visualVerboteneErsatzmotive: JSON.stringify(visualAnchors.visualVerboteneErsatzmotive)\n};\n\nreturn { json: out };"},"id":"d7471a5c-2333-42e9-bcb9-4339fa82345b","name":"Parse Reparatur JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[4912,352]},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"hBLqpqeVEojPpOJl","mode":"list","cachedResultName":"allris_vorgaenge","cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"},"filters":{"conditions":[{"keyName":"vorgangKey","keyValue":"={{ $json.vorgangKey }}"}]},"columns":{"mappingMode":"defineBelow","value":{"analysisJson":"={{ $json.analysisJson }}","visualStatus":"={{ $json.visualStatus }}","instagramSharepicNoetig":"={{ $json.instagramSharepicNoetig }}","visualDecisionReason":"={{ $json.visualDecisionReason || '' }}","lastAnalysisAt":"={{ $now.toISO() }}","status":"={{ $json.status || 'analysis_error' }}"},"schema":[{"id":"analysisJson","displayName":"analysisJson","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"visualStatus","displayName":"visualStatus","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"instagramSharepicNoetig","displayName":"instagramSharepicNoetig","required":false,"defaultMatch":false,"display":true,"type":"boolean","readOnly":false,"removed":false},{"id":"visualDecisionReason","displayName":"visualDecisionReason","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"lastAnalysisAt","displayName":"lastAnalysisAt","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"status","displayName":"status","required":false,"defaultMatch":false,"display":true,"type":"string","readOnly":false,"removed":false}]},"options":{}},"id":"38a3a403-67ed-4b16-8c61-d3f4a9975bf2","name":"Speichere Reparatur","type":"n8n-nodes-base.dataTable","typeVersion":1,"position":[5136,352],"alwaysOutputData":true},{"parameters":{"jsCode":"// Prüft, ob eine reine Guard-Blockierung (sensible Betroffene als Bildszene/Metapher in\n// satireBrief/satirePunchlines/satireAngle/visualMetaphor) vorliegt, wobei sourceLock und\n// visualAnchors bereits gültig sind, und ob noch kein automatischer Reparaturversuch\n// stattgefunden hat (verhindert Endlosschleifen - max. 1 Versuch).\n\nfunction safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; } catch(e) { return {}; }\n}\nfunction asArr(v) {\n  if (Array.isArray(v)) return v.filter(Boolean).map(s => String(s).trim());\n  if (typeof v === 'string' && v.trim()) {\n    try { const p = JSON.parse(v); if (Array.isArray(p)) return p.filter(Boolean).map(s => String(s).trim()); } catch(e) {}\n    return v.split(/\\s*\\|\\s*/).filter(Boolean).map(s => String(s).trim());\n  }\n  return [];\n}\nfunction robustBool(v) {\n  if (v === true || v === 1) return true;\n  if (typeof v === 'string') { const s = v.trim().toLowerCase(); return s === 'true' || s === '1'; }\n  return false;\n}\nfunction normText(v) {\n  return safeStr(v).toLowerCase()\n    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue').replace(/ß/g, 'ss')\n    .replace(/[„\"\"'`´]/g, '').replace(/[^a-z0-9]+/g, ' ').replace(/\\s+/g, ' ').trim();\n}\n\nconst items = $input.all();\nif (!items || items.length === 0) {\n  return [{ json: { _guardRepairNeeded: false, _guardRepairSkipped: true, _guardRepairSkipReason: 'kein Input' } }];\n}\nconst rawItem = items[0];\nconst j = (rawItem && rawItem.json && typeof rawItem.json === 'object' && !Array.isArray(rawItem.json)) ? rawItem.json : {};\n\nif (!j.vorgangKey) {\n  return [{ json: { ...j, _guardRepairNeeded: false, _guardRepairSkipped: true, _guardRepairSkipReason: 'kein vorgangKey' } }];\n}\n\nconst analysis = parseObj(j.analysisJson);\nconst sl = parseObj(analysis.sourceLock || {});\nconst va = parseObj(analysis.visualAnchors || {});\n\nconst slOk = !!(\n  safeStr(sl.sourceTopic) && safeStr(sl.sourceConflict) &&\n  asArr(sl.requiredTerms).length >= 2 && asArr(sl.requiredObjects).length >= 2 &&\n  safeStr(sl.requiredAction) && robustBool(analysis.sourceLockValid)\n);\nconst vaOk = !!(\n  safeStr(va.satireThemaKonkret) && safeStr(va.satireKonfliktKonkret) &&\n  asArr(va.visualPflichtobjekte).length >= 2 && safeStr(va.visualPflichthandlung) &&\n  safeStr(va.visualErkennungssatz) && safeStr(va.visualUeberzeichnung) &&\n  asArr(va.visualVerboteneErsatzmotive).length >= 2 && robustBool(analysis.visualAnchorsValid)\n);\n\nconst wantsVisual = robustBool(j.visualNeeded) || robustBool(j.instagramSharepicNoetig) ||\n  (safeStr(analysis.empfehlung || j.empfehlung).toUpperCase() === 'REAGIEREN' &&\n   Number(analysis.kommunikationspotenzial ?? j.kommunikationspotenzial ?? 0) >= 7);\n\nconst sourceStrictText = [\n  j.title, j.vorgangsnummer, j.summaryText, j.thema, j.betroffene,\n  j.kostenHaushalt, j.buergerwirkung, j.offenePunkte, j.unsicherheitenSummary, j.combinedText\n].map(safeStr).join('\\n');\n\nconst sensitiveContextRe = /\\b(minderjaehrig|minderjährig|kind|kinder|schueler|schüler|schuelerin|schülerin|behinder|barrierefrei|barrierefreiheit|blind|sehbehindert|taub|krank|pflege|rollstuhl|gefluecht|geflücht|wohnungslose|obdachlos|armut|opfer|notlage)\\b/i;\nconst sensitiveContext = sensitiveContextRe.test(normText(sourceStrictText + ' ' + asArr(sl.affectedGroups).join(' ')));\n\nfunction isSensitivePersonObject(v) {\n  const n = normText(v);\n  if (!n) return false;\n  if (/\\b(rollstuhlrampe|rampe|barrierefreier zugang|barrierefreier taster|taster|signalgeber|bodenplatte|bodenplatten|leitstreifen|lichtsignalanlage)\\b/.test(n)) return false;\n  return /\\b(blinder|blinde|sehbehinderter|sehbehinderte|behinderter|behinderte|mensch mit behinderung|menschen mit behinderung|schueler|schuelerin|schüler|schülerin|kind|kinder|minderjaehriger|minderjährige|patient|patientin|pflegebeduerftiger|pflegebedürftige|rollstuhlfahrer|gefluechteter|geflüchtete|wohnungslose|obdachlose|kranker|kranke)\\b/.test(n);\n}\n\nfunction hasSensitiveMetaphor(text) {\n  if (!sensitiveContext) return false;\n  const n = normText(text);\n  if (/\\bblind(e|er|es|en)?\\s+(augen|sparschwein|haushalt|verwaltung|planung|politik|ampel|stadt)\\b/.test(n)) return true;\n  if (/\\b(taub(e|er|es|en)?|lahm(e|er|es|en)?|krank(e|er|es|en)?|hilflos(e|er|es|en)?)\\s+(verwaltung|planung|haushalt|politik|ampel|stadt)\\b/.test(n)) return true;\n  if (/barrierefreiheit.{0,30}\\b(luxus|spass|spaß|teurer spass|teurer spaß)\\b/.test(n)) return true;\n  if (/\\b(gefahrenszene|hilflosigkeit|panik|panisch|gefährdet|gefaehrdet|unfallopfer)\\b/.test(n)) return true;\n  return false;\n}\n\nconst visualText = [\n  va.visualUeberzeichnung, va.visualErkennungssatz, analysis.visualMetaphor,\n  analysis.satireBrief, analysis.satireAngle, asArr(analysis.satirePunchlines).join(' '),\n  analysis.moeglicheSatirischeReaktion\n].map(safeStr).join(' ');\n\nconst sensitiveObjectsFound = sensitiveContext ? [\n  ...asArr(va.visualPflichtobjekte).filter(isSensitivePersonObject),\n  ...asArr(sl.requiredObjects).filter(isSensitivePersonObject)\n] : [];\n\nconst guardBlocked = sensitiveObjectsFound.length > 0 || hasSensitiveMetaphor(visualText);\n\nconst alreadyAttempted = robustBool(analysis._guardRepairAttempted || j._guardRepairAttempted);\n\nconst guardRepairNeeded = wantsVisual && slOk && vaOk && guardBlocked && !alreadyAttempted;\n\nconst guardBlockedReasons = [\n  ...sensitiveObjectsFound.map(o => 'Sensible Betroffene als Bildobjekt: ' + o),\n  ...(hasSensitiveMetaphor(visualText) ? ['Sensible Betroffene erscheinen in Visual- oder Satirefeldern als Bildszene/Pointe'] : [])\n].join(' | ');\n\nreturn [{ json: {\n  ...j,\n  _guardRepairNeeded: guardRepairNeeded,\n  _guardRepairSkipped: false,\n  _guardBlockedReasons: guardBlockedReasons,\n  _guardAlreadyAttempted: alreadyAttempted,\n  satireTarget: j.satireTarget || analysis.satireTarget || ''\n} }];\n"},"id":"gd-000001-0000-4000-8000-000000000001","name":"Prüfe Guard-Repair-Bedarf","type":"n8n-nodes-base.code","typeVersion":2,"position":[6336,448]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"guard-repair-needed-001","leftValue":"={{ $json._guardRepairNeeded }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"gd-000002-0000-4000-8000-000000000002","name":"IF Guard-Reparatur nötig?","type":"n8n-nodes-base.if","typeVersion":2,"position":[6544,448]},{"parameters":{"modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"responses":{"values":[{"content":"=Du reparierst AUSSCHLIESSLICH die Bildmotiv-/Satirefelder einer bereits abgeschlossenen Ratsvorlagen-Analyse für den Rat der Stadt Goslar, weil sie sensible Betroffene (z.B. Kinder, Kranke, Menschen mit Behinderung, Geflüchtete, Obdachlose, Minderjährige, Opfer) als Bildszene oder Pointe zeigen.\n\nWICHTIG: Antworte AUSSCHLIESSLICH mit einem validen JSON-Objekt. Kein Markdown. Keine Codeblöcke. Keine Kommentare. Keine zusätzlichen Felder.\n\nDu darfst NUR satireBrief, satirePunchlines, satireAngle, visualMetaphor, visualUeberzeichnung, visualErkennungssatz und visualPflichthandlung zurückgeben. Alle anderen Bewertungsfelder bleiben unverändert und gehören NICHT in deine Antwort.\n\nVORGANG: {{ $json.vorgangKey }}\nVORGANGSNUMMER: {{ $json.vorgangsnummer }}\nBLOCKIERGRUND: {{ $json._guardBlockedReasons }}\n\nTITEL:\n{{ $json.title }}\n\nZUSAMMENFASSUNG (summaryText):\n{{ $json.summaryText }}\n\nBISHERIGES SATIREZIEL (satireTarget – bleibt inhaltlich unverändert):\n{{ $json.satireTarget }}\n\nBISHERIGE FELDER (fehlerhaft – zeigen sensible Betroffene als Bildszene/Pointe):\nsatireBrief: {{ $json.satireBrief }}\nsatirePunchlines: {{ $json.satirePunchlines }}\nsatireAngle: {{ $json.satireAngle }}\nvisualMetaphor: {{ $json.visualMetaphor }}\nvisualUeberzeichnung: {{ $json.visualUeberzeichnung }}\nvisualErkennungssatz: {{ $json.visualErkennungssatz }}\nvisualPflichthandlung: {{ $json.visualPflichthandlung }}\n\nAUFGABE:\nSchreibe diese Felder neu, sodass:\n- das gleiche reale Thema und dasselbe Satireziel (satireTarget) erhalten bleiben,\n- KEINE sensiblen Betroffenen (Kinder, Kranke, Menschen mit Behinderung, Geflüchtete, Obdachlose, Minderjährige, Opfer o.ä.) mehr als Bildmotiv, Bildszene oder Pointe auftauchen,\n- keine reale Gefahren- oder Notlagenszene mit Personen mehr abgebildet wird,\n- die Pointe stattdessen auf der Institution/Verwaltung/Politik selbst liegt (z.B. Bürokratie, Verzögerung, Symbole der Verwaltung), nicht auf Betroffenen,\n- keine neuen Fakten erfunden werden und der Bezug zum konkreten Vorgang klar erkennbar bleibt.\n\nAntworte NUR mit diesem JSON-Objekt (keine anderen Felder):\n{\n  \"satireBrief\": \"\",\n  \"satirePunchlines\": [\"\", \"\"],\n  \"satireAngle\": \"\",\n  \"visualMetaphor\": \"\",\n  \"visualUeberzeichnung\": \"\",\n  \"visualErkennungssatz\": \"\",\n  \"visualPflichthandlung\": \"\"\n}\n"}]},"builtInTools":{},"options":{}},"id":"gd-000003-0000-4000-8000-000000000003","name":"AI Reparatur Visual Guard","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.3,"position":[6752,448],"credentials":{"openAiApi":{"id":"RiT1gwJpQWzSo6NO","name":"OpenAI account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// Übernimmt die von \"AI Reparatur Visual Guard\" überarbeiteten Satire-/Bildfelder,\n// prüft den Guard erneut (identische Logik wie \"Parse Reparatur JSON\" / \"Prüfe Guard-Repair-Bedarf\")\n// und setzt visualStatus final. Max. 1 automatischer Versuch (_guardRepairAttempted verhindert Endlosschleife).\n\nfunction getAiText(item) {\n  try {\n    const j = item.json || {};\n    if (j.text \u0026\u0026 typeof j.text === \u0027string\u0027 \u0026\u0026 j.text.trim()) return j.text;\n    const o = j.output;\n    if (Array.isArray(o)) {\n      for (let i = 0; i \u003c o.length; i++) {\n        const c = o[i].content;\n        if (Array.isArray(c)) { for (let k = 0; k \u003c c.length; k++) { if (c[k].text) return c[k].text; } }\n      }\n    }\n    if (j.output_text) return j.output_text;\n    if (j.message \u0026\u0026 j.message.content) return j.message.content;\n    if (j.choices \u0026\u0026 j.choices[0] \u0026\u0026 j.choices[0].message) return j.choices[0].message.content || \u0027\u0027;\n    return \u0027\u0027;\n  } catch (e) { return \u0027\u0027; }\n}\nfunction extractJson(text) {\n  if (!text) return null;\n  const s = String(text).replace(/^```(?:json)?\\s*/i, \u0027\u0027).replace(/\\s*```\\s*$/i, \u0027\u0027).trim();\n  const a = s.indexOf(\u0027{\u0027), b = s.lastIndexOf(\u0027}\u0027);\n  return (a === -1 || b === -1 || b \u003c= a) ? null : s.slice(a, b + 1);\n}\nfunction safeStr(v) { return v === null || v === undefined ? \u0027\u0027 : String(v).trim(); }\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === \u0027object\u0027 \u0026\u0026 !Array.isArray(v)) return v;\n  if (typeof v === \u0027string\u0027) { try { const p = JSON.parse(v); return p \u0026\u0026 typeof p === \u0027object\u0027 \u0026\u0026 !Array.isArray(p) ? p : {}; } catch (e) {} }\n  return {};\n}\nfunction asArray(v) {\n  if (Array.isArray(v)) return v.filter(x =\u003e x !== null \u0026\u0026 x !== undefined \u0026\u0026 safeStr(x) !== \u0027\u0027).map(x =\u003e safeStr(x));\n  if (v === null || v === undefined || v === \u0027\u0027) return [];\n  if (typeof v === \u0027string\u0027) {\n    const t = v.trim();\n    if (!t) return [];\n    try { const p = JSON.parse(t); if (Array.isArray(p)) return p.filter(Boolean).map(x =\u003e safeStr(x)).filter(Boolean); } catch (e) {}\n    return t.split(/\\s*\\|\\s*/).map(x =\u003e safeStr(x)).filter(Boolean);\n  }\n  return [safeStr(v)].filter(Boolean);\n}\nfunction normText(v) {\n  return safeStr(v).toLowerCase()\n    .replace(/ä/g, \u0027ae\u0027).replace(/ö/g, \u0027oe\u0027).replace(/ü/g, \u0027ue\u0027).replace(/ß/g, \u0027ss\u0027)\n    .replace(/[„\"\"\u0027`´]/g, \u0027\u0027).replace(/[^a-z0-9]+/g, \u0027 \u0027).replace(/\\s+/g, \u0027 \u0027).trim();\n}\n\nlet input = {};\ntry {\n  const ref = $(\u0027Prüfe Guard-Repair-Bedarf\u0027).item;\n  if (ref \u0026\u0026 ref.json \u0026\u0026 typeof ref.json === \u0027object\u0027 \u0026\u0026 !Array.isArray(ref.json)) input = ref.json;\n} catch (e) { input = {}; }\n\nconst rawAiText = getAiText($input.item);\nconst aiJsonStr = extractJson(rawAiText);\nlet repaired = {};\nif (aiJsonStr) { try { repaired = JSON.parse(aiJsonStr) || {}; } catch (e) { repaired = {}; } }\n\nconst analysis = parseObj(input.analysisJson);\nconst sl = parseObj(analysis.sourceLock || {});\nconst va = parseObj(analysis.visualAnchors || {});\n\n// Überarbeitete Felder übernehmen, alles andere unverändert lassen.\nconst satireBrief = safeStr(repaired.satireBrief) || safeStr(analysis.satireBrief || input.satireBrief);\nconst satirePunchlines = asArray(repaired.satirePunchlines).length ? asArray(repaired.satirePunchlines) : asArray(analysis.satirePunchlines || input.satirePunchlines);\nconst satireAngle = safeStr(repaired.satireAngle) || safeStr(analysis.satireAngle || input.satireAngle);\nconst visualMetaphor = safeStr(repaired.visualMetaphor) || safeStr(analysis.visualMetaphor || input.visualMetaphor);\nva.visualUeberzeichnung = safeStr(repaired.visualUeberzeichnung) || safeStr(va.visualUeberzeichnung);\nva.visualErkennungssatz = safeStr(repaired.visualErkennungssatz) || safeStr(va.visualErkennungssatz);\nva.visualPflichthandlung = safeStr(repaired.visualPflichthandlung) || safeStr(va.visualPflichthandlung);\n\nanalysis.satireBrief = satireBrief;\nanalysis.satirePunchlines = satirePunchlines;\nanalysis.satireAngle = satireAngle;\nanalysis.visualMetaphor = visualMetaphor;\nanalysis.visualAnchors = va;\n\n// Guard erneut prüfen (identische Logik wie in \"Parse Reparatur JSON\").\nconst sourceStrictText = [\n  input.title, input.vorgangsnummer, input.summaryText, input.thema, input.betroffene,\n  input.kostenHaushalt, input.buergerwirkung, input.offenePunkte, input.unsicherheitenSummary, input.combinedText\n].map(safeStr).join(\u0027\\n\u0027);\n\nconst sensitiveContextRe = /\\b(minderjaehrig|minderjährig|kind|kinder|schueler|schüler|schuelerin|schülerin|behinder|barrierefrei|barrierefreiheit|blind|sehbehindert|taub|krank|pflege|rollstuhl|gefluecht|geflücht|wohnungslose|obdachlos|armut|opfer|notlage)\\b/i;\nconst sensitiveContext = sensitiveContextRe.test(normText(sourceStrictText + \u0027 \u0027 + asArray(sl.affectedGroups).join(\u0027 \u0027)));\n\nfunction isSensitivePersonObject(v) {\n  const n = normText(v);\n  if (!n) return false;\n  if (/\\b(rollstuhlrampe|rampe|barrierefreier zugang|barrierefreier taster|taster|signalgeber|bodenplatte|bodenplatten|leitstreifen|lichtsignalanlage)\\b/.test(n)) return false;\n  return /\\b(blinder|blinde|sehbehinderter|sehbehinderte|behinderter|behinderte|mensch mit behinderung|menschen mit behinderung|schueler|schuelerin|schüler|schülerin|kind|kinder|minderjaehriger|minderjährige|patient|patientin|pflegebeduerftiger|pflegebedürftige|rollstuhlfahrer|gefluechteter|geflüchtete|wohnungslose|obdachlose|kranker|kranke)\\b/.test(n);\n}\nfunction hasSensitiveMetaphor(text) {\n  if (!sensitiveContext) return false;\n  const n = normText(text);\n  if (/\\bblind(e|er|es|en)?\\s+(augen|sparschwein|haushalt|verwaltung|planung|politik|ampel|stadt)\\b/.test(n)) return true;\n  if (/\\b(taub(e|er|es|en)?|lahm(e|er|es|en)?|krank(e|er|es|en)?|hilflos(e|er|es|en)?)\\s+(verwaltung|planung|haushalt|politik|ampel|stadt)\\b/.test(n)) return true;\n  if (/barrierefreiheit.{0,30}\\b(luxus|spass|spaß|teurer spass|teurer spaß)\\b/.test(n)) return true;\n  if (/\\b(gefahrenszene|hilflosigkeit|panik|panisch|gefährdet|gefaehrdet|unfallopfer)\\b/.test(n)) return true;\n  return false;\n}\n\nconst visualText = [\n  va.visualUeberzeichnung, va.visualErkennungssatz, visualMetaphor, satireBrief, satireAngle,\n  satirePunchlines.join(\u0027 \u0027), analysis.moeglicheSatirischeReaktion\n].map(safeStr).join(\u0027 \u0027);\n\nconst sensitiveObjectsFound = sensitiveContext ? [\n  ...asArray(va.visualPflichtobjekte).filter(isSensitivePersonObject),\n  ...asArray(sl.requiredObjects).filter(isSensitivePersonObject)\n] : [];\n\nconst stillBlocked = sensitiveObjectsFound.length \u003e 0 || hasSensitiveMetaphor(visualText);\n\nlet visualStatus, instagramSharepicNoetig, visualDecisionReason;\nif (!stillBlocked) {\n  visualStatus = \u0027visual_topic_ok\u0027;\n  instagramSharepicNoetig = true;\n  visualDecisionReason = \u0027Sharepic freigegeben nach automatischer Entschärfung (sensible Betroffene aus Bildmotiv entfernt).\u0027;\n} else {\n  visualStatus = \u0027visual_topic_error\u0027;\n  instagramSharepicNoetig = false;\n  visualDecisionReason = \u0027Sharepic weiterhin blockiert auch nach automatischer Entschärfung: \u0027 +\n    [\n      ...sensitiveObjectsFound.map(o =\u003e \u0027Sensible Betroffene als Bildobjekt: \u0027 + o),\n      ...(hasSensitiveMetaphor(visualText) ? [\u0027Sensible Betroffene erscheinen weiterhin als Bildszene/Pointe\u0027] : [])\n    ].join(\u0027 | \u0027);\n}\n\n// FIX: Wenn P1 bereits contentJson/websiteHeadline erzeugt hat oder visualStatus\n// schon einen nachgelagerten P1/P2-Wert hat, darf dieser Guard-Reparatur-Schritt\n// visualStatus/status nicht mit der frisch berechneten Einschätzung überschreiben -\n// sonst wird bereits erzeugter Content/Sichtbarkeitsfortschritt zurückgesetzt.\nfunction hasP1Content(row) {\n  if (safeStr(row.websiteHeadline)) return true;\n  const cj = safeStr(row.contentJson);\n  if (!cj || cj === \u0027{}\u0027 || cj === \u0027null\u0027) return false;\n  try {\n    const p = JSON.parse(cj);\n    return p \u0026\u0026 typeof p === \u0027object\u0027 \u0026\u0026 !Array.isArray(p) \u0026\u0026 Object.keys(p).length \u003e 0;\n  } catch (e) {\n    return false;\n  }\n}\n\nconst P1_P2_ADVANCED_VISUAL_STATUS = [\n  \u0027needs_visual_prompt\u0027, \u0027awaiting_headline_choice\u0027, \u0027headline_selected\u0027,\n  \u0027visual_prompt_ready\u0027, \u0027visual_prompt_error\u0027, \u0027visual_prompt_topic_error\u0027,\n  \u0027blocked_by_source_lock\u0027, \u0027blocked_by_content_error\u0027, \u0027force_visual_reset\u0027\n];\n\nconst downstreamProgressed = hasP1Content(input) || P1_P2_ADVANCED_VISUAL_STATUS.includes(safeStr(input.visualStatus));\n\nconst finalVisualStatus = downstreamProgressed ? safeStr(input.visualStatus) : visualStatus;\nconst finalInstagramSharepicNoetig = downstreamProgressed\n  ? (input.instagramSharepicNoetig === true || input.instagramCarouselNoetig === true || input.visualNeeded === true)\n  : instagramSharepicNoetig;\nconst finalVisualDecisionReason = downstreamProgressed\n  ? (safeStr(input.visualDecisionReason) || \u0027Bereits von P1/P2 weiterverarbeitet - visualStatus/status durch Guard-Reparatur nicht überschrieben.\u0027)\n  : visualDecisionReason;\n\nanalysis._guardRepairAttempted = true;\nanalysis.visualStatus = finalVisualStatus;\n\nconst out = {\n  ...input,\n  analysisJson: JSON.stringify(analysis),\n  visualStatus: finalVisualStatus,\n  instagramSharepicNoetig: finalInstagramSharepicNoetig,\n  visualNeeded: finalInstagramSharepicNoetig,\n  instagramCarouselNoetig: finalInstagramSharepicNoetig,\n  visualDecisionReason: finalVisualDecisionReason,\n  status: downstreamProgressed ? (input.status || \u0027content_generated\u0027) : (input.status || \u0027needs_content\u0027),\n  lastAnalysisAt: new Date().toISOString(),\n  satireBrief,\n  satirePunchlines: JSON.stringify(satirePunchlines),\n  satireAngle,\n  visualMetaphor,\n  visualUeberzeichnung: va.visualUeberzeichnung,\n  visualErkennungssatz: va.visualErkennungssatz,\n  visualPflichthandlung: va.visualPflichthandlung,\n  _guardRepairAttempted: true\n};\n\nreturn { json: out };"},"id":"gd-000004-0000-4000-8000-000000000004","name":"Parse Guard-Reparatur JSON","type":"n8n-nodes-base.code","typeVersion":2,"position":[6960,448]},{"parameters":{"operation":"update","dataTableId":{"__rl":true,"value":"hBLqpqeVEojPpOJl","mode":"list","cachedResultName":"allris_vorgaenge","cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"},"filters":{"conditions":[{"keyName":"vorgangKey","keyValue":"={{ $json.vorgangKey }}"}]},"columns":{"mappingMode":"defineBelow","value":{"analysisJson":"={{ $json.analysisJson }}","visualStatus":"={{ $json.visualStatus }}","instagramSharepicNoetig":"={{ $json.instagramSharepicNoetig }}","visualDecisionReason":"={{ $json.visualDecisionReason || '' }}","lastAnalysisAt":"={{ $now.toISO() }}","status":"={{ $json.status || 'needs_content' }}","satireBrief":"={{ $json.satireBrief }}","satirePunchlines":"={{ $json.satirePunchlines }}","satireAngle":"={{ $json.satireAngle }}","visualMetaphor":"={{ $json.visualMetaphor }}","satireTarget":"={{ $json.satireTarget }}"},"matchingColumns":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"id":"gd-000005-0000-4000-8000-000000000005","name":"Speichere Guard-Reparatur","type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[7168,448]},{"parameters":{"jsCode":"// Repair-Sub-Workflow Ende - Rueckgabe an Aufrufer\nreturn [{ json: $input.item.json }];"},"id":"3576b6e4-0a8d-4dda-be10-6ee5597fe5d4","name":"Repair Abschluss","type":"n8n-nodes-base.code","typeVersion":2,"position":[7392,300]}],"pinData":{},"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Prüfe Repair-Bedarf","type":"main","index":0}]]},"Prüfe Repair-Bedarf":{"main":[[{"node":"IF Repair nötig?","type":"main","index":0}]]},"IF Repair nötig?":{"main":[[{"node":"AI Reparatur SourceLock+Anchors","type":"main","index":0}],[{"node":"Prüfe Guard-Repair-Bedarf","type":"main","index":0}]]},"AI Reparatur SourceLock+Anchors":{"main":[[{"node":"Parse Reparatur JSON","type":"main","index":0}]]},"Parse Reparatur JSON":{"main":[[{"node":"Speichere Reparatur","type":"main","index":0}]]},"Speichere Reparatur":{"main":[[{"node":"Prüfe Guard-Repair-Bedarf","type":"main","index":0}]]},"Prüfe Guard-Repair-Bedarf":{"main":[[{"node":"IF Guard-Reparatur nötig?","type":"main","index":0}]]},"IF Guard-Reparatur nötig?":{"main":[[{"node":"AI Reparatur Visual Guard","type":"main","index":0}],[{"node":"Repair Abschluss","type":"main","index":0}]]},"AI Reparatur Visual Guard":{"main":[[{"node":"Parse Guard-Reparatur JSON","type":"main","index":0}]]},"Parse Guard-Reparatur JSON":{"main":[[{"node":"Speichere Guard-Reparatur","type":"main","index":0}]]},"Speichere Guard-Reparatur":{"main":[[{"node":"Repair Abschluss","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"98fa00a5-4589-48a4-aac4-264edbc79b81","meta":{"instanceId":"3918cd7b1079333be95f7df5d1ce0c807af27c5d6c51c5bb061c962138165169"},"id":"a1e3c9f0-6b2d-4d7a-9c3e-repair0001wp","tags":[]}