ALLRIS_Claim_Lease.json
{
  "active": true,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node":"IF Release?","type":"main","index":0}]]
    },
    "IF Release?": {
      "main": [
        [{"node":"Release eigener Claim","type":"main","index":0}],
        [{"node":"Validiere Claim-Anforderung","type":"main","index":0}]
      ]
    },
    "Validiere Claim-Anforderung": {
      "main": [[{"node":"Erwerbe Claim CAS","type":"main","index":0}]]
    },
    "Erwerbe Claim CAS": {
      "main": [[{"node":"Lese Claim zurueck","type":"main","index":0}]]
    },
    "Lese Claim zurueck": {
      "main": [[{"node":"Bestaetige Claim","type":"main","index":0}]]
    }
  },
  "id": "D7cmBsy3exuOkBd9",
  "meta": null,
  "name": "ALLRIS_Claim_Lease",
  "nodes": [
    {
      "parameters": {"inputSource":"passthrough"},
      "id": "c3d4e5f6-1111-4c3d-8e4f-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [256,384]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},
          "conditions": [
            {
              "id": "c3d4e5f6-2222-4c3d-8e4f-000000000002",
              "leftValue": "={{ $json.claimAction }}",
              "rightValue": "release",
              "operator": {"type":"string","operation":"equals"}
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-3333-4c3d-8e4f-000000000003",
      "name": "IF Release?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [512,384]
    },
    {
      "parameters": {
        "jsCode": "const j = $json || {};\nif (j.claimAction !== 'acquire') throw new Error('[Claim] claimAction muss acquire oder release sein.');\nif (!String(j.vorgangKey || '').trim()) throw new Error('[Claim] vorgangKey fehlt.');\nif (!String(j.claimOwner || '').trim()) throw new Error('[Claim] claimOwner fehlt.');\nif (!String(j.claimStage || '').trim()) throw new Error('[Claim] claimStage fehlt.');\nconst minutes = Math.max(1, Math.min(120, Number(j.leaseMinutes || 30)));\nreturn [{ json: { ...j, leaseMinutes: minutes, claimAcquiredAt: $now.toISO(), claimExpiresAt: $now.plus({ minutes }).toISO() } }];"
      },
      "id": "c3d4e5f6-4444-4c3d-8e4f-000000000004",
      "name": "Validiere Claim-Anforderung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [768,496]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl":true,
          "value":"hBLqpqeVEojPpOJl",
          "mode":"list",
          "cachedResultName":"allris_vorgaenge",
          "cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {"keyName":"vorgangKey","keyValue":"={{ $json.vorgangKey }}"},
            {"keyName":"claim_owner","keyValue":"={{ $json.expectedClaimOwner }}"},
            {"keyName":"claim_expires_at","keyValue":"={{ $json.expectedClaimExpiresAt }}"}
          ]
        },
        "columns": {
          "mappingMode":"defineBelow",
          "value": {
            "claim_owner":"={{ $json.claimOwner }}",
            "claim_stage":"={{ $json.claimStage }}",
            "claim_acquired_at":"={{ $json.claimAcquiredAt }}",
            "claim_expires_at":"={{ $json.claimExpiresAt }}"
          },
          "matchingColumns":[],
          "schema":[]
        },
        "options":{}
      },
      "id": "c3d4e5f6-5555-4c3d-8e4f-000000000005",
      "name": "Erwerbe Claim CAS",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1024,496]
    },
    {
      "parameters": {
        "operation":"get",
        "dataTableId": {
          "__rl":true,
          "value":"hBLqpqeVEojPpOJl",
          "mode":"list",
          "cachedResultName":"allris_vorgaenge",
          "cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters":{"conditions":[{"keyName":"vorgangKey","keyValue":"={{ $('Validiere Claim-Anforderung').item.json.vorgangKey }}"}]},
        "returnAll":false,
        "limit":2
      },
      "id": "c3d4e5f6-6666-4c3d-8e4f-000000000006",
      "name": "Lese Claim zurueck",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [1280,496]
    },
    {
      "parameters": {
        "jsCode": "if (items.length !== 1) throw new Error(`[Claim] Re-Read lieferte ${items.length} Zeilen.`);\nconst row = items[0].json || {};\nconst request = $('Validiere Claim-Anforderung').item.json;\nconst acquired = String(row.claim_owner || '') === String(request.claimOwner || '');\nreturn [{ json: { ...row, claimAcquired: acquired, requestedClaimOwner: request.claimOwner } }];"
      },
      "id": "c3d4e5f6-7777-4c3d-8e4f-000000000007",
      "name": "Bestaetige Claim",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1536,496]
    },
    {
      "parameters": {
        "operation":"update",
        "dataTableId": {
          "__rl":true,
          "value":"hBLqpqeVEojPpOJl",
          "mode":"list",
          "cachedResultName":"allris_vorgaenge",
          "cachedResultUrl":"/projects/CrnegVcMvlcRU0OP/datatables/hBLqpqeVEojPpOJl"
        },
        "filters": {
          "conditions": [
            {"keyName":"vorgangKey","keyValue":"={{ $json.vorgangKey }}"},
            {"keyName":"claim_owner","keyValue":"={{ $json.claimOwner }}"}
          ]
        },
        "columns": {
          "mappingMode":"defineBelow",
          "value":{"claim_owner":null,"claim_stage":null,"claim_acquired_at":null,"claim_expires_at":null},
          "matchingColumns":[],
          "schema":[]
        },
        "options":{}
      },
      "id": "c3d4e5f6-8888-4c3d-8e4f-000000000008",
      "name": "Release eigener Claim",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [768,272]
    }
  ],
  "pinData": {},
  "settings": {"executionOrder":"v1"},
  "tags": [],
  "versionId": "e92036c6-86b4-4de0-a581-3079afd9f156"
}
