ALLRIS_QA_Agent.json
{
  "name": "ALLRIS_QA_Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d4b27531-bfba-472a-9eb1-e8b65afcdf7f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction parseObj(v) {\n  if (!v) return {};\n  if (typeof v === 'object' && !Array.isArray(v)) return v;\n  try { const p = JSON.parse(String(v)); return (p && typeof p === 'object' && !Array.isArray(p)) ? p : {}; }\n  catch (e) { return {}; }\n}\nfunction asArray(v) {\n  if (Array.isArray(v)) return v.filter(Boolean).map(x => safeStr(x));\n  if (typeof v === 'string' && v.trim()) {\n    try { const p = JSON.parse(v); if (Array.isArray(p)) return p.filter(Boolean).map(x => safeStr(x)); } catch (e) {}\n  }\n  return [];\n}\n\nconst row = $json;\nconst qaStage = safeStr(row.qaStage) || 'analyse';\nconst vorgangKey = safeStr(row.vorgangKey);\n\nif (!vorgangKey) {\n  return {\n    json: {\n      _qaAbort: true,\n      passed: false,\n      violations: [{ code: 'missing_vorgangKey', field: 'vorgangKey', message: 'Kein vorgangKey uebergeben - QA-Pruefung kann Zeile nicht zuordnen', severity: 'critical' }],\n      hallucinationSuspects: [],\n      sourceLockBreaches: [],\n      qaStage,\n      vorgangKey: '',\n      vorgangsnummer: safeStr(row.vorgangsnummer),\n      checkedAt: new Date().toISOString(),\n      aiSkipped: true,\n      skipAdversarialCheck: true\n    }\n  };\n}\n\nconst analysis = parseObj(row.analysisJson);\nconst content = parseObj(row.contentJson);\nconst visual = parseObj(row.visualJson);\n\n// SourceLock: kanonisch verschachtelt (analysisJson.sourceLock), Fallback auf P3b-Spiegelung (Top-Level row.sourceLock)\nconst rawSourceLock = (analysis.sourceLock && typeof analysis.sourceLock === 'object') ? analysis.sourceLock : parseObj(row.sourceLock);\nconst sourceLock = {\n  sourceTopic: safeStr(rawSourceLock.sourceTopic),\n  sourceConflict: safeStr(rawSourceLock.sourceConflict),\n  requiredTerms: asArray(rawSourceLock.requiredTerms),\n  requiredObjects: asArray(rawSourceLock.requiredObjects),\n  requiredAction: safeStr(rawSourceLock.requiredAction),\n  affectedGroups: asArray(rawSourceLock.affectedGroups),\n  forbiddenDrift: asArray(rawSourceLock.forbiddenDrift)\n};\n\n// VisualAnchors: kanonisch verschachtelt, sonst Fallback auf flache Top-Level-Felder (P3b-Muster)\nconst rawAnchors = (analysis.visualAnchors && typeof analysis.visualAnchors === 'object') ? analysis.visualAnchors : {\n  satireThemaKonkret: row.satireThemaKonkret,\n  satireKonfliktKonkret: row.satireKonfliktKonkret,\n  visualPflichtobjekte: row.visualPflichtobjekte,\n  visualPflichthandlung: row.visualPflichthandlung,\n  visualBetroffene: row.visualBetroffene,\n  visualOrt: row.visualOrt,\n  visualUeberzeichnung: row.visualUeberzeichnung,\n  visualErkennungssatz: row.visualErkennungssatz,\n  visualVerboteneErsatzmotive: row.visualVerboteneErsatzmotive\n};\nconst visualAnchors = {\n  satireThemaKonkret: safeStr(rawAnchors.satireThemaKonkret),\n  satireKonfliktKonkret: safeStr(rawAnchors.satireKonfliktKonkret),\n  visualPflichtobjekte: asArray(rawAnchors.visualPflichtobjekte),\n  visualPflichthandlung: safeStr(rawAnchors.visualPflichthandlung),\n  visualBetroffene: asArray(rawAnchors.visualBetroffene),\n  visualOrt: safeStr(rawAnchors.visualOrt),\n  visualUeberzeichnung: safeStr(rawAnchors.visualUeberzeichnung),\n  visualErkennungssatz: safeStr(rawAnchors.visualErkennungssatz),\n  visualVerboteneErsatzmotive: asArray(rawAnchors.visualVerboteneErsatzmotive)\n};\n\n// Zu pruefender Inhalt, je nach Stufe\nlet contentUnderReview = '';\nif (qaStage === 'content') {\n  contentUnderReview = [\n    content.kernbotschaft,\n    content.website && content.website.headline,\n    content.website && content.website.article,\n    content.facebook && content.facebook.post,\n    content.instagram && content.instagram.caption,\n    content.dieParteiReaktion && content.dieParteiReaktion.text,\n    content.pressStatement\n  ].map(safeStr).filter(Boolean).join('\\n');\n} else if (qaStage === 'visual_prompt') {\n  contentUnderReview = [\n    visual.imagePrompt,\n    visual.altText,\n    Array.isArray(visual.mustShow) ? visual.mustShow.join(', ') : '',\n    visual.visibleAction,\n    visual.recognitionSentence\n  ].map(safeStr).filter(Boolean).join('\\n');\n} else {\n  // 'analyse' / 'repair': keine generierte Prosa, nur Struktur pruefen\n  contentUnderReview = [analysis.kurzfassung, analysis.satireBrief, asArray(analysis.satirePunchlines).join(' ')]\n    .map(safeStr).filter(Boolean).join('\\n');\n}\n\nconst sourceFactsText = [safeStr(row.title), safeStr(row.summaryText), safeStr(row.combinedText)]\n  .filter(Boolean).join('\\n\\n').slice(0, 6000);\n\nreturn {\n  json: {\n    qaStage,\n    vorgangKey,\n    vorgangsnummer: safeStr(row.vorgangsnummer),\n    title: safeStr(row.title),\n    sourceLock,\n    visualAnchors,\n    contentUnderReview,\n    sourceFactsText,\n    skipAdversarialCheck: row.skipAdversarialCheck === true\n  }\n};"
      },
      "id": "aa03f1ff-a64a-411a-b05b-f11036f2c042",
      "name": "Normalisiere QA-Eingabe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction asArray(v) { return Array.isArray(v) ? v.filter(Boolean).map(safeStr) : []; }\n\nconst d0 = $json;\nif (d0._qaAbort) {\n  return { json: d0 };\n}\n\nconst sourceLock = d0.sourceLock || {};\nconst visualAnchors = d0.visualAnchors || {};\nconst qaStage = d0.qaStage;\nconst sourceFactsText = safeStr(d0.sourceFactsText);\nconst contentUnderReview = safeStr(d0.contentUnderReview);\n\nfunction normalizeText(v) {\n  return safeStr(v).toLowerCase()\n    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue').replace(/ß/g, 'ss');\n}\n\nconst sourceNorm = normalizeText(sourceFactsText);\n\nfunction sourceContainsExactTerm(term) {\n  const n = normalizeText(term);\n  if (!n || n.length < 3) return false;\n  return sourceNorm.includes(n);\n}\n\nconst genericObjectSet = new Set([\n  'stadt', 'verwaltung', 'politik', 'buerokratie', 'gerechtigkeit',\n  'haushalt', 'kosten', 'finanzierung', 'massnahme', 'verfahren',\n  'gremium', 'beschluss', 'antrag', 'vorlage', 'thema', 'konflikt', 'situation',\n  'problem', 'prioritaet', 'zustaendigkeit', 'planung', 'umsetzung'\n].map(normalizeText));\n\nconst forbiddenSymbolRe = /\\b(sparschwein|geldsack|waage|aktenberg|rathaus|nebel|monster|hai|haie|marionette|marionetten|theaterbuehne|theater|clown|clowns|maskottchen)\\b/;\n\nfunction isForbiddenSymbolObject(text) {\n  const n = normalizeText(text);\n  if (!n) return false;\n  if (!forbiddenSymbolRe.test(n)) return false;\n  return !sourceContainsExactTerm(text);\n}\n\nconst sensitiveContextText = normalizeText([sourceFactsText, asArray(sourceLock.affectedGroups).join(' '), contentUnderReview].join(' '));\nconst sensitiveContext = /\\b(minderjaehrig|minderjaehrige|kind|kinder|schueler|schuelerin|schuelerinnen|schuelern|behinderung|behindert|barrierefrei|barrierefreiheit|blind|blinde|blinder|sehbehindert|taub|krank|pflege|rollstuhl|gefluechtet|wohnungslos|obdachlos|armut|opfer|notlage)\\b/.test(sensitiveContextText);\n\nfunction isAllowedSensitiveSachobjekt(text) {\n  const n = normalizeText(text);\n  return /\\b(lichtsignalanlage|ampel|signalanlage|signalgeber|akustischer signalgeber|taster|tasterkasten|taktile bodenplatten|bodenplatten|leitstreifen|rampe|rollstuhlrampe|barrierefreier zugang|barrierefreier taster|bordsteinabsenkung|massnahmenplan|fussgaengerfurt|fussgaengerueberweg|querung|verkehrsinsel)\\b/.test(n);\n}\n\nfunction containsSensitivePerson(text) {\n  const n = normalizeText(text);\n  if (!n) return false;\n  if (isAllowedSensitiveSachobjekt(n)) return false;\n  return /\\b(blinder|blinde|blindem|blinden|sehbehinderter|sehbehinderte|sehbehinderten|mensch mit behinderung|menschen mit behinderung|behinderter|behinderte|behinderten|schueler|schuelerin|schuelerinnen|schuelern|kind|kinder|minderjaehriger|minderjaehrige|patient|patientin|pflegebeduerftiger|pflegebeduerftige|rollstuhlfahrer|gefluechteter|gefluechtete|wohnungsloser|wohnungslose|obdachloser|obdachlose|kranker|kranke)\\b/.test(n);\n}\n\nfunction containsSensitiveScene(text) {\n  const n = normalizeText(text);\n  if (!n || !sensitiveContext) return false;\n  if (/\\b(ein|eine|der|die|gruppe|gruppe von|mehrere|kleine gruppe)\\s+(blinder|blinde|blindem|blinden|sehbehinderter|sehbehinderte|sehbehinderten|schueler|schuelerin|schuelerinnen|kind|kinder|rollstuhlfahrer|behinderte|behinderten)\\b/.test(n)) return true;\n  if (/\\b(blinder|blinde|blinden|sehbehinderte|sehbehinderten|schueler|schuelerin|schuelerinnen|kind|kinder|rollstuhlfahrer|behinderte|behinderten)\\b.{0,90}\\b(tippt|drueckt|zeigt|stehen|steht|warten|wartet|laufen|laeuft|irren|irrt|suchen|sucht|stolpern|stolpert|queren|ueberqueren)\\b/.test(n)) return true;\n  if (/\\b(blinde|blinder|blinden|sehbehinderte|schueler|kinder|rollstuhlfahrer|behinderte)\\b.{0,120}\\b(gefahr|gefaehrdet|verunsichert|hilflos|panik|panisch|unfall|verkehrschaos|risiko|dramatisch)\\b/.test(n)) return true;\n  return false;\n}\n\nfunction containsSensitiveMetaphor(text) {\n  const n = normalizeText(text);\n  if (!n || !sensitiveContext) return false;\n  if (/\\bblind(e|er|es|en)?\\s+(sparschwein|haushalt|verwaltung|planung|politik|ampel|stadt|verfahren|rathaus)\\b/.test(n)) return true;\n  if (/\\b(taub(e|er|es|en)?|lahm(e|er|es|en)?|krank(e|er|es|en)?|hilflos(e|er|es|en)?)\\s+(verwaltung|planung|haushalt|politik|ampel|stadt|verfahren|rathaus)\\b/.test(n)) return true;\n  if (/barrierefreiheit.{0,60}\\b(luxus|spass|teurer spass|uebertriebene forderung)\\b/.test(n)) return true;\n  return false;\n}\n\nfunction isConcreteObject(text) {\n  const n = normalizeText(text);\n  if (!n || n.length < 3) return false;\n  if (genericObjectSet.has(n)) return false;\n  if (isForbiddenSymbolObject(text)) return false;\n  if (sensitiveContext && containsSensitivePerson(text)) return false;\n  return true;\n}\nfunction concreteCount(arr) { return asArray(arr).filter(isConcreteObject).length; }\n\nconst STOP = new Set(['aber','alle','alles','auch','auf','aus','bei','das','dass','dem','den','der','des','die','dies','diese','einem','einen','einer','eine','eines','fuer','gegen','haben','hier','ihre','ihren','ist','kann','mit','nach','nicht','oder','sich','sind','soll','sollen','sowie','ueber','und','vom','von','vor','werden','wird','zur','zum']);\nfunction tokens(value) { return normalizeText(value).replace(/[^a-z0-9\\s]+/g, ' ').split(/\\s+/).filter(t => t.length >= 4 && !STOP.has(t)); }\nfunction stem(token) { const t = normalizeText(token).replace(/\\s/g, ''); return t.length <= 5 ? t : t.substring(0, Math.max(5, Math.floor(t.length * 0.75))); }\nfunction containsTerm(text, term) {\n  const nt = normalizeText(text), nq = normalizeText(term);\n  if (!nt || !nq) return false;\n  if (nt.includes(nq)) return true;\n  const compactText = nt.replace(/\\s+/g, ''), compactTerm = nq.replace(/\\s+/g, '');\n  if (compactTerm.length >= 5 && compactText.includes(compactTerm)) return true;\n  const tt = tokens(text), qt = tokens(term);\n  if (!tt.length || !qt.length) return false;\n  return qt.some(q => { const qs = stem(q); return tt.some(t => { const ts = stem(t); return t === q || ts === qs || (qs.length >= 5 && t.includes(qs)) || (ts.length >= 5 && q.includes(ts)); }); });\n}\nfunction relatedToAnchor(text, anchor) {\n  const textTokens = tokens(text), anchorTokens = tokens(anchor);\n  if (!textTokens.length || !anchorTokens.length) return false;\n  let matches = 0;\n  for (const a of anchorTokens) { const as = stem(a); if (textTokens.some(t => t === a || stem(t) === as || (as.length >= 5 && t.includes(as)))) matches++; }\n  return matches >= (anchorTokens.length >= 4 ? 2 : 1);\n}\n\nfunction stemLight(w) {\n  return w.replace(/(ungen|ierung|heit|keit|schaft|tion|ieren|iere|iert|ung|lich|isch|ische|ischen|ischer|isches)$/, '').replace(/(en|er|em|es|e|n|s|t)$/, '');\n}\nfunction tokenOverlap(a, b) {\n  const tokensA = normalizeText(a).split(/[\\W_]+/).filter(w => w.length >= 4).map(stemLight);\n  const tokensB = normalizeText(b).split(/[\\W_]+/).filter(w => w.length >= 4).map(stemLight);\n  if (tokensA.some(w => tokensB.includes(w))) return true;\n  const rawA = normalizeText(a).replace(/[\\W_]+/g, ''), rawB = normalizeText(b).replace(/[\\W_]+/g, '');\n  for (const tok of tokensA) { if (tok.length >= 5 && rawB.includes(tok)) return true; }\n  for (const tok of tokensB) { if (tok.length >= 5 && rawA.includes(tok)) return true; }\n  return false;\n}\n\nconst violations = [];\n\nif (!sourceLock.sourceTopic) violations.push({ code: 'sourcelock_missing_topic', field: 'sourceLock.sourceTopic', message: 'sourceLock.sourceTopic fehlt', severity: 'high' });\nif (!sourceLock.sourceConflict) violations.push({ code: 'sourcelock_missing_conflict', field: 'sourceLock.sourceConflict', message: 'sourceLock.sourceConflict fehlt', severity: 'high' });\nif (asArray(sourceLock.requiredTerms).length < 2) violations.push({ code: 'sourcelock_few_terms', field: 'sourceLock.requiredTerms', message: 'sourceLock.requiredTerms enthaelt weniger als 2 Begriffe', severity: 'high' });\nif (concreteCount(sourceLock.requiredObjects) < 2) violations.push({ code: 'sourcelock_few_objects', field: 'sourceLock.requiredObjects', message: 'sourceLock.requiredObjects enthaelt weniger als 2 konkrete Objekte', severity: 'high' });\nif (!sourceLock.requiredAction) violations.push({ code: 'sourcelock_missing_action', field: 'sourceLock.requiredAction', message: 'sourceLock.requiredAction fehlt', severity: 'high' });\n\nconst hasAnchors = !!(visualAnchors.satireThemaKonkret || qaStage === 'visual_prompt');\nif (hasAnchors) {\n  if (!visualAnchors.satireThemaKonkret) violations.push({ code: 'anchors_missing_thema', field: 'visualAnchors.satireThemaKonkret', message: 'satireThemaKonkret fehlt', severity: 'medium' });\n  if (!visualAnchors.satireKonfliktKonkret) violations.push({ code: 'anchors_missing_konflikt', field: 'visualAnchors.satireKonfliktKonkret', message: 'satireKonfliktKonkret fehlt', severity: 'medium' });\n  if (concreteCount(visualAnchors.visualPflichtobjekte) < 2) violations.push({ code: 'anchors_few_objects', field: 'visualAnchors.visualPflichtobjekte', message: 'visualPflichtobjekte enthaelt weniger als 2 konkrete Objekte', severity: 'medium' });\n  if (!visualAnchors.visualPflichthandlung) violations.push({ code: 'anchors_missing_handlung', field: 'visualAnchors.visualPflichthandlung', message: 'visualPflichthandlung fehlt', severity: 'medium' });\n  if (!visualAnchors.visualErkennungssatz) violations.push({ code: 'anchors_missing_erkennungssatz', field: 'visualAnchors.visualErkennungssatz', message: 'visualErkennungssatz fehlt', severity: 'medium' });\n  if (asArray(visualAnchors.visualVerboteneErsatzmotive).length < 2) violations.push({ code: 'anchors_few_forbidden', field: 'visualAnchors.visualVerboteneErsatzmotive', message: 'visualVerboteneErsatzmotive enthaelt weniger als 2 Eintraege', severity: 'medium' });\n}\n\nconst guardScanText = [visualAnchors.visualPflichthandlung, visualAnchors.visualUeberzeichnung, visualAnchors.visualErkennungssatz, contentUnderReview].map(safeStr).join(' ');\nconst sensitivePersonObjects = [...asArray(visualAnchors.visualPflichtobjekte), ...asArray(sourceLock.requiredObjects)].filter(x => sensitiveContext && containsSensitivePerson(x));\nif (sensitivePersonObjects.length > 0) violations.push({ code: 'guard_sensitive_object', field: 'visualPflichtobjekte/requiredObjects', message: 'Sensible Betroffene als Pflichtobjekt erkannt: ' + sensitivePersonObjects.join(', '), severity: 'critical' });\nif (sensitiveContext && containsSensitiveScene(guardScanText)) violations.push({ code: 'guard_sensitive_scene', field: 'contentUnderReview', message: 'Sensible Betroffene erscheinen als Bildszene/Pointe', severity: 'critical' });\nif (sensitiveContext && containsSensitiveMetaphor(guardScanText)) violations.push({ code: 'guard_sensitive_metaphor', field: 'contentUnderReview', message: 'Schutzlage wird als Metapher/Wortspiel verwendet', severity: 'critical' });\nconst forbiddenSymbols = [...asArray(visualAnchors.visualPflichtobjekte), ...asArray(sourceLock.requiredObjects)].filter(isForbiddenSymbolObject);\nif (forbiddenSymbols.length > 0) violations.push({ code: 'guard_symbol_drift', field: 'visualPflichtobjekte/requiredObjects', message: 'Symbol-Drift erkannt: ' + forbiddenSymbols.join(', '), severity: 'high' });\n\nif (contentUnderReview && (qaStage === 'content' || qaStage === 'visual_prompt')) {\n  const concreteTerms = asArray(sourceLock.requiredTerms).filter(t => !genericObjectSet.has(normalizeText(t)));\n  const requiredTermFound = concreteTerms.some(term => containsTerm(contentUnderReview, term));\n  const sourceTopicFound = sourceLock.sourceTopic ? relatedToAnchor(contentUnderReview, sourceLock.sourceTopic) : false;\n  const sourceConflictFound = sourceLock.sourceConflict ? relatedToAnchor(contentUnderReview, sourceLock.sourceConflict) : false;\n  if (!(requiredTermFound || sourceTopicFound || sourceConflictFound)) {\n    violations.push({ code: 'content_no_sourcelock_match', field: 'contentUnderReview', message: 'Generierter Inhalt enthaelt keinen erkennbaren Bezug zu sourceTopic, sourceConflict oder requiredTerms', severity: 'critical' });\n  }\n}\n\nif (qaStage === 'visual_prompt') {\n  const pflicht = asArray(visualAnchors.visualPflichtobjekte);\n  if (pflicht.length >= 2 && contentUnderReview) {\n    const covered = pflicht.filter(p => tokenOverlap(contentUnderReview, p));\n    if (covered.length < 2) {\n      violations.push({ code: 'visual_mustshow_mismatch', field: 'visual.mustShow', message: 'Bildinhalt deckt Pflichtobjekte nicht ab (gefunden: ' + covered.length + ' von ' + pflicht.length + ')', severity: 'high' });\n    }\n  }\n}\n\nconst sourceLockBreachesDeterministic = violations.filter(v => v.code.indexOf('sourcelock_') === 0 || v.code === 'content_no_sourcelock_match' || v.code === 'visual_mustshow_mismatch');\n\nreturn {\n  json: {\n    ...d0,\n    deterministicViolations: violations,\n    deterministicPassed: violations.length === 0,\n    _sourceLockBreachesDeterministic: sourceLockBreachesDeterministic\n  }\n};"
      },
      "id": "68fbd7b0-3229-4bd4-99da-9f79b1f97872",
      "name": "Deterministische Regelprüfung",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -368,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "a3d1e6c2-6b1b-4a9a-9e1a-7a1c2f0a11aa",
              "leftValue": "={{ $json.skipAdversarialCheck }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "8eab157a-6f24-4212-b892-30a35a7f4023",
      "name": "Skip AI Check?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -208,
        128
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: {\n    ...$json,\n    hallucinationSuspects: [],\n    sourceLockDrift: [],\n    aiSkipped: true,\n    aiParseError: false\n  }\n};"
      },
      "id": "c93a8914-dc05-4e15-bdb5-d9859fe5a6bd",
      "name": "Baue Leeren KI-Befund",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        32
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function safeStr(v) { return v === null || v === undefined ? '' : String(v).trim(); }\nfunction asArr(v) { return Array.isArray(v) ? v : []; }\n\nfunction getAiText(j) {\n  if (typeof j.content === 'string') return j.content;\n  if (typeof j.text === 'string') return j.text;\n  if (j.message && typeof j.message.content === 'string') return j.message.content;\n  if (Array.isArray(j.choices) && j.choices[0] && j.choices[0].message) return safeStr(j.choices[0].message.content);\n  return safeStr(JSON.stringify(j));\n}\n\nfunction extractJson(text) {\n  const t = safeStr(text).replace(/```json/gi, '```').replace(/```/g, '');\n  const start = t.indexOf('{');\n  const end = t.lastIndexOf('}');\n  if (start === -1 || end === -1 || end < start) return null;\n  try { return JSON.parse(t.substring(start, end + 1)); } catch (e) { return null; }\n}\n\nconst base = $('Deterministische Regelprüfung').item.json;\nconst aiText = getAiText($json);\nconst parsed = extractJson(aiText);\n\nif (!parsed) {\n  return {\n    json: {\n      ...base,\n      hallucinationSuspects: [{ claim: '(KI-Pruefung nicht auswertbar)', whyProblematic: 'Antwort konnte nicht als JSON geparst werden', severity: 'unknown' }],\n      sourceLockDrift: [],\n      aiParseError: true,\n      aiSkipped: false\n    }\n  };\n}\n\nreturn {\n  json: {\n    ...base,\n    hallucinationSuspects: asArr(parsed.hallucinationSuspects),\n    sourceLockDrift: asArr(parsed.sourceLockDrift),\n    aiParseError: false,\n    aiSkipped: false\n  }\n};"
      },
      "id": "b2e46df4-e62f-4e17-b960-ff46f4b5183b",
      "name": "Parse KI-Befund",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        224
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function asArr(v) { return Array.isArray(v) ? v : []; }\n\nconst d = $json;\n\nif (d._qaAbort) {\n  return { json: d };\n}\n\nconst deterministicViolations = asArr(d.deterministicViolations);\nconst hallucinationSuspects = asArr(d.hallucinationSuspects);\nconst sourceLockDrift = asArr(d.sourceLockDrift);\n\nconst allViolations = [\n  ...deterministicViolations,\n  ...sourceLockDrift.map(x => ({ code: 'ai_sourcelock_drift', field: 'contentUnderReview', message: (x.claim || '') + ' - ' + (x.whyProblematic || ''), severity: x.severity || 'medium' }))\n];\n\nconst passed = allViolations.length === 0 && hallucinationSuspects.length === 0;\n\nconst sourceLockBreaches = [\n  ...asArr(d._sourceLockBreachesDeterministic),\n  ...sourceLockDrift\n];\n\nreturn {\n  json: {\n    passed,\n    violations: allViolations,\n    hallucinationSuspects,\n    sourceLockBreaches,\n    qaStage: d.qaStage,\n    vorgangKey: d.vorgangKey,\n    vorgangsnummer: d.vorgangsnummer,\n    checkedAt: new Date().toISOString(),\n    aiSkipped: d.aiSkipped === true,\n    aiParseError: d.aiParseError === true\n  }\n};"
      },
      "id": "e9707df3-3fd3-412a-b6f2-49094322f73a",
      "name": "Berechne QA-Gesamtverdikt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        128
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ (() => { const v = $json.deterministicViolations || []; const violLines = v.map(x => '- ' + x.message).join('\\n') || '(keine)'; const sl = $json.sourceLock || {}; return `Du bist ein adversarialer Faktenpruefer fuer eine Satire-Pipeline zu Kommunalpolitik in Goslar (ALLRIS / DIE PARTEI Kreisverband Goslar). Deine einzige Aufgabe: Probleme finden. Du bestaetigst nichts, du lobst nichts, du bescheinigst keine Qualitaet. Wenn du nichts findest, gib leere Arrays zurueck - ohne zusaetzlichen Kommentar.\n\nGRUNDLAGE (Fakten, nicht anzweifeln):\nTitel: ${$json.title}\nQuelltext (Auszug): ${$json.sourceFactsText}\nSourceLock - sourceTopic: ${sl.sourceTopic}; sourceConflict: ${sl.sourceConflict}; requiredTerms: ${JSON.stringify(sl.requiredTerms)}; requiredObjects: ${JSON.stringify(sl.requiredObjects)}; requiredAction: ${sl.requiredAction}; forbiddenDrift: ${JSON.stringify(sl.forbiddenDrift)}\n\nZU PRUEFENDER INHALT (Stufe: ${$json.qaStage}):\n${$json.contentUnderReview || '(kein generierter Text auf dieser Stufe - nur Struktur wurde bereits geprueft)'}\n\nBEREITS BEKANNTE STRUKTURELLE VERSTOESSE (nicht wiederholen):\n${violLines}\n\nWAS DU SUCHST:\n1. Behauptungen im geprueften Inhalt, die nicht durch die Grundlage gedeckt sind (Halluzination).\n2. Subtile Abweichung von sourceTopic, sourceConflict oder requiredTerms - falsche Zahlen, falsche Namen oder Institutionen, Tatsachenbehauptungen, die im Quelltext so nicht stehen.\n3. Widersprueche zwischen SourceLock und dem geprueften Inhalt.\n\nWAS KEIN FEHLER IST: Satirische Uebertreibung, Zuspitzung, Pointen - das ist erwuenscht. Nur erfundene Fakten sind ein Fehler, nicht der Ton.\n\nAntworte ausschliesslich mit einem JSON-Objekt, keine Markdown-Codebloecke, kein Text davor oder danach. Felder: hallucinationSuspects (Array von Objekten mit claim, whyProblematic, severity als low, medium, high oder critical) und sourceLockDrift (gleiche Struktur, aber fuer Abweichungen vom SourceLock statt reiner Erfindung).\n\nErfinde keinen Fehler, um gruendlich zu wirken. Leere Arrays sind ein gueltiges und erwartetes Ergebnis, wenn nichts falsch ist.`; })() }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        -16,
        224
      ],
      "id": "99d36fb9-a1fc-44f4-bcd5-98ce449fb188",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "RiT1gwJpQWzSo6NO",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalisiere QA-Eingabe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalisiere QA-Eingabe": {
      "main": [
        [
          {
            "node": "Deterministische Regelprüfung",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministische Regelprüfung": {
      "main": [
        [
          {
            "node": "Skip AI Check?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip AI Check?": {
      "main": [
        [
          {
            "node": "Baue Leeren KI-Befund",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baue Leeren KI-Befund": {
      "main": [
        [
          {
            "node": "Berechne QA-Gesamtverdikt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse KI-Befund": {
      "main": [
        [
          {
            "node": "Berechne QA-Gesamtverdikt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse KI-Befund",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}